{% load krono_urls %}
<div class="card container {% block container_classes %}{% endblock %}" style="z-index: {{ zindex }}" {% if form %}x-data="{title: '{{ card.title | escapejs }}', description: '{{ card.description | escapejs }}', smalltext: '{{ card.smalltext | escapejs }}'}" {% endif %}>
    {% block content_body %}{% endblock %}

    {% block component_menu_off_canvas %}
    {% if form %}
        <div class="component-menu--off-canvas">
            <button type="button" @click="hasChanges = true" class="up" aria-label="Move up">Move up</button>
            <button type="button" @click="hasChanges = true" class="down" aria-label="Move down">Move down</button>
            <button type="button" @click="hasChanges = true" class="delete" aria-label="Delete">Delete</button>
            <div x-data="{open: false}">
                <button type="button" aria-label="Change Card" @click="open=!open">Change card</button>
                <div class="toolbar" x-show="open">
                    <button class="toolbar__button--icon" @click="open=false; hasChanges=true" hx-target="closest .card" hx-swap="outerHTML" hx-include="closest .card" hx-get="{% krono_url "kronofoto:exhibit-recard" pk=exhibit.pk %}" hx-vals='{"assign_type":"text"}' hx-select=".card"><i class="icon--add-text">Text Card</i></button>
                    <button class="toolbar__button--icon" @click="open=false; hasChanges=true" hx-target="closest .card" hx-swap="outerHTML" hx-include="closest .card" hx-get="{% krono_url "kronofoto:exhibit-recard" pk=exhibit.pk %}" hx-vals='{"assign_type":"figure_list", "count": 1}' hx-select=".card"><i class="icon--add-text-image">Photo Card</i></button>
                    <button class="toolbar__button--icon" @click="open=false; hasChanges=true" hx-target="closest .card" hx-swap="outerHTML" hx-include="closest .card" hx-get="{% krono_url "kronofoto:exhibit-recard" pk=exhibit.pk %}" hx-vals='{"assign_type": "figure_list", "count": 2}' hx-select=".card"><i class="icon--add-text-image-2"></i></button>
                    <button class="toolbar__button--icon" @click="open=false; hasChanges=true" hx-target="closest .card" hx-swap="outerHTML" hx-include="closest .card" hx-get="{% krono_url "kronofoto:exhibit-recard" pk=exhibit.pk %}" hx-vals='{"assign_type":"figure_list", "count": 3}' hx-select=".card"><i class="icon--add-text-image-3"></i></button>
                    <button class="toolbar__button--icon" @click="open=false; hasChanges=true" hx-target="closest .card" hx-swap="outerHTML" hx-include="closest .card" hx-get="{% krono_url "kronofoto:exhibit-recard" pk=exhibit.pk %}" hx-vals='{"assign_type": "photo", "assign_alignment": 2}' hx-select=".card"><i class="icon--add-image-left"></i></button>
                    <button class="toolbar__button--icon" @click="open=false; hasChanges=true" hx-target="closest .card" hx-swap="outerHTML" hx-include="closest .card" hx-get="{% krono_url "kronofoto:exhibit-recard" pk=exhibit.pk %}" hx-vals='{"assign_type": "photo", "assign_alignment": 3}' hx-select=".card"><i class="icon--add-image-right"></i></button>
                    <button class="toolbar__button--icon" @click="open=false; hasChanges=true" hx-target="closest .card" hx-swap="outerHTML" hx-include="closest .card" hx-get="{% krono_url "kronofoto:exhibit-recard" pk=exhibit.pk %}" hx-vals='{"assign_type": "photo", "assign_alignment": 1}' hx-select=".card"><i class="icon--add-image-full"></i></button>
                </div>
            </div>
        </div>
    {% endif %}
    {% endblock component_menu_off_canvas %}

    {% block formfields %}
    {% if form %}
        {% for field in form %}
            {% if field != form.fill_style %}
            {{ field }}
            {% endif %}
        {% endfor %}
        <input type="hidden" name="prefix" value="{{ form.prefix }}">
    {% endif %}
    {% endblock formfields %}
</div>
{% if form %}
<div x-data="{open: false}" class="between-card" x-bind:class="{ 'opened': open }">
    <button type="button" class="between-card__add-button" aria-label="Insert Card" @click="open=!open">Insert card</button>
    <div class="between-card__indicator"></div>
    <div class="toolbar" x-show="open">
        <label class="toolbar__label">Add a content block</label>
        <div class="toolbar__buttons">
            <button class="toolbar__button--icon" @click="open=false; hasChanges=true" hx-target="closest .between-card" hx-swap="afterend" hx-get="{% krono_url "kronofoto:exhibit-card-form" pk=exhibit.id card_type="text" %}"><i class="icon--add-text">Text Card</i></button>
            <button class="toolbar__button--icon" @click="open=false; hasChanges=true" hx-target="closest .between-card" hx-swap="afterend" hx-get="{% krono_url "kronofoto:exhibit-card-form" pk=exhibit.id card_type="figure" %}?count=1"><i class="icon--add-text-image">Photo Card</i></button>
            <button class="toolbar__button--icon" @click="open=false; hasChanges=true" hx-target="closest .between-card" hx-swap="afterend" hx-get="{% krono_url "kronofoto:exhibit-card-form" pk=exhibit.id card_type="figure" %}?count=2"><i class="icon--add-text-image-2"></i></button>
            <button class="toolbar__button--icon" @click="open=false; hasChanges=true" hx-target="closest .between-card" hx-swap="afterend" hx-get="{% krono_url "kronofoto:exhibit-card-form" pk=exhibit.id card_type="figure" %}?count=3"><i class="icon--add-text-image-3"></i></button>
            <button class="toolbar__button--icon" @click="open=false; hasChanges=true" hx-target="closest .between-card" hx-swap="afterend" hx-get="{% krono_url "kronofoto:exhibit-card-form" pk=exhibit.id card_type="photo" %}?align=2"><i class="icon--add-image-left"></i></button>
            <button class="toolbar__button--icon" @click="open=false; hasChanges=true" hx-target="closest .between-card" hx-swap="afterend" hx-get="{% krono_url "kronofoto:exhibit-card-form" pk=exhibit.id card_type="photo" %}?align=3"><i class="icon--add-image-right"></i></button>
            <button class="toolbar__button--icon" @click="open=false; hasChanges=true" hx-target="closest .between-card" hx-swap="afterend" hx-get="{% krono_url "kronofoto:exhibit-card-form" pk=exhibit.id card_type="photo" %}?align=1"><i class="icon--add-image-full"></i></button>
        </div>
    </div>
</div>
{% endif %}
