{% extends "./sitewrapper_base.html" %}

{% load krono_urls %}
{% load widgets %}

{% block header_title %}
    {{ form.name.errors }}
    <div class="header__title" data-copy-source="content-editable-name">
        {{ exhibit.name }}
    </div>
{% endblock %}

{% block hero_content_wrapper %}
    <div class="hero__title">
        {{ form.title.errors }}
        <h1 contenteditable="{{ contenteditable }}" role="textbox" @input="title = $el.innerText">{{ exhibit.title }}</h1>
    </div>
    {{ form.description.errors }}
    <p class="hero__content" contenteditable="{{ contenteditable }}" role="textbox" @input="description = $el.innerText">{{ exhibit.description }}</p>
    {{ form.smalltext.errors }}
    <p class="hero__content" contenteditable="{{ contenteditable }}" role="textbox" @input="smalltext = $el.innerText">{{ exhibit.smalltext }}</p>
{% endblock hero_content_wrapper %}

{% block hero_background %}
    {{ form.photo.errors }}
    <div class="hero__edit-image-button" hx-get="{% krono_url "kronofoto:exhibit-images" pk=exhibit.pk %}?target={{ form.photo.auto_id }}" hx-target="#add-image-modal"></div>
    <div class="hero__background"
        hx-get="{% krono_url "kronofoto:exhibit-full-image" %}" hx-include="#{{ form.photo.auto_id }}" hx-vals='{"html_name": "{{ form.photo.html_name }}" }' hx-trigger="change from:#{{ form.photo.auto_id }}">
        {% if exhibit.photo %}
        <img src="{% image_url id=exhibit.photo.id path=exhibit.photo.original.name width=2000 %}">
        {% endif %}
    </div>
{% endblock hero_background %}

{% block info_text %}
    <div class="info-button__text" hx-get="{% krono_url "kronofoto:attribution" %}" hx-include="#{{ form.photo.auto_id }}" hx-vals='{"html_name": "{{ form.photo.html_name }}" }' hx-trigger="change from:#{{ form.photo.auto_id }}">{% include "kronofoto/components/attribution.html" with object=exhibit.photo %}</div>
{% endblock info_text %}

{% block hero_formfields %}
    {% for field in form %}
        {% if field != form.title and field != form.description and field != form.smalltext and field != form.name and field != form.credits %}
        {{ field.as_hidden }}
        {% endif %}
    {% endfor %}
    <input type="hidden" name="{{ form.title.html_name }}" x-model="title">
    <input type="hidden" name="{{ form.description.html_name }}" x-model="description">
    <input type="hidden" name="{{ form.smalltext.html_name }}" x-model="smalltext">
    <input type="hidden" name="{{ form.credits.html_name }}" x-model="credits">
    <input type="hidden" name="{{ form.name.html_name }}" x-model="name">
{% endblock hero_formfields %}


