{% load krono_urls %}

<div class="site-wrapper">
    <header class="header">
        {% block header_logo %}
            <div class="header__logo">
            </div>
        {% endblock %}
        {% block header_title %}{% endblock %}
    </header>

    <div class="hero" 
        {% if form %}
        x-data="{
            title: '{{ exhibit.title | escapejs }}',
            description: '{{ exhibit.description | escapejs }}',
            smalltext: '{{ exhibit.smalltext | escapejs }}',
        }"
        {% endif %}
    >
        <div class="hero__content-wrapper">
            {% block hero_content_wrapper %}{% endblock %}
        </div>
        {% block hero_background %}{% endblock %}
        {% if exhibit.photo %}
        <a href="{% object_url exhibit.photo %}" target="_blank" class="hero__info-button info-button info-button--bottom">
            <span class="info-button__icon"></span>
            {% block info_text %}{% endblock %}
        </a>
        {% endif %}
        {% block hero_formfields %}{% endblock %}
    </div>
    {% for card in cards %}
    {% include card.template with card=card.card zindex=card.zindex edit=card.edit form=card.form exhibit=exhibit image_area_classes=card.image_area_classes %}
    {% endfor %}
</div>

