{% extends "./sitewrapper_base.html" %}

{% load widgets %}

{% block header_title %}
<div class="header__title">
    {{ exhibit.name }}
</div>
{% endblock %}

{% block hero_content_wrapper %}
    <div class="hero__title">
        <h1>{{ exhibit.title | markdown:"nl2br" | p_to_br }}</h1>
    </div>
    <div class="hero__content">
        {{ exhibit.description | markdown:"nl2br" }}
    </div>
    <div class="hero__content text-small">
        {{ exhibit.smalltext | markdown:"nl2br" }}
    </div>
{% endblock hero_content_wrapper %}
{% block hero_background %}
<div class="hero__background">
    {% if exhibit.photo %}
    <img src="{% image_url id=exhibit.photo.id path=exhibit.photo.original.name width=2000 %}">
    {% endif %}
</div>
{% endblock hero_background %}

{% block info_text %}
<div class="info-button__text">{% include "kronofoto/components/attribution.html" with object=exhibit.photo %}</div>
{% endblock info_text %}
