{% load krono_urls %}

<div class="site-wrapper">
    <header class="header">
        {% block header_logo %}
            <div class="header__logo">
            </div>
        {% endblock %}
        {% block header_title %}{% endblock %}
    </header>

    <div class="hero {% if exhibit.photo is empty %}hero--empty{% endif %}"
        {% if form %}
        x-data="{
            title: '{{ exhibit.title | escapejs }}',
            description: '{{ exhibit.description | escapejs }}',
            smalltext: '{{ exhibit.smalltext | escapejs }}',
        }"
        {% endif %}
    >
        <div class="hero__content-wrapper">
            {% block hero_content_wrapper %}{% endblock %}
        </div>
        {% block hero_background %}{% endblock %}
        {% if exhibit.photo %}
        {% include "kronofoto/components/exhibit/info-button.html" with photo=exhibit.photo %}
        {% elif form %}
            <div
                hx-get="{% krono_url "kronofoto:info-button" %}" 
                hx-swap="outerHTML"
                hx-include="#{{ form.photo.auto_id }}" 
                hx-vals='{"html_name": "{{ form.photo.html_name }}" }' 
                hx-trigger="change from:#{{ form.photo.auto_id }}"
            ></div>

        {% endif %}
        {% block hero_formfields %}{% endblock %}
    </div>
    {% block insert_card %}
    {% endblock %}
    {% for card in cards %}
    {% include card.template with card=card.card zindex=card.zindex edit=card.edit form=card.form exhibit=exhibit image_area_classes=card.image_area_classes figure_count=card.figure_count %}
    {% endfor %}
</div>

