{% extends "kronofoto/components/exhibit/card_base.html" %}

{% load krono_urls %}
{% load widgets %}

{% block content_body %}
<div class="content-area">
    <div class="image-collection image-collection--{{ card.figures|length }}">
    {% for figure in card.figures %}
        <figure{% if not figure.photo %} class="empty"{% endif %}{% if edit %} x-data="{ 'empty': {{ figure.photo|yesno:"false,true" }}, caption: '{{ figure.caption | escapejs }}' }" :class="{'empty': empty}" @remove-empty="empty=false"{% endif %}>
            <div class="image-collection__wrapper">
                {% with form=figure.form target_id=figure.form.photo.auto_id photo=figure.photo html_name=figure.form.photo.html_name %}
                <div class="image-collection__inner-wrapper"{% if form %} hx-get="{% krono_url "kronofoto:exhibit-figure-image" pk=exhibit.pk %}" hx-include="#{{ target_id }}" hx-vals='{"field": "{{ target_id }}", "html_name": "{{ html_name }}" }' hx-trigger="change from:#{{ target_id }}" hx-swap="innerHTML show:top"{% endif %}>
                    {% include "kronofoto/components/figure-image.html" %}
                </div>
                {% endwith %}
            </div>
            {% if edit %}
                {% with form=figure.form %}
                {{ form.caption.errors }}
                <figcaption contenteditable="{{ contenteditable }}" role="textbox" @input="caption = $el.innerText">{{ figure.caption }}</figcaption>
                {% for field in form %}
                    {% if field != form.caption %}
                    {{ field.as_hidden }}
                    {% endif %}
                {% endfor %}
                <input type="hidden" name="{{ form.caption.html_name }}" x-model="caption">
                <input type="hidden" name="prefix" value="{{ form.prefix }}">
                {% endwith %}
            {% else %}
                <figcaption>{{ figure.caption | markdown }}</figcaption>
            {% endif %}
        </figure>
    {% endfor %}
    </div>
</div>
{% endblock content_body %}

