{% extends "kronofoto/components/exhibit/card_base.html" %}
{% load widgets %}
{% load krono_urls %}

{% block container_classes %}container--full-width container--no-padding{% endblock %}

{% block content_body %}
    <div 
        data-card
        class="full-image-area {{ image_area_classes | join:" " }}{% if not card.photo %} empty{% endif %}" 
        {% if edit %} 
            x-data="{ dropdownExpanded: false, fitStyle: {{ form.fill_style.value }}, empty: {{ card.photo|yesno:"false,true" }}, }" 
            :class="{ 'full-image-area--cover': fitStyle == 1, 'full-image-area--contain': fitStyle == 2, 'empty': empty}"
            @remove-empty="empty=false"
        {% endif %}>
        {% if edit %}
        {{ form.photo.errors }}
        <div class="full-image-area__edit-image-button" hx-get="{% krono_url "kronofoto:exhibit-images" pk=exhibit.pk %}?target={{ form.photo.auto_id }}" hx-target="#add-image-modal"></div>
        {% endif %}
        <div class="full-image-area__text">
            {% if edit %}
            {{ form.title.errors }}
            <h2 contenteditable="{{ contenteditable }}" role="textbox" @input="title = $el.innerText">{{ card.title }}</h2>
            {{ form.description.errors }}
            <span contenteditable="{{ contenteditable }}" role="textbox" @input="description = $el.innerText">{{ card.description }}</span>
            {{ form.smalltext.errors }}
            <span contenteditable="{{ contenteditable }}" role="textbox" @input="smalltext = $el.innerText">{{ card.smalltext }}</span>
            {% else %}
                {% if card.title %}<h2>{{ card.title }}</h2>{% endif %}
                {% if card.description %}{{ card.description | markdown:"nl2br" }}{% endif %}
                {% if card.smalltext %}{{ card.smalltext | markdown:"nl2br" }}{% endif %}
            {% endif %}
        </div>
        <div 
            class="full-image-area__image" 
            data-aos="fade-zoom-in" 
            data-aos-easing="ease-in-back" 
            data-aos-delay="300" 
            data-aos-offset="0"
            {% if form %} 
            hx-get="{% krono_url "kronofoto:exhibit-full-image" %}" 
            hx-include="#{{ form.photo.auto_id }}" 
            hx-vals='{"html_name": "{{ form.photo.html_name }}" }' 
            hx-trigger="change from:#{{ form.photo.auto_id }}" 
            hx-swap="innerHTML show:top" 
            {% endif %}>
            {% if card.photo %}
            {% include "kronofoto/components/full-image.html" with photo=card.photo %}
            {% endif %}
        </div>
        {% if edit %}
            <div class="full-image-area__select-alignment" id="{{ form.fill_style.auto_id }}" @click="dropdownExpanded = !dropdownExpanded" id="{{ form.fill_style.auto_id }}" :class="dropdownExpanded ? 'expanded' : ''">
                <div x-model="fitStyle">
                    {{ form.fill_style.0.tag }}
                    <label for="{{ form.fill_style.0.id_for_label }}" @click="dropdownExpanded = !dropdownExpanded; hasChanges = true" id="{{ form.fill_style.auto_id }}" :class="dropdownExpanded ? 'expanded' : ''">fill page</label>
                </div>
                <div x-model="fitStyle">
                    {{ form.fill_style.1.tag }}
                    <label for="{{ form.fill_style.1.id_for_label }}" @click="dropdownExpanded = !dropdownExpanded; hasChanges = true" id="{{ form.fill_style.auto_id }}" :class="dropdownExpanded ? 'expanded' : ''">fit to page</label>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock content_body %}

