{% load widgets %}
        <h1><a href="{{ collection.get_absolute_url }}" target="_blank">{{ collection.name }}</a></h1>
        <div class="photo-tiles">
            <div class="photo-tiles__tiles">
            {% for photo in collection.photos.all %}
            <img loading="lazy" src="{% image_url photo=photo width=200 height=200 %}" data-photo-target="{{ target }}" data-id="{{ photo.id }}">
            {% endfor %}
            </div>
        </div>
        <button class="close-button" data-close aria-label="Close modal" type="button">
        </button>
