{% load static %}
{% load widgets %}
{% load krono_urls %}
{% for p in object_list %}
    <li 
        {{p.active | yesno:"data-active data-origin,"}} 
        data-fi="{{ p.id }}"
        {% if positioning %}
        style="position: absolute; left: {% thumb_left index=forloop.counter offset=positioning.offset width=positioning.width %}px"
        {% endif %}
    >
        <a 
            href="{% object_url p url_kwargs get_params %}"
            {% if is_mainstreet %}
            @click.prevent="if (!dragging) {$dispatch('kronofoto-select-node', {{p.id}})}"
            {% else %}
            hx-get="{% object_url p url_kwargs get_params %}"
            {% endif %}
        >
            <img {{p.is_spacer | yesno:'class=empty,'}} src="{{ p.thumbnail.url }}" height="{{ p.thumbnail.height }}" width="{{ p.thumbnail.width }}" />
        </a>
    </li>
{% endfor %}
