{% extends "kronofoto/components/exhibit/card_base.html" %}
{% load widgets %}
{% load krono_urls %}

{% block container_classes %}container--no-padding{% endblock %}

{% block content_body %}
    <div data-card class="two-column {{ image_area_classes | join:" "}}{% if not card.photo %} empty{% endif %}" {% if edit %} x-data="{ dropdownExpanded: false, fitStyle: {{ form.fill_style.value }}, empty: {{ card.photo|yesno:"false,true" }} }" :class="{ 'two-column--cover': fitStyle == 1, 'two-column--contain': fitStyle == 2, 'empty': empty}" @remove-empty="empty=false"{% endif %}>
        {% with target_id=form.photo.auto_id photo=card.photo %}
        <div
            class="two-column__image"
            {% if form %}
                hx-get="{% krono_url "kronofoto:exhibit-two-column-image" pk=exhibit.pk %}"
                hx-swap="innerHTML show:top"
                hx-include="#{{ form.photo.auto_id }}"
                hx-vals='{"field": "{{ form.photo.auto_id }}", "html_name": "{{ form.photo.html_name }}", "fill_style_id": "{{ form.fill_style.auto_id }}"}'
                hx-trigger="change from:#{{ target_id }}"
            {% endif %}
        >
            {% include "kronofoto/components/two-column-image.html" %}
        </div>
        {% endwith %}
        <div class="two-column__content-wrapper">
            <div class="two-column__content">
                {% if edit %}
                {% for figure in card.figures %}
                    {% for field in figure.form %}
                        {{ field.as_hidden }}
                    {% endfor %}
                    <input type="hidden" name="prefix" value="{{ figure.form.prefix }}">
                {% endfor %}
                {{ form.title.errors }}
                <h2 contenteditable="{{ contenteditable }}" role="textbox" @input="title = $el.innerText">{{ card.title }}</h2>
                {% elif card.title %}<h2>{{ card.title }}</h2>
                {% endif %}
                {% if edit %}
                {{ form.description.errors }}
                <div contenteditable="{{ contenteditable }}" role="textbox" @input="description = $el.innerText">{{ card.description }}</div>
                {% elif card.description %}
                <div>{{ card.description | markdown:"nl2br" }}</div>
                {% endif %}
                {% if edit %}
                {{ form.smalltext.errors }}
                <div class="text-small" contenteditable="{{ contenteditable }}" role="textbox" @input="smalltext = $el.innerText">{{ card.smalltext }}</div>
                {% elif card.smalltext %}
                <div class="text-small">{{ card.smalltext | markdown:"nl2br" }}</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content_body %}
