{% load static %}
{% block extrastyle %}
<style type="text/css">
  #{{ id }}_sphere { width: {{ sphere_width }}px; height: {{ sphere_height }}px; }
  #{{ id }}_admin_sphere { position: relative; float: left; }
  #{{ id }}_gui { position: absolute; right: 0; z-index: 10;}
  #{{ id }}_input { display: none }
</style>
{% endblock %}
<script type="module">
import { Viewer } from "@photo-sphere-viewer/core";
import { CompassPlugin } from "@photo-sphere-viewer/compass-plugin"
const container = document.querySelector('#{{ id }}_sphere')
const input = document.querySelector('#{{ id }}_input')
let pan = {{ pan }};
const viewer = new Viewer({
    container,
    panorama: "{{ sphere_image }}",
    sphereCorrection: {pan: {{ pan }} },
    plugins: [[CompassPlugin]],
    navbar: [
        "zoom",
        "move",
        {
            content: "⚠️ Set North ⚠️",
            onClick: () => {
                const {yaw, pitch} = viewer.getPosition()
                pan += yaw
                viewer.rotate({yaw: 0, pitch })
                viewer.setOption("sphereCorrection", { pan })
                console.log(pan)
                input.setAttribute("value", ((pan*180)/Math.PI + 90 + 180) % 360 - 180)
            },
            title: "Clicking this will orient the compass so that north is forward. This value will be saved when this photo sphere record is saved.",
        },
        "caption",
        "fullscreen",
    ]
})
viewer.useNewAnglesOrder = {{ useNewAnglesOrder }}
//const sphere = new PhotoSphere({element: container, sphere: "{{ sphere_image }}", input})
//sphere.addHeadingSphere({azimuth: {{ widget.value }}, container: document.querySelector("#{{ id }}_gui")})
</script>
<div id="{{ id }}_admin_sphere">
    <div id="{{ id }}_sphere">
        <div id="{{ id }}_gui"></div>
    </div>
    <input id="{{ id }}_input" type="{{ widget.type }}" name="{{ widget.name }}"{% if widget.value != None %} value="{{ widget.value|stringformat:'s' }}"{% endif %}{% include "django/forms/widgets/attrs.html" %}>
</div>
