{% load static %}
{% load widgets %}
{% block extrastyle %}
<style type="text/css">
  #{{ id }}_sphere { width: {{ sphere_width }}px; height: {{ sphere_height }}px; }
  #{{ id }}_admin_sphere { position: relative; float: left; }
  #{{ id }}_gui { position: absolute; right: 0; z-index: 10;}
  .marker-style {
    background-color: white;
    text: black;
    height: initial;
    width: {{ info_width }}px;
  }
{% for subwidget in widget.subwidgets %}
  #{{subwidget.attrs.id}} { display: none }
{% endfor %}
</style>
{% endblock %}
<script type="module">
import { Viewer, MarkersPlugin } from "{% static "kronofoto/js/photosphere.js" %}"
const container = document.querySelector('#{{ id }}_sphere')
{% for subwidget in widget.subwidgets %}
const {{ subwidget.attrs.anglename }} = document.querySelector('#{{ subwidget.attrs.id }}')
{% endfor %}
const viewer = new Viewer({
    container,
    panorama: "{{ sphere_image }}",
    rendererParameters: { antialias: true, stencil: true, alpha: true},
    plugins: [
        [MarkersPlugin, {
            markers: [{
                id: `marker-{{id}}`,
                position: { yaw: yaw.value, pitch: pitch.value},
                html: "{{ info_text | markdown | escapejs }}",
                className: "marker-style",
            }]
        }],
    ],
})
viewer.addEventListener("dblclick", (event) => {
    const markersPlugin = viewer.getPlugin(MarkersPlugin)
    yaw.value = event.data.yaw
    pitch.value = event.data.pitch
    markersPlugin.updateMarker({
        id: `marker-{{id}}`,
        position: { yaw: yaw.value, pitch: pitch.value},
    })

})
</script>
<div id="{{ id }}_admin_sphere">
    <div id="{{ id }}_sphere">
        <div id="{{ id }}_gui"></div>
    </div>
</div>
{% for subwidget in widget.subwidgets %}
    {% include subwidget.template_name with widget=subwidget %}
{% endfor %}
