@mixin hover-scrollbar($hoverColor: #222222) {
  overflow-y: scroll;
  mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, transparent 17px, black 17px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;

  &::-webkit-scrollbar {
    background: transparent;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: $hoverColor;
    border-radius: 20px;
  }

  &:hover {
    -webkit-mask-position: left top;
  }
}
