@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;600;700&display=swap');

$font-weight-black: 900;
$font-weight-extrabold: 800;
$font-weight-bold: 700;
$font-weight-semibold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-light: 300;
$font-weight-extralight: 200;
$font-weight-thin: 100;

@mixin styles {

  a {
    color: var(--fp-main-color);
    text-decoration: none;
  }

  h1, .h1 {
    font-size: 40px;
    font-weight: $font-weight-semibold;
    letter-spacing: 0.05em;
    margin-bottom: 16px;
  }

  h2, .h2 {
    font-size: 36px;
    font-weight: $font-weight-semibold;
    letter-spacing: 0.05em;
    margin-bottom: 16px;
  }

  .h3 {
    font-size: 28px;
    letter-spacing: 1.4px;
    font-weight: $font-weight-bold;
    margin-bottom: 16px;
  }

  .h4 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: $font-weight-bold;
    margin-bottom: 16px;
  }

  .text-small {
    font-size: 12px;
    line-height: 20px;
    color: rgba(219, 219, 219, 1);
    letter-spacing: 0.1em;
  }

  hr + [role="doc-subtitle"] {
    margin-top: 12px;
  }

  [role="doc-subtitle"] {
    font-size: 10px;
    line-height: 16px;
    color: #747474;
    margin-bottom: 45px;
  }

  .text-semibold {
    font-weight: $font-weight-semibold;
  }

  .text-tiny {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.1em;
    font-weight: $font-weight-regular;
  }

  .link {
    &--icon {
      display: flex;
      align-items: center;
      .plus-icon-circle {
        width: 25px;
        height: 25px;
        vertical-align: middle;
        margin-right: 8px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--fp-main-color);
        &:after {
          content: '';
          display: block;
          width: 12.5px;
          height: 12.5px;
          background-image: url("../images/extracted_svgs/_typography_1.svg");
        }
      }
    }
  }

  .tk-label {
    width: 39px;
    height: 30px;
    display: inline-block;
    margin-right: 12px;
    font-size: 0px;
    &--1 {
      background-image: url("../images/extracted_svgs/_typography_2.svg");
    }
    &--2 {
      background-image: url("../images/extracted_svgs/_typography_3.svg");
    }
    &--3 {
      background-image: url("../images/extracted_svgs/_typography_3.svg");
    }

  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  .indent {
    padding-left: 20px;
  }

  #forward-zip [data-tooltip] {
    width: 16px;
    height: 16px;
    border: none !important;
    position: absolute !important;
    top: -12px;
    right: -12px;
    opacity: .75;
    line-height: 16px;
    background-image: url("../images/extracted_svgs/_typography_5.svg");
  }
}

.back-link {
  color: #747474;
  font-size: 10px;
  line-height: 16px;
  &:hover {
    color: var(--fp-main-blue);
    text-decoration: underline;
    &:before {
      //background-image: url("../images/extracted_svgs/_typography_6.svg");
    }
  }
  &:before {
    content: '\2190';
    margin-right: 4px;
    width: 10px;
    height: 7px;
    display: inline-block;
    //background-image: url("../images/extracted_svgs/_typography_6.svg");
  }
}

@mixin font-paragraph {
  font-size: 14px;
  line-height: 20px;
  font-weight: $font-weight-regular;
}

@mixin font-paragraph2 {
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0.05em;
  font-weight: $font-weight-bold;
}

.paragraph {
  @include font-paragraph();
  margin-bottom: 15px;
}

.color-light {
  color: #747474;
}

.icon {
  background-repeat: no-repeat;
  background-size: 100% 100%;
  &.lock-icon {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../images/extracted_svgs/_typography_8.svg");
  }
  &.user-icon {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--fp-main-color);
    mask-image: url("../images/extracted_svgs/_typography_9.svg");
    mask-size: 68% 68%;
    mask-repeat: no-repeat;
    mask-position: center center;
  }
  &.new-icon {
    display: block;
    width: 100%;
    height: 100%;
    background-image: url("../images/extracted_svgs/_typography_10.svg");
  }
  &.map-icon {
    display: block;
    width: 55px;
    height: 55px;
    background-image: url("../images/extracted_svgs/_typography_11.svg");
  }
  &.edit-account-icon {
    display: block;
    width: 27px;
    height: 27px;
    background-image: url("../images/extracted_svgs/_typography_12.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  &--add-text {
    width: 27px;
    height: 23px;
    background-image: url("../images/extracted_svgs/_typography_13.svg");
  }
  &--add-text-image, &--add-text-image-1 {
    width: 100%;
    height: 45px;
    //background-image: url("../images/extracted_svgs/_typography_14.svg");
    background-image: url("../images/extracted_svgs/_typography_15.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  &--add-text-image-2 {
    width: 100%;
    height: 45px;
    background-image: url("../images/extracted_svgs/_typography_16.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  &--add-text-image-3 {
    width: 100%;
    height: 45px;
    background-image: url("../images/extracted_svgs/_typography_17.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &--add-image-left {
    width: 100px;
    height: 67px;
    background-image: url("../images/extracted_svgs/_typography_18.svg");
  }

  &--add-image-right {
    width: 100px;
    height: 67px;
    background-image: url("../images/extracted_svgs/_typography_19.svg");
  }
  &--add-image-full {
    width: 100px;
    height: 67px;
    background-image: url("../images/extracted_svgs/_typography_20.svg");
    background-size: cover;
  }
  &--link {
    width: 40px;
    height: 40px;
    background-image: url("../images/extracted_svgs/_typography_21.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  &--embed {
    width: 40px;
    height: 40px;
    background-image: url("../images/extracted_svgs/_typography_22.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  &--preview {
    width: 40px;
    height: 40px;
    background-image: url("../images/extracted_svgs/_typography_23.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  &--help {
    width: 40px;
    height: 40px;
    background-image: url("../images/extracted_svgs/_typography_24.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
  &--undo-arrow {
    width: 40px;
    height: 40px;
    background-image: url("../images/extracted_svgs/_typography_25.svg");
  }
  &--redo-arrow {
    width: 40px;
    height: 40px;
    background-image: url("../images/extracted_svgs/_typography_26.svg");
  }
  &--close {
    width: 12px;
    height: 12px;
    display: block;
    background-image: url("../images/extracted_svgs/_typography_27.svg");
  }
  &--gear {
    width: 16px;
    height: 16px;
    display: block;
    background-image: url("../images/extracted_svgs/_typography_28.svg");
    background-position: center;
    background-repeat: no-repeat;
  }
}

.hide {
  display: none;
}

[contenteditable] {
  cursor: pointer;
  transition: outline-color ease-in-out 200ms;
  outline: 2px solid rgba(110, 134, 188, 0);
  display: block;
  &:hover, &:focus-visible {
    outline: 2px solid rgba(110, 134, 188, 1);
  }
  &:focus-visible {
    cursor: auto;
  }
}

[contenteditable][role=textbox]:not(:focus) {
  > br:only-child:before {
    color: #BBBBBB;
    content: "Click to change text";
    user-select: none;
    pointer-events: none;
  }
  &:empty {
    color: #BBBBBB;
    &:before {
      content: "Click to change text";
      user-select: none;
      pointer-events: none;
    }
  }
}

strong {
  font-weight: bold;
}
