@use 'typography' as *;
@use 'components/scrollbar' as *;
@use 'components/exhibit/buttons' as *;
@use 'components/exhibit/content-area';
@use 'components/exhibit/page-editor';
@use 'components/exhibit/full-image-area';
@use 'components/exhibit/container';
@use 'components/exhibit/header';
@use 'components/exhibit/hero';
@use 'components/exhibit/image-collection';
@use 'components/photo-tiles';
@use 'components/exhibit/two-column';
@use 'components/exhibit/toolbar';
@use 'components/exhibit/tour';
@use 'components/messages' as messages;
@include messages.styles(20px);

@import 'colors';
@import 'keyframes';

//@import 'foundation-sites/scss/typography/typography';
@import 'foundation-sites/scss/util/util';
@import 'foundation-sites/scss/global';
@import 'foundation-sites/scss/typography/typography';
@import "foundation-sites/scss/util/breakpoint";
@import 'foundation-sites/scss/components/callout';
@import 'foundation-sites/scss/components/reveal';
@import 'foundation-sites/scss/components/tooltip';

//@import 'foundation-sites/scss/components/close-button';

@import 'components/button';
@import 'components/navigation';
@import 'components/hamburger';
@import 'components/search';

//@import 'typography';
//@import 'components/exhibit/container';
//$reveal-width: 600px;

@include foundation-callout;
@include foundation-reveal;
@include foundation-tooltip;
//@include foundation-close-button;

#add-image-modal {
  width: 1024px;
  max-height: 80vh;
  display: flex;
  flex-direction: column;
  padding: 0px;
  .close-button {
    width: 50px;
    height: 50px;
    border: none;
    background-color: transparent;
    background-image: url("../images/extracted_svgs/exhibit_1.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 35px;
    right: 0px;
    margin-right: 20px;
    transform: translateY(-50%);
    cursor: pointer;
    &:hover {
      background-color: #eeeeee;
    }
  }
  h1 {
    margin: 0px;
    padding: 0px 20px;
    font-size: 16px;
    line-height: 70px;
    color: #707070;
    font-weight: $font-weight-regular;
    border-bottom: 1px solid #DBDBDB;
  }
}

body {
  margin: 0;
  font-family: "montserrat", sans-serif;
  font-weight: $font-weight-regular;
  font-style: normal;
}

.site-wrapper {
  position: relative;
}

.hide {
  //display: block !important;
}

.component-menu {
  &--off-canvas {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: -50px;
    width: 40px;
    transform: translateY(-50%);
  }
  .toolbar {
    position: absolute;
    right: 40px;
    top: 0px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }
  &__group {
    position: relative;
  }
  &__separator {
    margin-top: 2px;
    &--large {
      margin-top: 10px;
    }
  }
  &__button {
    @include off-canvas-button;
    &.up {
      background-image: url("../images/extracted_svgs/exhibit_2.svg");
    }
    &.down {
      background-image: url("../images/extracted_svgs/exhibit_3.svg");
    }
    &.delete {
      background-image: url("../images/extracted_svgs/exhibit_4.svg");
    }
    &.close {
      background-image: url("../images/extracted_svgs/exhibit_5.svg");
    }
    &.swap {
      border-radius: 2.5px;
      background-image: url("../images/extracted_svgs/exhibit_6.svg");
    }
  }
}

.add-image-button {
  width: 40px;
  height: 40px;
  background-image: url("../images/extracted_svgs/exhibit_7.svg");
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  background-repeat: no-repeat;
  background-color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-position: center;
  z-index: 100;
  cursor: pointer;
}

header {
  height: 50px;
  align-content: center;
}

body > form > header {
  position: sticky;
  top: 0px;
  background-color: #ffffff;
  z-index: 1001;
}

body, #kfroot {
  container-type: inline-size;
}

.login-container, .login-container i {
  width: 40px !important;
  height: 40px !important;
}

.foundation-mq {
  font-family: "small=0em&medium=40em&large=64em&xlarge=75em&xxlarge=90em";
}

.errorlist {
  color: #e8a098;
  list-style-type: none;
  padding: 0px;
}
