@use 'components/gallery' as gallery;
@use 'components/header' as header;
@use 'components/messages' as messages;
@use 'components/social-share-icons' as shareSocialIcons;
@use 'components/tags' as tags;
@use 'components/timeline' as timeline;
@use 'typography' as typography;

body, #kfroot {
  container-type: inline-size;
}

#kfroot {
  aspect-ratio: 4 / 3;
}

#kfroot #app.zoom-opened {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
}
@import 'select2/src/scss/core';

// Foundation Dependencies
@import 'foundation-sites/_vendor/sassy-lists/stylesheets/helpers/missing-dependencies';
@import 'foundation-sites/_vendor/sassy-lists/stylesheets/helpers/true';
@import 'foundation-sites/_vendor/sassy-lists/stylesheets/functions/contain';
@import 'foundation-sites/_vendor/sassy-lists/stylesheets/functions/purge';
@import 'foundation-sites/_vendor/sassy-lists/stylesheets/functions/remove';
@import 'foundation-sites/_vendor/sassy-lists/stylesheets/functions/replace';
@import 'foundation-sites/_vendor/sassy-lists/stylesheets/functions/to-list';

// Foundation Utilities
@import 'foundation-sites/scss/util/util';

// Foundation Global styles
@import 'foundation-sites/scss/global';
@import 'foundation-sites/scss/typography/typography';

// Foundation Grids
@import 'foundation-sites/scss/grid/grid';
@import 'foundation-sites/scss/xy-grid/xy-grid';

@import 'kronofoto';
@include typography.styles;

// Kronofoto Components
@import 'components/checkboxes';
@import 'components/form';
@include gallery.styles;
@import 'components/hamburger';
@include header.styles;
@include messages.styles;
@import 'components/input';
@import 'components/navigation';
@import 'components/photo-menu-popup';
@include shareSocialIcons.styles;
@include tags.styles;
@include timeline.styles;
@import 'components/button';
@import 'components/search';

// Foundation Components
@import 'foundation-sites/scss/components/switch';
@import 'foundation-sites/scss/components/tooltip';
@import 'foundation-sites/scss/components/callout';

// Foundation Helpers
@import 'foundation-sites/scss/components/float';
@import 'foundation-sites/scss/components/visibility';
@import 'foundation-sites/scss/prototype/prototype';
@import 'foundation-sites/scss/components/flex';

@include foundation-switch;
@include foundation-tooltip;
@include foundation-callout;

// Foundation Components
@include foundation-visibility-classes;
@include foundation-xy-grid-classes;
@include foundation-flex-classes;
@include foundation-flex-grid;

*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fp-main-font);
}

html, body {
  height: 100%;
}

#app {
  height: calc(100% - 80px);
}

img {
  /*max-height: calc(100vh - 278px);*/
}

main {
  overflow-x: hidden;
  height: 100%;
}

body {
  /*display: grid;
  height: 100vh;
  grid-template: "header" 8vh
                 "main" 92vh
                 / 1fr;*/
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  color: var(--fp-main-color);
  text-decoration: none;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  height: 34px;
  padding: 4px 8px;
  background-color: var(--fp-light-grey);
  color: #333;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select::-ms-expand {
  display: none;
}

.select2-dropdown {
    z-index: 20000;
    width: 25%;
}

select {
  //background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") var(--fp-light-grey) no-repeat 98.5% !important;
  /* !important used for overriding all other customisations */
}

.float-right {
  float: right;
}

.sticky-parent {
  @include breakpoint(large up) {
    position: sticky;
    bottom: 0px;
    left: 100%;
  }
}

.foundation-mq {
  font-family: "small=0em&medium=40em&large=64em&xlarge=75em&xxlarge=90em";
}

@include breakpoint(small only) {
  .small-12:not[first-child] {
    margin-top: 20px;
  }
}

#kfroot {
  position: relative;
}
