@use 'components/collection' as collection;
@use 'components/context-menu' as context-menu;
@use 'components/gallery' as gallery;
@use 'components/header' as header;
@use 'components/header-group' as header-group;
@use 'components/messages' as messages;
@use 'components/reveal' as reveal;
@use 'components/section' as section;
@use 'components/social-share-icons' as shareSocialIcons;
@use 'components/tags' as tags;
@use 'components/thumbnail-collection' as thumbnail-collection;
@use 'components/timeline' as timeline;
@use 'typography' as typography;
@use 'components/user-header' as user-header;
@import '@photo-sphere-viewer/core/index.css';
@import '@photo-sphere-viewer/markers-plugin/index.css';
@import '@photo-sphere-viewer/virtual-tour-plugin/index.css';

body, #kfroot {
  container-type: inline-size;
}

#kfroot {
  aspect-ratio: 4 / 3;
}

#kfroot #app.zoom-opened {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0px;
  left: 0px;
}

@import 'select2/src/scss/core';

// Foundation Dependencies
@import 'foundation-sites/_vendor/sassy-lists/stylesheets/helpers/missing-dependencies';
@import 'foundation-sites/_vendor/sassy-lists/stylesheets/helpers/true';
@import 'foundation-sites/_vendor/sassy-lists/stylesheets/functions/contain';
@import 'foundation-sites/_vendor/sassy-lists/stylesheets/functions/purge';
@import 'foundation-sites/_vendor/sassy-lists/stylesheets/functions/remove';
@import 'foundation-sites/_vendor/sassy-lists/stylesheets/functions/replace';
@import 'foundation-sites/_vendor/sassy-lists/stylesheets/functions/to-list';

// Foundation Utilities
@import 'foundation-sites/scss/util/util';

// Foundation Global styles
@import 'foundation-sites/scss/global';
@import 'foundation-sites/scss/typography/typography';

// Foundation Grids
@import 'foundation-sites/scss/grid/grid';
@import 'foundation-sites/scss/xy-grid/xy-grid';

@import 'kronofoto';
@include typography.styles;

// Kronofoto Components
@import 'components/checkboxes';
@import 'components/form';
@include gallery.styles;
@import 'components/hamburger';
@include header.styles;
@include messages.styles;
@include reveal.styles;
@import 'components/input';
@import 'components/navigation';
@import 'components/photo-menu-popup';
@include shareSocialIcons.styles;
@include tags.styles;
@include timeline.styles;
@import 'components/button';
@import 'components/search';

// Foundation Components
@import 'foundation-sites/scss/components/switch';
@import 'foundation-sites/scss/components/tooltip';
@import 'foundation-sites/scss/components/callout';
@import 'foundation-sites/scss/components/reveal';

// Foundation Helpers
@import 'foundation-sites/scss/components/float';
@import 'foundation-sites/scss/components/visibility';
@import 'foundation-sites/scss/prototype/prototype';
@import 'foundation-sites/scss/components/flex';

@include foundation-switch;
@include foundation-tooltip;
@include foundation-callout;
@include foundation-reveal;

// Foundation Components
@include foundation-visibility-classes;
@include foundation-xy-grid-classes;
@include foundation-flex-classes;
@include foundation-flex-grid;

*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fp-main-font);
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.margin-right-auto {
  margin-right: auto;
}

.margin-left-auto {
  margin-left: auto;
}

.foundation-mq {
  font-family: "small=0em&medium=40em&large=64em&xlarge=75em&xxlarge=90em";
}

@include breakpoint(small only) {
  .small-12:not[first-child] {
    margin-top: 20px;
  }
}

#kfroot {
  position: relative;
}

// Template-specific overrides
@import "templates/gallery";
@import "templates/cms";
@import "templates/user-page";
