@import "keyframes.scss";


.embed-nav {
  height:50px;
  justify-content: center;
}
.embed-nav .grid-icon {
  position:absolute;
  right:40px;
}
.embed-nav .timeline-container {
    position:absolute;
    right:120px;

}
.embed-nav .fpi-fpilink img {
  position:absolute;
  left:80px;
  width: 70px;
  overflow: none;
  margin:0;
  padding: 0;
  transform: translateY(-20px);
}

#search-box-container {
  margin-right: 35px;
  flex-grow: 1;
  max-width: 550px;
  background-color: var(--fp-light-grey);
  z-index: 9999;
}
#search-box-container img {
  margin: 7px;
  width: 20px;
}
#search-box-container label {
  display: flex;
}

input#search-box {
  width: 100%;
  border: none;
  height: 40px;
  background: none;
  color: #333;
  font-weight: 500;
  align-self: center;
  font-size: 13px;
}

input#search-box::placeholder {
  color: #999;
  opacity: 1;
}

.placeholder-light::placeholder {
  color: white !important;
  opacity: 1;
}


.search-form {
  display: none;
  position: absolute;
  max-width: 650px;
  width: 100%;
  background: white;
  margin: 0 -15px;
  padding: 60px 130px;
  z-index: 99;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.search-form th, .search-form td {
  padding: 10px 15px;
}

.search-form label {
  font-weight: initial;
  justify-content: left;
  color: #333;
  text-transform: uppercase;
}

.search-form-section {
  margin-bottom: 40px;
}

.search-form-section div {
  margin: 15px 0;
}

.daterange {
  display: flex;
  justify-content: space-between;
}

.daterange div {
  margin: 0 5px;
}

.daterange input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  background: white;
  border-bottom: 2px solid var(--fp-main-grey);
}

.search-options {
  align-self: center;
    padding-right: 5px;
}

.search-box-content {
  display: flex;
  justify-content: space-between;
  /*padding: 0 15px;*/
}

#login {
  position: absolute;
  z-index: 1000;
  background-color: var(--fp-light-grey);
  padding: 30px
}
#login form {
  display: flex;
  flex-direction: column;
}
#login form input {
  margin: 10px 0;
}
#login form input[type="text"], #login form input[type="password"] {
  background: var(--fp-main-grey);
}

#login p a {
  color: var(--fp-main-blue);
  text-decoration: none;
}

#login p {
  margin-bottom: 5px;
}

.new-label {
  width: 60px;
  vertical-align: middle;
}
.carrot {
  width: 15px !important;
  vertical-align: middle;
  cursor: pointer;
}
.grid-icon_reg, .timeline-icon {
  vertical-align: middle;
  width: 20px;
}
.new-label_container:hover, .grid-icon:hover, .timeline-container:hover {
  background-color: var(--fp-secondary-ticker-color);
}
.new-label_container:hover > a img, .grid-icon:hover > a img, .timeline-container:hover > a img {
  opacity: 1 !important;
  filter: brightness(0) invert(1);
}
.new-label_container, .grid-icon, .timeline-container {
  padding: 10px;
}
.current-view {
  background: var(--fp-main-blue);
}
.current-view a img{
  opacity: 1 !important;
  filter: brightness(0) invert(1);
}

.register-container, .collection_create-container, .login-page-container, .add_tag-container, .container-center {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-container form, .collection_create-container form, .login-page-container form, .add_tag-container form, .container-center form {
  width: 50%;
  max-width: 500px;
}

.register-container form p, .collection_create-container form p, .login-page-container form p, .add_tag-container form p, .container-center form p {
  margin-bottom: 6%;
}

.register-container input[type="submit"], .collection_create-container input[type="submit"] {
  margin-top: 25px;
}

.login-page-container input[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 25px;
}

.login-page-container p:first-child {
  margin-bottom: 40px;
}

.login-page-container table {
  width: 100%;
}

.add_tag-container img {
  margin-top: 40px;
  width: 50%;
    max-height: 100%;
}

.add_tag-container form p {
  margin-top: 50px;
}

.add_tag-container span.back-btn a {
  font-size: 13px;
  color: var(--fp-main-blue);
  padding: 11px 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.add_tag-container span.back-btn a:hover {
  color: white !important;
  background: var(--fp-main-blue);
}

.collection_delete-container input[type="submit"] {
  margin-right: 20px;
}

.collection_delete-container form {
  text-align: center;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 27px !important;
  cursor: pointer;
  color: var(--fp-main-blue);
}

.close-btn:hover {
  color: #aaa;
}

.search-box-content_inner {
  width: 95%;
    padding: 0 7px 0 5px;
}






/******************
 ** MAIN CONTENT **
 ******************/


main article.fi-image {
  grid-area: current-image;

  /*display: grid;
  grid-template-rows: 30% auto 30%;
  grid-template-columns: 30px 3% 1fr 1fr 3% 30px;*/

  position: relative;
  margin: auto;
}

.fi-image figure {
/*
  grid-row-start: 1;
  grid-row-end: span 4;
  grid-column-start: 1;
  grid-column-end: span 6;*/
  //display: flex;
  //
  //
  //  justify-content: center;
  //
  //
  //
  //  position: relative;
  //
  //  width: 100vw;
  //  height: 100%;
}

.fi-image figure img {
  //  position: absolute;
  //   top: 50vh;
  //   left: 50vw;
  //
  //transform: translate(-50%, calc(-50% - 130px));
  //max-height: calc(100vh - 295px);
  //  min-height: 100px;
  //  max-width: calc(100vw - 20px);
}

@media (max-width: 1140px) {
    .fi-image figure img {

        //max-height: calc(100vh - 195px);
        //transform: translate(-50%, calc(-50% - 80px));

    }
    main .fi-image-background{

    //height: calc(100vh - 100px);

    }
}

.button-line {
    width: 1px;
    background-color: black;
    margin: 0 10px;
}
.fi-image .image-control-button, .fi-image .image-cancel-button {

  height: 40px;
  width: 40px;
  background: rgb(255,255,255,0.9);
  border: none;
  color: var(--fp-main-blue);
  cursor: pointer;
  font-size: 30px;
}


.image-control-button img, .image-cancel-button img {
  width: 25px;
  margin: 5px;
}

#zoom-image-cancel-button {
  z-index: 999;
}
@media (max-width:1140px) {
   #zoom-image-cancel-button {
    display: none;
  }

  #zoom-image-control-button {
    display: none;
  }
}


.add-tag {
  font-size: 20px;
  text-decoration: none;
  vertical-align: sub;
}

.arrow {
  border: solid #ddd;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.photo-grid {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1.5rem;
  margin: 0 auto;
  list-style-type: none;
  margin-top: 1.5rem;
  padding-bottom: 50px;
}

.photo-grid li a img {
  object-fit: cover;
  max-height: 100%;
  width: 100%;
  display: block;
  height: 45vh;
}

.user-header {
  height: 250px;
  background: url('../images/user-bg.png');
  background-blend-mode: saturation;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-content {
  width: 50%;
  max-width: 800px;
  justify-self: center;
  margin-top: 60px;
}

.user-page-content {
  display: grid;
  grid-template-rows: inherit;
}

.user-page-content div:first-child {
  margin-bottom: 20px;
  text-align: center;
  line-height: 2em;
}

.overlay {
  opacity: 0.75;
  background: #333;
  position: fixed;
  top: 80px;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.collection-grid ul li {
  list-style-type: none;
}

.collection-name {
  position: absolute;
  top: 100px;
  font-size: 12px;
  color: var(--fp-main-blue);
  background: var(--fp-light-grey);
  padding: 7px 17px;
  z-index: 998;
}


#follow-zoom {
    margin: 0px auto 150px auto;
}

#download-container {

    margin: 50px auto 10px auto;

    width: 80vw;
}

.download-text {
    font-size: 36px;


}



/*******************
 ** MAIN TIMELINE **
 *******************/

 main .car-left-space{
   grid-area: car-left-space;
   background: #f1f2f2;
 }

 main .car-right-space{
   grid-area: car-right-space;
   background: #f1f2f2;
 }

#fi-preload-zone {
    position: absolute;
    left: -9999999px;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

#fi-thumbnail-carousel-images li {
  --carousel-image-padding: 10px;
  padding: 0 var(--carousel-image-padding);

  margin:  0 0 5px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#fi-thumbnail-carousel-images li img {
    width: auto;
    transform: translateY(5px);
    z-index: 2;


}

#fi-thumbnail-carousel-images li[data-active]:before {
  content: '';
  margin: 0 10px;
  position: absolute;
  top: 0;
  height: 85px;
  width: calc(100% - (2 * var(--carousel-image-padding)));
  background-color: var(--fp-main-blue);
    z-index: 0;
}

#fi-thumbnail-carousel-images li[data-active]:after {
  --active-image-arrow-size: 8px;
  content: '';
  position: absolute;
  top: calc(var(--active-image-arrow-size) * -1);
  width: 0;
  height: 0;
  border-left: var(--active-image-arrow-size) solid transparent;
  border-right: var(--active-image-arrow-size) solid transparent;
  border-bottom: var(--active-image-arrow-size) solid var(--fp-main-blue);
}

.year-ticker {
    grid-area: year-ticker;

  display: flex;
  flex-direction: row;
  background: white;
  position: relative;
  z-index: 3;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.year-ticker svg {
  width: 100%;
  margin-left: 40px;
  margin-right: 40px;
}


/*==============================*/
/*       DOWNLOAD PAGE          */
/*                              */
/*==============================*/

#download-container .back-btn a {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 11px 15px;

}

#download-container .back-btn a:hover {
    color: white;
    background: var(--fp-main-blue);
}



/*==============================*/
/*       HTML SLIDER (new)      */
/*                              */
/*==============================*/

.timeline-slider {
    position: relative;
    top: calc(100vh - 240px);
    width: 100%;
    max-width: 1140px;
    margin:auto;
}
@media (max-width: 1140px) {
  .timeline-slider {
    position: relative;
    top: calc(100vh - 130px);
    width: 100%;
    max-width: 1140px;
    margin:auto;
  }

}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height: 5px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #04AA6D; /* Green background */
  cursor: pointer; /* Cursor on hover */
}








/* ======================================================================== */
/* These styles are very fragile and are meant to only address the specific */
/* scenario that the bookend years are getting cut off by the overflow */
/* and this was the only fix I could find at the time */
/* ======================================================================== */
.year-ticker a:first-of-type text {
  text-anchor: start;
}

.year-ticker a:last-of-type text {
  text-anchor: end;
}
/* ======================================================================== */

.year-min, .year-max {
  width: 110px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 17px;
  background-color: var(--fp-light-grey);
}

.year-min {
  justify-content: right;
}

.year-min img, .year-max img {
  width: 8px;
  margin: 0px 5px;
}

.year-max img {
  transform: scaleX(-1);
}

.year-ticker-increments {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
  background-color: var(--fp-main-grey);
  padding: 5px;
}

.year-ticker-increments > li:nth-of-type(2n) {
  color: var(--fp-secondary-ticker-color);
}

.grid-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 90px 25px 25px;
}

.tl a:hover > rect {
  fill: var(--fp-main-blue);
}






/******************
 ** MARKER STUFF **
 ******************/

.active-year-marker {
  position: absolute;
  display: none;
  transition: 0.2s cubic-bezier(0.33, 1, 0.68, 1);
  pointer-events: auto;
  bottom: 0;
}
.marker-image {
  width: 65px;
  height: 36px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.no-point {
  pointer-events: none;
}


.gridden {
    display: grid;
}

.hidden {
    display: none !important;
}

.download-icon {
  width: 18px;
  vertical-align: sub;
}
