/********************
 ** FONT IMPORTING **
 ********************/

@font-face {
  font-family: 'Gotham';
  font-weight: normal;
  src: url('../fonts/Gotham\ Book\ Regular.otf');
}

@font-face {
  font-family: 'Gotham Narrow';
  font-weight: normal;
  src: url('../media/Gotham\ Narrow\ Medium.otf');
}

@font-face {
  font-family: 'Gotham Narrow';
  font-weight: lighter;
  src: url('../media/Gotham\ Narrow\ Book.otf');
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/assets/fonts/Montserrat-Regular.ttf') format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/assets/fonts/Montserrat-Light.ttf') format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Montserrat';
  src: url('/static/assets/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 500;
}





/************************
 * VARIABLE DECLARATION *
 ************************/

:root {
  --fp-main-font: 'Montserrat', sans-serif;
  --fp-secondary-ticker-color: #9d9d9c;
  --fp-main-grey: #d6d6da;
  --fp-main-grey-translucent: rgba(214, 214, 218, 0.95);
  --fp-light-grey: #e6e7e8;
  --fp-light-grey-translucent: rgba(239, 239, 241, 0.9);
  --fp-main-color: #6e86bc;
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
  font-weight: bold;
}

.main-content {
  display: grid;
  grid-template-columns: 300px auto 300px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 50%;
  max-width: 800px;
}

header {
  max-height: 200px;
  grid-row: 1 / span 1;
  padding: 15px;
  border-bottom: 1px solid var(--fp-light-grey);
}

nav {
  display: flex;
}

.main-nav {
  display: flex;
  align-self: center;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.main-nav_left, .main-nav_right {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav_center {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation-menu a {
  font-size: 13px;
  color: var(--fp-secondary-ticker-color);
  padding: 11px 15px;
  text-transform: uppercase;
}

.navigation-menu a:hover {
  background: var(--fp-secondary-ticker-color);
  color: white;
}

.navigation-menu li.selected > a {
  background: var(--fp-main-color);
  color: white;
}

.main-nav_right a {
  font-size: 13px;
  color: var(--fp-main-color);
  padding: 11px 15px;
  text-transform: uppercase;
}

.main-nav_right a:hover {
  color: white;
  background: var(--fp-main-color);
}

nav ul {
  display: flex;
  align-self: center;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  padding: 0;
}

nav ul li {
  list-style: none;
  text-transform: uppercase;
}

header nav div img {
  width: 30px;
}

.logo-img {
  width: 97.4px;
  vertical-align: middle;
}

h1, h2, h3 {
  letter-spacing: 0.1ch;
  font-weight: lighter;
  margin: 30px 0 20px 0;
}

h1 {
  border-bottom: 1px solid var(--fp-main-grey);
  padding-bottom: 10px;
  font-size: 30px;
}

p {
  font-weight: lighter;
}

.key-points-figures {
  display: flex;
}

.key-points-figures figure {
  width: 50%;
  margin: 0;
  padding: 5px;
}

.key-points-figures figcaption {
  font-size: 11px;
}

figure img {
  width: 100%;
}

.possible-uses-figure figure {
  display: flex;
}

.possible-uses-figure figcaption {
  font-size: 11px;
}

.keyword {
  text-transform: uppercase;
  color: #6e86bc;
}

button#archive-btn, input[type="submit"] {
  padding: 11px 15px;
  text-transform: uppercase;
  font-size: 15px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
button#archive-btn {
  background-color: white;
  color: var(--fp-main-color);
}
button#archive-btn:hover, input[type="submit"]:hover {
  background-color: var(--fp-main-color);
  color: white;
}

section a {
  color: var(--fp-main-color);
}

.img-grid {
  display: grid;
  width: 100%;
  justify-content: center;
  column-gap: 5%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  margin: 5% 0;
}

.img-grid_item img {
  object-fit: cover;
  max-height: 100%;
  width: 100%;
  display: block;
  height: 200px;
}


@media only screen and (max-width: 900px) {
  section {
    width: 80%;
  }
}
