{% load static %}
{% block extrastyle %}
<style type="text/css">
  #{{ id }}_sphere { width: {{ sphere_width }}px; height: {{ sphere_height }}px; }
  #{{ id }}_admin_sphere { position: relative; float: left; }
  #{{ id }}_gui { position: absolute; right: 0; z-index: 10;}
  #{{ id }}_input { display: none }
</style>
{% endblock %}
{% block extra_js %}
<script src="{% static "assets/js/three.min.js" %}"></script>
<script src="{% static "assets/js/panolens.min.js" %}"></script>
{% endblock %}
<script type="module">
import PhotoSphere from "{% static "assets/js/photosphere.js" %}"
const container = document.querySelector('#{{ id }}_sphere')
const azimuth = document.querySelector('#id_azimuth')
const inclination = document.querySelector('#id_inclination')
const distance = document.querySelector('#id_distance')
const sphere = new PhotoSphere({element: container, sphere: "{{ sphere_image }}", azimuth_el: azimuth, inclination_el: inclination, distance_el: distance})
sphere.addPhoto({
    url: "{{ photo }}", 
    height: {{ photo_h }}, 
    width: {{ photo_w }}, 
    azimuth: {{ init_azimuth }}, 
    inclination: {{ init_inclination }}, 
    distance: {{ init_distance }}, 
    container: document.querySelector("#{{ id }}_gui")})
</script>
<div id="{{ id }}_admin_sphere">
    <div id="{{ id }}_sphere">
        <div id="{{ id }}_gui"></div>
    </div>
</div>
