@use 'foundation-sites/scss/global' as *;

.context-menu {
  position: absolute;
  .context-menu__button:hover {
    background-image: url("../images/extracted_svgs/_context-menu_1.svg");
    background-color: #DDDDDD;
  }
  &__button {
    background-image: url("../images/extracted_svgs/_context-menu_2.svg");
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    display: block;
    width: 26px;
    height: 26px;
    cursor: pointer;
    position: relative;
    z-index: 3;
  }
  &.expanded {
    z-index: 4;
    > .context-menu__items {
      max-height: 500px;
      opacity: 1;
      z-index: 4;
    }
    > .context-menu__button {
      z-index: 5;
    }
  }
  &__items {
    > ul {
      padding: 44px 24px 0px 13px;
      list-style-type: none;
      width: 100%;
      margin-bottom: 10px;
      a {
        color: #333333;
        font-size: 12px;
        padding: 7px 0px 7px;
        display: block;
        &:hover {
          color: var(--fp-main-blue);
          text-decoration: underline;
        }
      }
    }
    overflow: hidden;
    width: 160px;
    max-height: 0px;
    transition: max-height 0.1s ease-out, padding 0.1s ease-out, opacity 0.1s ease-out;
    height: auto;
    opacity: 0;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 3px;
    top: 0px;
    right: 0px;
    transform: translateX(5px) translateY(-5px);
  }
}
