@use 'foundation-sites/scss/global' as *;

.context-menu {
  position: absolute;
  .context-menu__button:hover {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='3' viewBox='0 0 14 3'%3E%3Cg id='Group_97' data-name='Group 97' transform='translate(-11 -17)'%3E%3Ccircle id='Ellipse_21' data-name='Ellipse 21' cx='1.5' cy='1.5' r='1.5' transform='translate(11 17)' fill='%23333333'/%3E%3Ccircle id='Ellipse_22' data-name='Ellipse 22' cx='1.5' cy='1.5' r='1.5' transform='translate(16.5 17)' fill='%23333333'/%3E%3Ccircle id='Ellipse_23' data-name='Ellipse 23' cx='1.5' cy='1.5' r='1.5' transform='translate(22 17)' fill='%23333333'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-color: #DDDDDD;
  }
  &__button {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='3' viewBox='0 0 14 3'%3E%3Cg id='Group_97' data-name='Group 97' transform='translate(-11 -17)'%3E%3Ccircle id='Ellipse_21' data-name='Ellipse 21' cx='1.5' cy='1.5' r='1.5' transform='translate(11 17)' fill='%23747474'/%3E%3Ccircle id='Ellipse_22' data-name='Ellipse 22' cx='1.5' cy='1.5' r='1.5' transform='translate(16.5 17)' fill='%23747474'/%3E%3Ccircle id='Ellipse_23' data-name='Ellipse 23' cx='1.5' cy='1.5' r='1.5' transform='translate(22 17)' fill='%23747474'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 100%;
    display: block;
    width: 26px;
    height: 26px;
    cursor: pointer;
    position: relative;
    z-index: 3;
  }
  &.expanded {
    z-index: 4;
    > .context-menu__items {
      max-height: 200px;
      opacity: 1;
      z-index: 4;
    }
    > .context-menu__button {
      z-index: 5;
    }
  }
  &__items {
    > ul {
      padding: 44px 24px 0px 13px;
      list-style-type: none;
      width: 100%;
      margin-bottom: 10px;
      a {
        color: #333333;
        font-size: 12px;
        padding: 7px 0px 7px;
        display: block;
        &:hover {
          color: var(--fp-main-blue);
          text-decoration: underline;
        }
      }
    }
    overflow: hidden;
    width: 140px;
    max-height: 0px;
    transition: max-height 0.1s ease-out, padding 0.1s ease-out, opacity 0.1s ease-out;
    height: auto;
    opacity: 0;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 3px;
    top: 0px;
    right: 0px;
    transform: translateX(5px) translateY(-5px);
  }
}
