@import 'button';
@import 'input';

$form-spacing: 16px;
$switch-background: $medium-gray !default;
$switch-background-active: var(--fp-main-blue);

.form {

  input[type=submit] {
    @include button--round;
  }

  textarea, input[type=text] {
    @include input--text-round;
    margin-bottom: $form-spacing;
  }
  textarea {
    font-size: 10px;
    line-height: 20px;
    padding: 20px;
  }

  p {
    margin-bottom: 16px;
  }
  .switch-group {
    display: flex;
    flex-direction: row;
    &__left-label {
      cursor: pointer;
      line-height: 32px;
      padding-right: 16px;
    }
    &__right-label {
      cursor: pointer;
      line-height: 32px;
      padding-left: 16px;
    }
    .switch {
      .switch-paddle {
        border-radius: 20px;
        &:after {
          border-radius: 20px;
        }
      }
    }
  }
}

.form--add-tag {

  button {
    appearance: none;
    border: none;
    background: transparent;
  }

  .wrapper {
    position: relative;
    max-width: 0px;
    width: 200px;
    transition: all ease-in-out 200ms;
  }

  input, button {
    opacity: 0;
    padding: 0px;
    margin-bottom: 0px !important;
    transition: all ease-in-out 200ms;
  }

  input {
    line-height: 37px;
    position: relative;
    z-index: 2;
  }

  button {
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 9px;
    transform: translateY(-50%);
    cursor: pointer;
    i {
      font-size: 25px;
      color: var(--fp-main-blue);
    }
  }


  .link--icon {
    opacity: 1;
    cursor: pointer;
    width: 200px;
    top: 50%;
    left: 0px;
    transform: translateY(-50%);
    position: absolute;
    transition: all ease-in-out 200ms;
    span {

    }
  }

  &.expanded {
    .link--icon {
      width: 0px;
      opacity: 0;
    }
    button {
      opacity: 1;
      max-width: none;
    }
    .wrapper {
      max-width: 200px;
    }
    input {
      opacity: 1;
      width: 100%;
      @include input--text-round;
    }
  }
}
