//@use 'timeline' as timeline;
//@use 'header' as header;
@import'foundation-sites/scss/global';

// TODO: move to peer @use
$thumbnailsHeight: 90px;
$timelineHeight: 45px;
$headerHeight: 80px;
//

$galleryBg: #4C4C4C;
$gallerySidesBg: #666666;
$gallerySidesSize: 260px;
$galleryWidth: calc(100% - 25%);
$galleryHeight: calc(100% - $thumbnailsHeight - $timelineHeight);
$thumbnailsHeight: 120px;
$timelineHeight: 65px;
$headerHeight: 80px;

@mixin styles {
  .gallery {
    display: flex;
    position: relative;
    background-color: $gallerySidesBg;
    height: $galleryHeight;
    z-index: 0;
    overflow: hidden;

    &__image {
      height: 100%;
      width: 100%;
      @include breakpoint(large up) {
        width: $galleryWidth;
      }
      background: $galleryBg;
      figure {
        width: 100%;
        height: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    .fi-image .control {
      position: absolute;
      height: 100%;
      /*width: 100%;*/
    }

    &.hide-nav .control {
      @include breakpoint(large up) {
        opacity: 0 !important;
      }
    }

    .control {
      position: absolute;
      height: 100%;
      width: 50%;
      top: 0px;
      z-index: 1;
    }

    .control.previous {
      cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cg id='Group_56' data-name='Group 56' transform='translate(2542 -4764)'%3E%3Cpath id='Path_90' data-name='Path 90' d='M15,0A15,15,0,1,1,0,15,15,15,0,0,1,15,0Z' transform='translate(-2542 4764)' fill='rgba(51,51,51,0.2)'/%3E%3Cpath id='Path_89' data-name='Path 89' d='M33.779,16.5,27.041,24l6.738,7.5' transform='translate(-2557.287 4754.505)' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='2.5'/%3E%3C/g%3E%3C/svg%3E%0A"), auto;
      left: 0px;
    }

    .control.forward {
      cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cg id='Group_58' data-name='Group 58' transform='translate(-2512 4794) rotate(180)'%3E%3Cpath id='Path_90' data-name='Path 90' d='M15,0A15,15,0,1,1,0,15,15,15,0,0,1,15,0Z' transform='translate(-2542 4764)' fill='rgba(51,51,51,0.2)'/%3E%3Cpath id='Path_89' data-name='Path 89' d='M33.779,16.5,27.041,24l6.738,7.5' transform='translate(-2557.287 4754.505)' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='2.5'/%3E%3C/g%3E%3C/svg%3E%0A"), auto;
      right: 0px;
    }

    &__background{
      display: none;
      position: absolute;
      z-index: -1;
      width: $galleryWidth;
      height: 100%;
      background: $galleryBg;
      margin:auto;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
    }

    &__controls-top, &__controls-bottom {
      z-index: 100;
      position: absolute;
      top: 0px;
      left: 50%;
      width: 100%;
      @include breakpoint(large) {
        width: $galleryWidth;
      }
      height: 50px;
      display: flex;
      justify-content: flex-end;
      padding: 0px;
      transform: translateX(-50%);
      transition: top ease-in-out 350ms, bottom ease-in-out 350ms;
      > button {
        background: none;
        border: none;
        padding: 0px;
        cursor: pointer;
        img {
          width: 55px;
          transition: all ease-in-out 100ms;
          padding: 5px 15px;
          margin: 0px;
          cursor: pointer !important;
        }
        &:hover {
          img {
            transform: translateY(-5px);
          }
        }
      }
    }

    &__controls-top {
      background: transparent linear-gradient(180deg, #0000004D 0%, #00000000 100%) 0% 0% no-repeat padding-box;
      @include breakpoint(large) {
        .hide-nav & {
          top: -50px !important;
        }
      }
    }

    &__controls-bottom {
      background: transparent linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%) 0% 0% no-repeat padding-box;
      top: auto;
      bottom: 0px;
      z-index: 200;
      @include breakpoint(large) {
        .hide-nav & {
          bottom: -50px !important;
        }
      }
    }

    &__popups {
      width: 100%;
      @include breakpoint(large up) {
        width: $galleryWidth;
      }
      position: absolute;
      bottom: 0px;
      left: 50%;
      transform: translateX(-50%);
      //min-height: 300px;
      z-index: 150;
    }

    &__popup {
      @extend .photo-menu-popup;
    }

  }

  // Zoom Popup
  .follow-zoom-popup {
    display: none;
  }

  .gallery.zoom-opened {
    z-index: 9999;
    .gallery__popups {
      position: fixed;
      width: 100%;
      z-index: 9999999;
    }
    .control {
      position: fixed;
      z-index: 9999999;
      width: 12.5%;
      cursor: pointer;
      transform: translateY(-50%);
      top: 50%;
      height: 75%;
      opacity: 1;
      transition: opacity ease-in-out 250ms;
      &.previous {
        &:after {
          content: '';
          left: auto;
          right: 0px;
          transition: all ease-in-out 200ms;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.993' height='19.131' viewBox='0 0 23.993 19.131'%3E%3Cg id='Group_16' data-name='Group 16' transform='translate(-15.096 -15.435)'%3E%3Cpath id='Path_44' data-name='Path 44' d='M25.722,16.5l-8.5,8.5,8.5,8.5' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='3'/%3E%3Cpath id='Path_54' data-name='Path 54' d='M215.345,952h21.526' transform='translate(-197.782 -927)' fill='none' stroke='%23fff' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: center center;
          border-radius: 100%;
          background-color: #4C4C4C;
          display: block;
          width: 44px;
          height: 44px;
          position: absolute;
          top: 50%;
        }
      }
      &.forward {
        &:after {
          content: '';
          left: 0px;
          right: auto;
          transition: all ease-in-out 200ms;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='23.993' height='19.131' viewBox='0 0 23.993 19.131'%3E%3Cg id='Group_16' data-name='Group 16' transform='translate(-15.096 -15.435)'%3E%3Cpath id='Path_44' data-name='Path 44' d='M25.722,16.5l-8.5,8.5,8.5,8.5' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='3'/%3E%3Cpath id='Path_54' data-name='Path 54' d='M215.345,952h21.526' transform='translate(-197.782 -927)' fill='none' stroke='%23fff' stroke-width='3'/%3E%3C/g%3E%3C/svg%3E%0A");
          background-repeat: no-repeat;
          background-position: center center;
          border-radius: 100%;
          background-color: #4C4C4C;
          display: block;
          width: 44px;
          height: 44px;
          position: absolute;
          top: 50%;
          transform: rotate(180deg);
        }
      }
    }
    .gallery__controls {
      .gallery__controls-top {
        width: 100%;
        position: fixed;
        bottom: 0px;
        left: 0px;
        z-index: 99999999;
        transform: translateX(0%);
      }

      .gallery__controls-bottom {
        width: 100%;
        position: fixed;
        bottom: 0px;
        left: 0px;
        z-index: 99999999;
        transform: translateX(0%);
      }
    }
  }

  .gallery.zoom-opened {
    .follow-zoom-popup {
      display: block;
      background-color: gray;
      cursor: zoom-in;
    }
  }

  .follow-zoom-timeline-popup-img {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 999999;
    background-color: #000 !important;
    height: calc(100%);
    width: calc(100%);
    background-repeat: no-repeat;
    background-position: center top;
    background-size: contain;
    cursor: zoom-in;
  }

  .gallery.zoom-opened.zoomed {
    .control {
      display: none;
    }
    .follow-zoom-timeline-popup-img {
      cursor: zoom-out;
    }
  }

  @media (max-width: 1140px) {
    .follow-zoom-background-overlay, .follow-zoom-timeline-popup-img {
      display: none;
    }

  }

}
