@use "sass:map";

@import 'foundation-sites/scss/global';

$height: ("small": 60px, "medium": 80px, "large": 80px);

@mixin styles {
  header {
    /*max-height: 200px;
    grid-row: 1 / span 1;
    padding: 1.6vh;*/

    @include breakpoint(small up) {
      height: map.get($height, 'small');
    }
    @include breakpoint(xlarge up) {
      height: map.get($height, 'medium');
    }
    padding: 6px 15px;
  }

  .logo-img {
    @include breakpoint(small up) {
      width: 75px;
    }
    @include breakpoint(xlarge up) {
      width: 11.5vw;
      min-width: 165px;
    }
    vertical-align: middle;
  }

  nav {
    display: flex;
    height: 100%;
  }

  nav ul {
    display: flex;
    display: -webkit-flex;
    align-self: center;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }

  nav ul li {
    list-style: none;
    text-transform: uppercase;
  }

  header nav div img {
    width: 30px;
  }
}
