@use "sass:map";
@use '../typography' as *;

@import 'foundation-sites/scss/global';

$height: ("small": 60px, "medium": 80px, "large": 80px);

@mixin styles {
  header {
    /*max-height: 200px;
    grid-row: 1 / span 1;
    padding: 1.6vh;*/

    @include breakpoint(small up) {
      height: map.get($height, 'small');
    }
    @include breakpoint(xlarge up) {
      height: map.get($height, 'medium');
    }
    padding: 6px 15px;
  }

  .logo {
    &__text {
      font-family: Montserrat;
      font-size: 15px;
      line-height: 22px;
      //font-style: normal;
      //font-variant: normal;
      font-weight: $font-weight-bold;
      //letter-spacing: 0px;
      color: var(--fp-main-blue);
    }
  }

  .logo-img {
    @include breakpoint(small up) {
      width: 75px;
    }
    @include breakpoint(large up) {
      width: 11.5vw;
      min-width: 165px;
    }
    vertical-align: middle;
    &--icon {
      @include breakpoint(small up) {
        min-width: initial;
        width: 50px;
      }
      vertical-align: middle;
      margin-right: 10px;
    }
  }

  nav {
    display: flex;
    height: 100%;
  }

  nav ul {
    display: flex;
    display: -webkit-flex;
    align-self: center;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
  }

  nav ul li {
    list-style: none;
    text-transform: uppercase;
  }

  header nav div img {
    width: 30px;
  }
}
