$lineHeight: 24px;

.logo-spinner {
  &:not(.init) {
    opacity: 0;
  }
  &.init {
    opacity: 1;
  }
  //width: 150px;
  * {
    font-family: "acumin-variable",sans-serif !important;
    font-variation-settings: 'wght' 700, 'wdth' 90, 'slnt' 0 !important;
    color: var(--fp-main-blue);
    letter-spacing: 1em;
  }

  // add letter spacing 1em
  // make logo original size
  // reduce spacing between caret and state letters for small width letters


  padding-right: 60px;
  position: relative;
  width: auto;
  display: inline-block;

  &.expanded {
    .logo-spinner__list-wrapper {
      top: -16px;
      height: 218px !important;
      position: absolute;
      &:before {
        content: '';
        background-color: #fff;
        width: 100%;
        height: 40px;
        top: 0px;
        left: 0px;
        position: sticky;
        display: block;
        z-index: 1;
      }
    }
    .logo-spinner__list-arrow {
      //opacity: 0;
      //transform: rotate(180deg);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.337' height='6.58' viewBox='0 0 11.337 6.58'%3E%3Cpath id='Path_107' data-name='Path 107' d='M31.533,16.5l-4.492,5,4.492,5' transform='translate(-15.827 32.277) rotate(-90)' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2'/%3E%3C/svg%3E%0A");
    }
    .logo-spinner__list {
      height: 24px;
      &:before, &:after {
        display: none;
      }
      ul {
        transform: none !important;
        li {
          padding: 0px;
          margin: 0px 5px;
          width: 36px;
          text-align: center;
          cursor: pointer;
          &.disabled {
            opacity: 0.25 !important;
            cursor: default;
          }
          &:not(.disabled):hover {
            color: #fff;
            background-color: var(--fp-main-blue);
          }
        }
      }
      &-wrapper {
        box-shadow: 0px 0px 11px 0px #8888882b;
        overflow-x: hidden;
        overflow-y: scroll;
        /* width */
        &::-webkit-scrollbar {
          width: 4px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: #f1f1f1;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: #888;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #555;
        }
      }
      li {
        opacity: 1 !important;
        transform: none !important;
        animation: none !important;
        transition: none !important;
        &.copy {
          display: none;
        }
      }
    }
  }

  &:not(.expanded).disable-animations {
    li {
      display: none;
      &.active {
        display: block;
      }
    }
  }
  &.disable-animations {
    li {
      animation: none !important;
      transition: none !important;
      &.copy {
        display: none;
      }
    }
    .logo-spinner__list:before, .logo-spinner__list:after {
      display: none;
    }
    .logo-spinner__list-wrapper {
      //position: absolute;
    }
  }
  &.in {
    .logo-spinner__list {
      width: 24px;
      //height: 24px;
      ul {

      }
      li {
        animation: slide-in 1.2s ease 0s 1;
        animation-fill-mode: forwards;
        opacity: 0;
        //height: 0px;
      }
      li.active {
        cursor: pointer;
        opacity: 1;
        //height: $lineHeight;
      }
      li.copy {
        opacity: 0;
      }
      li:last-child {
        //animation: slide-in-last 1.2s ease-in 0s 1;
        //animation-fill-mode: forwards;
      }
    }
  }
  &.done {
    .logo-spinner__list {
      width: 24px;
      &:before, &:after {
        display: none;
      }
    }
    .logo-spinner__list-arrow {
      opacity: 1;
      z-index: 2;
    }
    .logo-spinner__list-wrapper {
      height: 24px;
    }
    &:not(.expanded) {
      li {
        display: none;
      }
    }
    li {
      animation: none !important;
      transition: none !important;
      &.active {
        display: block;
      }
    }
  }
  &__wrapper {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    height: $lineHeight;
  }
  &__icon {
    width: 43px;
    overflow: hidden;
    flex-shrink: 0;
    margin-right: 5px;
    img {
      vertical-align: top;
      width: 150px;
      min-width: auto;
    }
  }
  &__fortepan, &__site-name {
    margin-right: 5px;
    text-transform: uppercase;
  }
  &__list {
    width: 22px;
    position: relative;
    text-transform: uppercase;
    flex-shrink: 0;
    transition: all ease-in-out 0.2s;
    &-wrapper {
      height: 100px;
      overflow: hidden;
    }
    &-arrow {
      cursor: pointer;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11.337' height='6.58' viewBox='0 0 11.337 6.58'%3E%3Cpath id='Path_107' data-name='Path 107' d='M31.533,16.5l-4.492,5,4.492,5' transform='translate(-15.827 32.277) rotate(-90)' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2'/%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center center;
      position: absolute;
      //top: 50%;
      //right: 0px;
      //transform: translateX(100%) translateY(-50%);
      width: 20px;
      height: 24px;
      transform: translateX(100%);
      top: 0px;
      right: 0px;
      opacity: 0;
      transition: opacity linear 0.1s;
    }
    &:before, &:after {
      content: '';
      position: absolute;
      width: 100%;
      background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
      height: 40px;
    }
    &:before {
      top: 0px;
      left: 0px;
    }
    &:after {
      transform: rotate(180deg);
      bottom: 0px;
      left: 0px;
    }
    ul {
      margin: 0px;
      padding: 0px;
      list-style-type: none;
      display: block;
    }
    li {
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      opacity: 1;
      height: $lineHeight;
      line-height: $lineHeight;
      transition: opacity 0.5s ease-in-out 0.7s, height 0.5s ease-in-out 1.2s;
    }
  }
}

.slide-in {
  animation: slide-in 2s ease infinite;
}
