@use '../typography' as *;

.hamburger-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  button {
    position: relative;
  }
  .is-active {
    &:after {
      content: '';
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: var(--fp-main-blue);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
}

@mixin collapsibleMenu {
  background: $white;
  position: absolute;
  z-index: 1000;
  top: 73px;
  right: 1rem;
  width: 250px;
  transition: all ease-in-out 250ms;
  max-height: 600px;
  overflow: hidden;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 3px;
  &.collapse {
    max-height: 0px;
  }
}

#login {

  @include collapsibleMenu;

  .wrapper {
    padding: 10px 15px 15px 15px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      margin: 10px 0;
    }

    input[type="text"], input[type="password"] {
      background: var(--fp-main-grey);
    }

    input[type=submit] {
      @include button--round;
      width: auto;
    }
  }

  p a {
    font-size: 10px;
    font-weight: $font-weight-semibold;
    color: var(--fp-main-blue);
    text-decoration: none;
  }

  p {
    width: 100%;
    margin-bottom: 5px;
  }

}

.hamburger-menu {

  @include collapsibleMenu;

  ul {
    padding: 10px 15px 15px 15px;
    display: block;
  }

  li {
    list-style-type: none;
    padding: 6px;
    text-align: center;

    a {
      color: #535353;
      font-size: 12px;
      text-decoration: none;
    }

    a:hover {
      color: var(--fp-main-blue);
    }

    &.active {
      background: var(--fp-main-blue);
    }

    &.active > a {
      color: white;
    }
  }

}

@media only screen and (max-width: 1140px) {
  .mobile-hidden {
    display: none;
  }
}

@media (min-width: 1140px) {
  .mobile-visible {
    display: none;
  }
}

.main-nav {
  display: flex;
  align-self: center;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  button {
    cursor: pointer;
    appearance: none;
    border: none;
    background: none;
  }
}

.main-nav_left {
  flex-grow: 1;
  padding-left: 20px;
}

.main-nav_right {
  flex-grow: 1;
  justify-content: flex-end;
}

.main-nav_left, .main-nav_right {
  display: flex;
  align-items: center;
}

.main-nav_center {
  width: 28vw;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 1140px) {
  .header-text {
    display: none;
  }
}

.header-text {
  flex-grow: 1;
  font-size: 10px;
  text-align: center;
  color: #777;
}
