@use '../typography' as *;

.hamburger-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  button {
    position: relative;
  }
  .is-active {
    &:after {
      content: '';
      display: block;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: var(--fp-main-color);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -1;
    }
  }
}

@mixin collapsibleMenu {
  background: $white;
  position: absolute;
  z-index: 1000;
  top: 73px;
  right: 1rem;
  width: 250px;
  transition: all ease-in-out 250ms;
  max-height: 600px;
  overflow: hidden;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  border-radius: 3px;
  &.collapse {
    max-height: 0px;
  }
}

#login {

  @include collapsibleMenu;

  .wrapper {
    padding: 10px 15px 15px 15px;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;

    input {
      margin: 10px 0;
    }

    input[type="text"], input[type="password"] {
      background: #EDEDED;
      border: 0.8px solid #B5B5B5;
      border-radius: 3px;
      &::placeholder {
        font-size: 10px;
        letter-spacing: 0.2px;
        color: #B5B5B5;
        opacity: 1;
      }
      &::-ms-input-placeholder {
        font-size: 10px;
        letter-spacing: 0.2px;
        color: #B5B5B5;
      }
    }

    input[type=submit] {
      @include button--round;
      width: auto;
      line-height: 35px;
    }
  }

  p a {
    font-size: 10px;
    font-weight: $font-weight-semibold;
    color: var(--fp-main-color);
    text-decoration: none;
  }

  p {
    width: 100%;
    margin-bottom: 5px;
  }

  h3 {
    font-size: 16px;
    font-weight: $font-weight-medium;
    letter-spacing: 0.8px;
    color: #4C4C4C;
    margin-bottom: 12px;
  }

}

.hamburger-menu {

  @include collapsibleMenu;

  ul {
    padding: 10px 15px 15px 15px;
    display: block;
  }

  li {
    list-style-type: none;
    padding: 6px;
    text-align: center;

    a {
      color: #535353;
      font-size: 12px;
      text-decoration: none;
    }

    a:hover {
      color: var(--fp-main-color);
    }

    &.active {
      background: var(--fp-main-color);
    }

    &.active > a {
      color: white;
    }
  }

}

@media only screen and (max-width: 1140px) {
  .mobile-hidden {
    display: none;
  }
}

@media (min-width: 1140px) {
  .mobile-visible {
    display: none;
  }
}

.main-nav {
  display: flex;
  align-self: center;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
  button {
    cursor: pointer;
    appearance: none;
    border: none;
    background: none;
  }
}

.main-nav_left {
  flex-grow: 1;
  margin-right: 10px;
  @include breakpoint(large up) {
    padding-left: 20px;
  }
}

.main-nav_right {
  justify-content: flex-end;
  @include breakpoint(medium up) {
    flex-grow: 1;
    > div:not(.hamburger-container) {
      &:after {
        content: '';
        width: 98%;
        height: 2px;
        bottom: 0px;
        left: 0px;
        opacity: 0;
        position: absolute;
        background-color: #BFBFBF;
        transition: opacity ease-in-out 250ms;
      }

      &:hover:after {
        opacity: 1;
      }
    }
  }
}

.main-nav_left, .main-nav_right {
  display: flex;
  align-items: center;
}

.main-nav_center {

  @include breakpoint(small up) {

  }
  @include breakpoint(medium up) {
    width: 347px;
  }
  @include breakpoint(large up) {
    width: 28vw;
  }
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @include breakpoint(medium up) {
    .view-buttons > div {
      position: relative;

      &:after {
        content: '';
        width: 86%;
        height: 2px;
        bottom: 0px;
        left: 50%;
        opacity: 0;
        position: absolute;
        background-color: #BFBFBF;
        transition: opacity ease-in-out 250ms;
        transform: translateX(-50%);
      }

      &:hover:after {
        opacity: 1;
      }
    }
  }
}

@media (max-width: 1140px) {
  .header-text {
    display: none;
  }
}

.header-text {
  flex-grow: 1;
  font-size: 10px;
  text-align: center;
  color: #777;
}

.new-label_container, .login-container {
  @include breakpoint(small up) {
    width: 40px;
    height: 40px;
  }
  @include breakpoint(large up) {
    width: 54px;
    height: 54px;
  }

  > button {
    width: 100%;
    height: 100%;
  }
}

.grid-icon, .timeline-container {
  padding: 10px;
}

.view-buttons {
  display: flex;
  height: 40px;
  z-index: 1;
  flex-shrink: 0;
  @include breakpoint(small only) {
    overflow: hidden;
    flex-direction: column;
    &:focus, &:active, &.expanded {
      overflow: visible;
    }
    > div {
      background-color: $white;
      &:not(.current-view), &:not(:last-child) {
        border-bottom: 1px solid #D3D3D3;
      }
    }
  }
  @include breakpoint(medium up) {
    flex-direction: row;
  }
  .current-view {
    @include breakpoint(small up) {
      order: 0;
    }
    background: var(--fp-main-color);
  }
  .current-view a img{
    opacity: 1 !important;
    filter: brightness(0) invert(1);
  }

}
