@use '../typography' as *;
@import 'button';
@import 'input';

$popupBg: rgba(51, 51, 51, 0.95);
//$popupMaxHeight: calc(100vh - 170px);
$popupMaxHeight: 40vh;

@mixin hover-scrollbar {
  overflow-y: scroll;
  mask-image: linear-gradient(to top, transparent, black), linear-gradient(to left, transparent 17px, black 17px);
  mask-size: 100% 20000px;
  mask-position: left bottom;
  transition: mask-position 0.3s, -webkit-mask-position 0.3s;

  &::-webkit-scrollbar {
    background: transparent;
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: #222;
    border-radius: 20px;
  }

  &:hover {
    -webkit-mask-position: left top;
  }
}

.photo-menu-popup {
  width: 100%;
  max-height: 0px;
  opacity: 1;
  transition: max-height ease-in-out 100ms, opacity ease-in-out 100ms;
  overflow: hidden;
  position: absolute;
  bottom: 0px;

  form {
    label[for=id_name] {
      @extend .h4;
    }
  }

  .comments {
    font-size: 16px;
    line-height: 22px;
    font-weight: $font-weight-regular;
    letter-spacing: 0.05em;
    margin-bottom: $global-margin;
  }


  &.expanded {
    max-height: $popupMaxHeight;
    opacity: 1;
  }

  h1 {
    font-size: 28px;
    margin-bottom: 20px;
    a {
      color: $white;
      border-bottom: 4px solid var(--fp-main-blue);
    }
  }
  h2 {
    font-size: 22px;
    margin-bottom: 20px;
  }
  h3 {
    @extend .h4;
  }
  //h4 {
  //  @extend .h4;
  //}

  color: $white;
  background-color: $popupBg;

  @include breakpoint(large up) {

  }

  .container--scroll {
    height: 100%;
    //padding: 0px 100px 200px 100px;
    //padding: 0px 0px 200px 0px;
    //margin-top: 20px;
    margin-bottom: 80px;
    @include hover-scrollbar;
    transform: none; // allows fixed elements to be positioned relative to this container
  }

  &__wrapper {
    height: calc($popupMaxHeight - 120px);
    margin: 40px 60px 80px;
    &.no-scroll {
      overflow: hidden;
    }
    > .row {
      height: 100%;
    }
    &:not(.no-scroll) {
      @include hover-scrollbar;
      margin-top: 30px;
      margin-bottom: 45px;
    }
    a {

    }
    p {
      letter-spacing: 0.1em;
      font-size: 14px;
      line-height: 20px;
    }
    .text-small {
      margin-top: 20px;
    }
  }

  &__title {
    font-weight: bold; // TODO: Add to font-weight palette
    border-bottom: 2px solid rgba(0, 0, 0, .13); // TODO: Add to color palette
    margin-bottom: calc($global-margin * 2);
    padding: calc($global-margin / 2) 0px;
    font-size: 22px; // TODO: Add to font-size palette
  }

  &__edit-btn {
    &:after{
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg id='edit' xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Crect id='Rectangle_74' data-name='Rectangle 74' width='40' height='40' fill='none'/%3E%3Cg id='Group_37' data-name='Group 37' transform='translate(-5.767 -6.464)'%3E%3Cpath id='Path_55' data-name='Path 55' d='M23.336,16.36H12.767V38.872H35.283V28.3' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='2.7'/%3E%3Cg id='Group_36' data-name='Group 36' transform='translate(21.707 12.796)'%3E%3Cg id='Group_35' data-name='Group 35'%3E%3Cpath id='Path_56' data-name='Path 56' d='M32.83,13.214,27.2,18.84l-.365.365-5.076,5.076-1.728,5.713,5.713-1.728,5.076-5.077.365-.364L36.815,17.2a1.222,1.222,0,0,0,.119-1.716l-2.387-2.388A1.224,1.224,0,0,0,32.83,13.214Z' transform='translate(-20.035 -12.796)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.7'/%3E%3Cline id='Line_18' data-name='Line 18' x2='3.67' y2='3.67' transform='translate(9.823 3.649)' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2.7'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
    }
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 40px;
    padding: 12px;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }

  &__close-btn {
    &:after {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg id='X' xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3E%3Cpath id='Path_48' data-name='Path 48' d='M0,0V25.456' transform='translate(24 6) rotate(45)' fill='none' stroke='%23fff' stroke-width='3'/%3E%3Cpath id='Path_49' data-name='Path 49' d='M0,0V25.455' transform='translate(24 24) rotate(135)' fill='none' stroke='%23fff' stroke-width='3'/%3E%3Crect id='Rectangle_65' data-name='Rectangle 65' width='30' height='30' fill='none'/%3E%3C/svg%3E%0A");
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      transition: all ease-in-out 0.15s;
    }

    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 15px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: var(--fp-secondary-ticker-color);
    &:hover:after {
      transform: rotate(180deg);
    }

  }

}
