.thumbnail-collection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 12px;

  &__item {
    width: calc(33.333% - 9px);
    position: relative;
    &:hover {
      .thumbnail-collection__delete {
        opacity: 1;
      }
    }
    img {
      width: 100%;
      margin-bottom: 12px;
    }
  }

  &__delete {
    opacity: 0;
    background-image: url("../images/extracted_svgs/_thumbnail-collection_1.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: pointer;

    &:hover {
      background-color: rgba(255, 255, 255, 1);
    }

    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    transition: all ease-in-out 150ms;
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
