.thumbnail-collection {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__item {
    width: calc(33.333% - 9px);
    position: relative;

    img {
      width: 100%;
      margin-bottom: 12px;
    }
  }

  &__delete {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16.192' height='16.975' viewBox='0 0 16.192 16.975'%3E%3Cg id='trash' transform='translate(-0.904 -0.813)'%3E%3Cpath id='Path_115' data-name='Path 115' d='M17.244,4.717s-.019-.465-.019-1.4A2.232,2.232,0,0,0,15.2,1.25H11.848A2.232,2.232,0,0,0,9.82,3.313c0,.939-.02,1.4-.02,1.4' transform='translate(-4.522 0.563)' fill='none' stroke='%23747474' stroke-miterlimit='10' stroke-width='2'/%3E%3Cpath id='Path_114' data-name='Path 114' d='M18.468,6.982,17.146,18.029a.491.491,0,0,1-.517.461H7.547a.492.492,0,0,1-.517-.461L5.708,6.982' transform='translate(-3.088 -1.702)' fill='none' stroke='%23747474' stroke-miterlimit='10' stroke-width='2'/%3E%3Cline id='Line_48' data-name='Line 48' x2='16.192' transform='translate(0.904 5.279)' fill='%23fff' stroke='%23747474' stroke-width='2'/%3E%3Cline id='Line_49' data-name='Line 49' x2='16.192' transform='translate(0.904 5.279)' fill='none' stroke='%23747474' stroke-miterlimit='10' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(255, 255, 255, 0.5);
    &:hover {
      background-color: rgba(255, 255, 255, 1);
    }

    display: block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    transition: all ease-in-out 150ms;
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
