@use 'sass:math';
@use 'gallery' as gallery;
@use '../keyframes' as *;
@use '../typography' as *;
@import 'foundation/scss/global';

// Settings
$thumbnailsHeight: 90px;
$timelineHeight: 45px;
$dark-base: #000;
$light-primary: #ccc;
$light-base: #fff;
$dark-secondary: #333;
$red: #ff0000;
$grey: grey;

@function rem($value) {
  $remValue: math.div($value, 16px) * 1rem;
  @return $remValue;
}

@mixin styles {

  .fi-timeline {
    //display: none;
    //@include breakpoint(large up) {
    width: 100%;
    height: $thumbnailsHeight;
    //display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    background: #cccccc;
    //}
  }

  .fi-thumbnail-carousel {
    height: $thumbnailsHeight;
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }

  #fi-thumbnail-carousel-images {
    position: relative;
    left: 0px;
    margin-left: calc((95px * -20.5) + 50%);
    height: 100%;
    transition: filter ease-in-out 50ms, left ease-in-out 250ms;
    &.dragging { // don't animate left when dragging
      transition: filter ease-in-out 50ms;
    }
    li {
      --carousel-image-padding: 10px;
      padding: 0 var(--carousel-image-padding);
      opacity: 1;
      transition: all ease-in-out 100ms;
      margin:  0 0 5px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;

      > span {
        cursor: pointer;
      }

      &[data-active] {
        //position: absolute;
        //top: 3px;
        //left: 50%;
        width: 95px;
        //transform: translateX(-50%);
        &:before {
          content: '';
          margin: 0 10px;
          position: absolute;
          top: 0;
          height: 85px;
          width: calc(100% - (20px));
          background-color: var(--fp-main-color);
          z-index: 0;
        }
        &:after {
          --active-image-arrow-size: 8px;
          content: '';
          position: absolute;
          top: calc(var(--active-image-arrow-size) * -1);
          left: 50%;
          transform: translateX(-50%);
          width: 0;
          height: 0;
          border-left: var(--active-image-arrow-size) solid transparent;
          border-right: var(--active-image-arrow-size) solid transparent;
          border-bottom: var(--active-image-arrow-size) solid var(--fp-main-color);
        }
      }

      img {
        &.empty {

        }
        width: auto;
        transform: translateY(5px);
        z-index: 2;
      }
    }
  }

  .photos-timeline {
    position: relative;
    //top: rem(48px + 2 * 8px);
    left: 0;
    right: 0;
    height: $timelineHeight;
    box-sizing: border-box;
    //opacity: 0;
    pointer-events: none;
    user-select: none;
    transition: transform 0.8s $ease-out-expo, opacity 0.8s $ease-out-expo;

    @include breakpoint(large up) {
      //top: rem(48px + 2 * 16px);
    }

    opacity: 1;
    pointer-events: initial;

    //&.is-visible {
    //
    //}

    &.has-shadow {
      &:after {
        display: block;
        position: absolute;
        content: "";
        left: 0;
        right: 0;
        bottom: -12px;
        height: 12px;
        background: linear-gradient(0deg, rgba($dark-base, 0) 0%, rgba($dark-base, 0.06) 100%);
      }
    }


    color: $dark-base;
    background-color: #F0F0F0; // TODO: Add to color palette.

  }

  .photos-timeline__slider__container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 73px;
    right: 73px;
    cursor: pointer;
  }

  .photos-timeline__slider {
    position: absolute;
    top: calc(50% - 35px/2);
    width: 56px;
    padding: 0px;
    border-radius: 4px;
    transition: left 0.4s $ease-out-expo, background-color 0.3s $ease-out-expo;
    cursor: pointer;
    font-weight: $font-weight-bold;
    font-size: 13;
    line-height: 35px;
    box-sizing: border-box;
    user-select: none;
    text-align: center;
    letter-spacing: 0.3px;

    .is-used & {
      transition: background-color 0.3s $ease-out-expo, border-color 0.3s $ease-out-expo;
    }

    &:hover,
    &.is-active {
      color: $white;
      background-color: var(--fp-main-color);

      &.is-empty {
        color: $white;
        background-color: $grey;
      }
    }

    color: $white;
    background-color: var(--fp-main-color);

  }

  .button-circular__label {
    .photos-timeline__slider &,
    .photos-timeline__year-indicator & {
      font-weight: $font-weight-semibold;
      position: absolute;
      z-index: 9999;
      left: 50%;
      top: -100%;
      line-height: 1.5;

      &:before {
        position: absolute;
        bottom: -4px;
        margin: auto;
        left: calc(50% - 8px);
        border-bottom: 0;
        border-top: 6px solid transparent;
      }

      &:before {
        border-top-color: $dark-base;
      }

    }

    .photos-timeline__slider & {
      top: -115%;
      display: none;
    }

    .photos-timeline__year-indicator & {
      top: auto;
      bottom: 20px;
    }

    .photos-timeline__slider:hover &,
    .photos-timeline__slider.is-active &,
    .photos-timeline__year-indicator.is-hover & {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, 0px);
      transition: transform 0.4s $ease-out-expo, opacity 0.4s $ease-out-expo, visibility 0s linear 0s,
      background-color 0.4s $ease-out-expo, color 0.4s $ease-out-expo;

      &::before {
        transition: opacity 0.4s $ease-out-expo, border-color 0.4s $ease-out-expo;
        opacity: 1;
      }
    }

    .is-empty & {
      color: rgba($light-base, 0.4);
    }

    & .count {
      font-weight: $font-weight-semibold;
      opacity: 0.5;
    }
  }

  .photos-timeline__slider-selected-range {
    position: absolute;
    top: calc(50% - 1px);
    height: 2px;
    border-radius: 1px;
    width: 0;
    transition: left 0.4s $ease-out-expo, width 0.4s $ease-out-expo;

    .photos-timeline.is-used & {
      transition: none;
    }

    background-color: var(--fp-main-color);

  }

  .photos-timeline__range-background {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: calc(50% - 1px);
    height: 2px;
    border-radius: 1px;
    transition: left 0.4s $ease-out-expo, width 0.4s $ease-out-expo;

    .photos-timeline.is-used & {
      transition: none;
    }

    background-color: #C6C6C6; // Todo: Add to color palette
  }

  .photos-timeline__year-label {
    position: absolute;
    width: 60px;
    top: 50%;
    transform: translateY(-50%);
    left: 14px;
    cursor: pointer;
    font-weight: $font-weight-bold;
    font-size: 13px;
    letter-spacing: 0.3px;
    line-height: 30px;
    text-align: center;
    border-radius: 6px;
    box-sizing: border-box;
    user-select: none;
    transition: color 0.3s $ease-out-expo, background-color 0.3s $ease-out-expo;

    color: #333333; // Todo: Add to color palette
    background: #DEDEDE; // Todo: Add to color palette

    &:hover {
      color: $white;
      background: var(--fp-main-color);
    }

    &.photos-timeline__year-label--yearEnd {
      left: auto;
      right: 14px;
    }
  }

  .photos-timeline__year-indicator {
    position: absolute;
    top: 50%;

    cursor: pointer;
    font-weight: $font-weight-bold;
    font-size: 11px;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: -7px;
      left: -1px;
      width: 2px;
      height: 14px;
      border-radius: 1px;
      background-color: var(--fp-main-color);

      opacity: 0;
      transform: scale(0);

      transition: opacity 0.3s $ease-out-expo, transform 0.3s $ease-out-expo;
    }

    &.is-hover:before {
      opacity: 1;
      transform: none;
    }
  }

  .photos-timeline__ruler {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .photos-timeline__ruler-indicator {
    position: absolute;
    top: 50%;
    display: none;

    &:before {
      content: "";
      display: block;
      position: absolute;
      top: -7px;
      left: -1px;
      width: 2px;
      height: 14px;
      border-radius: 1px;
    }

    &:before {
      // background-color: rgba($dark-base, 0.08);
      background-color: #C6C6C6; // Todo: add to color palette
    }

    &.visible {
      display: block;
    }
  }

  .forward-arrows > a, .back-arrows > a {
    //background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg id='auto-slide-icon-left' transform='translate(-203 -932)'%3E%3Cg id='Group_16' data-name='Group 16' transform='translate(197.782 927)'%3E%3Cpath id='Path_44' data-name='Path 44' d='M25.722,16.5l-8.5,8.5,8.5,8.5' fill='none' stroke='%234c4c4c' stroke-miterlimit='10' stroke-width='3'/%3E%3Cpath id='Path_45' data-name='Path 45' d='M35.545,16.5l-8.5,8.5,8.5,8.5' fill='none' stroke='%234c4c4c' stroke-miterlimit='10' stroke-width='3'/%3E%3C/g%3E%3Crect id='Rectangle_51' data-name='Rectangle 51' width='40' height='40' transform='translate(203 932)' fill='none'/%3E%3C/g%3E%3C/svg%3E%0A");
    display: block;
    width: 35px;
    height: 35px;
    border: none;
    cursor: pointer;
    position: relative;
    background-color: #E6E6E6;
    border-radius: 100%;
    background-position: center center;
    background-size: 100% 100%;
    &:first-child {
      margin-right: 10px;
    }
    &.disabled {
      opacity: 0.5;
      cursor: default;
    }
  }

  .back-arrows > #backward-zip {
    background-image: url("data:image/svg+xml,%3Csvg id='double-slide-icon-left' xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26'%3E%3Cpath id='Path_59' data-name='Path 59' d='M13,0A13,13,0,1,1,0,13,13,13,0,0,1,13,0Z' fill='%23e6e6e6'/%3E%3Crect id='Rectangle_73' data-name='Rectangle 73' width='26' height='26' fill='none'/%3E%3Cpath id='Path_60' data-name='Path 60' d='M31.533,16.5l-4.492,5,4.492,5' transform='translate(-13.287 -8.495)' fill='none' stroke='%234c4c4c' stroke-miterlimit='10' stroke-width='2'/%3E%3Cpath id='Path_63' data-name='Path 63' d='M31.533,16.5l-4.492,5,4.492,5' transform='translate(-19.287 -8.495)' fill='none' stroke='%234c4c4c' stroke-miterlimit='10' stroke-width='2'/%3E%3C/svg%3E%0A");
  }

  .back-arrows > #backward {
    background-image: url("data:image/svg+xml,%3Csvg id='single-slide-icon-left' xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26'%3E%3Cpath id='Path_59' data-name='Path 59' d='M13,0A13,13,0,1,1,0,13,13,13,0,0,1,13,0Z' fill='%23e6e6e6'/%3E%3Crect id='Rectangle_73' data-name='Rectangle 73' width='26' height='26' fill='none'/%3E%3Cpath id='Path_60' data-name='Path 60' d='M31.533,16.5l-4.492,5,4.492,5' transform='translate(-16.287 -8.495)' fill='none' stroke='%234c4c4c' stroke-miterlimit='10' stroke-width='2'/%3E%3C/svg%3E");
  }

  .forward-arrows > #forward-zip {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26'%3E%3Cg id='double-slide-icon-left' transform='translate(26 26) rotate(180)'%3E%3Cpath id='Path_59' data-name='Path 59' d='M13,0A13,13,0,1,1,0,13,13,13,0,0,1,13,0Z' fill='%23e6e6e6'/%3E%3Crect id='Rectangle_73' data-name='Rectangle 73' width='26' height='26' fill='none'/%3E%3Cpath id='Path_60' data-name='Path 60' d='M31.533,16.5l-4.492,5,4.492,5' transform='translate(-13.287 -8.495)' fill='none' stroke='%234c4c4c' stroke-miterlimit='10' stroke-width='2'/%3E%3Cpath id='Path_63' data-name='Path 63' d='M31.533,16.5l-4.492,5,4.492,5' transform='translate(-19.287 -8.495)' fill='none' stroke='%234c4c4c' stroke-miterlimit='10' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
  }

  .forward-arrows > #forward {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26'%3E%3Cg id='single-slide-icon-left' transform='translate(26 26) rotate(180)'%3E%3Cpath id='Path_59' data-name='Path 59' d='M13,0A13,13,0,1,1,0,13,13,13,0,0,1,13,0Z' fill='%23e6e6e6'/%3E%3Crect id='Rectangle_73' data-name='Rectangle 73' width='26' height='26' fill='none'/%3E%3Cpath id='Path_60' data-name='Path 60' d='M31.533,16.5l-4.492,5,4.492,5' transform='translate(-16.287 -8.495)' fill='none' stroke='%234c4c4c' stroke-miterlimit='10' stroke-width='2'/%3E%3C/g%3E%3C/svg%3E%0A");
  }

  .slide-container {
    overflow-x: clip;
    position: relative;
    width: gallery.$galleryWidth;
    background-color: #b2b2b2; // TODO: Add to color palette.
  }

  .back-arrows, .forward-arrows {
    //width: calc(50vw - 475px);
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    box-shadow: 0 0 25px rgba(0,0,0,0.4);
    position: relative;
    z-index: 2;
    flex-grow: 1;
  }

  .back-arrows {
    justify-content: flex-end;
    clip-path: inset(0px -25px 0px 1px);
  }

  .forward-arrows {
    clip-path: inset(0px 0px 0px -25px);
  }

  .forward-arrows img {
    transform: scaleX(-1);
  }

  .back-arrows img, .forward-arrows img {
    width: 25px;
  }
}
