@use '../typography' as *;
@use 'foundation-sites/scss/global' as *;

@mixin container($type) {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @if $type == 'wide' {
    max-width: 1200px;
  } @else if $type == 'narrow' {
    max-width: 800px;
  } @else {
    max-width: none;
  }
}

.user-header {
  background: url('../../images/user-header-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 0px 30px;
  margin-bottom: 70px;
  @include breakpoint(large up) {
    padding: 77px 20px 35px;
  }
  &__info {
    text-align: center;
    @include breakpoint(large up) {
      text-align: left;
    }
  }
  &__wrapper {
    @include container('wide');
    display: flex;
    flex-direction: column;
    align-items: center;
    @include breakpoint(large up) {
      align-items: flex-end;
      flex-direction: row;
    }
    > div {
      margin-bottom: 20px;
      @include breakpoint(large up) {
        margin-bottom: 0px;
      }
    }
  }
  &__edit-button {
    @include breakpoint(large up) {
      margin-left: 60px;
    }
    i {
      font-size: 25px;
      color: #7f7f7f;
    }
  }
  &__email {
    font-size: 12px;
    color: #6F6F6F;
    font-weight: $font-weight-regular;
  }
  &__logout {
    @include breakpoint(large up) {
      margin-left: auto;
    }
  }
}

