.radios {
  min-height: 100px;
  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.25); // TODO: Add to field-styling palette
  margin-bottom: 6px; // TODO: Add to spacing palette

  > li {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
    input[type="checkbox"] {
      appearance: none;
      &:checked:before {
        background-color: transparent;
      }
      &:checked:after {
        display: block;
      }
      &:after {
        content: '';
        position: absolute;
        display: none;
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        transform: rotate(45deg);
      }
      &:before {
        content: '';
        position: absolute;
        top: 0px;
        right: 0px;
        height: 25px;
        width: 25px;
        border: 3px solid var(--fp-main-blue);
        border-radius: 100%;
      }
    }
    &:hover input[type="checkbox"]:before {
      background-color: #ccc;
    }

  }
}
