@use '../../typography' as *;
@use 'buttons' as *;

.shepherd-element {
  border-radius: 0px;
  &[data-popper-placement="top"] {
    transform: translateY(-37px);
    .shepherd-arrow {
      bottom: -32px;
    }
  }
  &[data-popper-placement="bottom"] {
    transform: translateY(37px);
    .shepherd-arrow {
      top: -32px;
      transform: rotate(180deg);
    }
  }
  &[data-popper-placement="left"] {
    transform: translateX(-37px);
    .shepherd-arrow {
      right: -32px;
      transform: rotate(270deg);
    }
  }
  &[data-popper-placement="right"] {
    transform: translateX(37px);
    .shepherd-arrow {
      left: -32px;
      transform: rotate(90deg);
    }
  }
}

.shepherd-content {
  padding: 25px;
}

.shepherd-text {
  color: #747474;
  font-size: 12px;
  line-height: 18px;
  padding: 0px;
}
.shepherd-has-title .shepherd-content .shepherd-header {
  background: transparent;
  padding: 0px;
  margin: 0px;
  display: block;
  height: auto;
  h3 {
    font-size: 14px;
    font-weight: $font-weight-bold;
  }
}

.shepherd-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  .shepherd-button {
    @include button--round;
  }
}

.shepherd-arrow {
  height: 22px;
  background-image: url("../images/extracted_svgs/_tour_1.svg");
  background-repeat: no-repeat;
  background-position: center;
  &:before {
    display: none;
  }
}

.shepherd-cancel-icon {
  position: absolute;
  top: 0;
  right: 0;
  color: #7F7F7F !important;
  width: 37px;
  height: 37px;
}
