@use '../../colors' as *;
@use '../../typography' as *;

.info-button {
  display: flex;
  transition: width 300ms;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 0px;
  padding: 0px 10px;
  width: 30px;
  height: auto;
  color: $white;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  overflow: hidden;
  &--bottom {
    top: auto;
    bottom: 10px;
  }
  &:hover {
    width: 600px;
    > .info-button__text {
      opacity: 1;
    }
  }
  &__icon {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    background-image: url("data:image/svg+xml,%3Csvg id='info' xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg id='info-white' transform='translate(5 5)'%3E%3Ccircle id='Ellipse_4' data-name='Ellipse 4' cx='15' cy='15' r='15' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cg id='Group_10' data-name='Group 10' transform='translate(10.801 7.5)'%3E%3Cpath id='Path_21' data-name='Path 21' d='M21.95,24.53h5.28v7.416' transform='translate(-21.95 -17.06)' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_62' data-name='Path 62' d='M0,0H8.4' transform='translate(0 15)' fill='none' stroke='%23fff' stroke-width='2.5'/%3E%3Ccircle id='Ellipse_5' data-name='Ellipse 5' cx='1.245' cy='1.245' r='1.245' transform='translate(2.64)' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='2.5'/%3E%3C/g%3E%3C/g%3E%3Crect id='Rectangle_36' data-name='Rectangle 36' width='40' height='40' fill='none'/%3E%3C/svg%3E%0A");
    background-size: cover;
  }
  &__text {
    min-width: 600px;
    position: relative;
    top: 0px;
    left: 6px;
    opacity: 0;
    transition: opacity 500ms;
    text-align: left;
  }
}

@mixin edit-image-button {
  &:before {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 1px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='19.249' height='14.154' viewBox='0 0 19.249 14.154'%3E%3Cg id='Group_117' data-name='Group 117' transform='translate(-10.303 -16)'%3E%3Cpath id='Path_220' data-name='Path 220' d='M61.748,56.781l7.133-6.945L72.448,53.4l2.065-2.065,5.068,5.255' transform='translate(-50.748 -27.343)' fill='none' stroke='%23787878' stroke-miterlimit='10' stroke-width='2'/%3E%3Cpath id='Path_221' data-name='Path 221' d='M84.465,42.983a2.888,2.888,0,1,0-2.889,2.89,2.888,2.888,0,0,0,2.889-2.89' transform='translate(-56.395 -24.097)' fill='%23787878'/%3E%3C/g%3E%3C/svg%3E%0A");
    background-position: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    background-repeat: no-repeat;
    background-color: #ffffff;
    display: block;
  }
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
  cursor: pointer;
}

@mixin plus-button-icon {
  background-image: url("data:image/svg+xml,%3Csvg id='Group_218' data-name='Group 218' xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20'%3E%3Cline id='Line_77' data-name='Line 77' y2='20' transform='translate(10)' fill='none' stroke='%237f7f7f' stroke-width='2.5'/%3E%3Cline id='Line_78' data-name='Line 78' x1='20' transform='translate(0 10)' fill='none' stroke='%237f7f7f' stroke-width='2.5'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
}

@mixin plus-button-icon--variation-2 {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='15' viewBox='0 0 15 15'%3E%3Cg id='Group_104' data-name='Group 104' transform='translate(-305.5 -907.5)'%3E%3Cpath id='Path_481' data-name='Path 481' d='M318,907.5v15' transform='translate(-5 0)' fill='none' stroke='%237f7f7f' stroke-width='2.5'/%3E%3Cpath id='Path_482' data-name='Path 482' d='M0,0V15' transform='translate(320.5 915) rotate(90)' fill='none' stroke='%237f7f7f' stroke-width='2.5'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
}

@mixin edit-image-button--empty {
  &:before {
    @include plus-button-icon--variation-2;
  }
}

@mixin plus-button {
  cursor: pointer;
  @include plus-button-icon;
}

@mixin off-canvas-button {
  font-size: 0px;
  border: none;
  border-radius: 0px;
  background-color: white;
  width: 40px;
  padding: 0;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  &:hover {
    background-color: #eeeeee;
  }
}

@mixin button--round {
  border-radius: 3px;
  text-transform: uppercase;
  color: $white;
  background-color: var(--fp-main-color);
  font-weight: $font-weight-semibold;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 48px;
  padding: 0px 25px;
  border: none;
  cursor: pointer;
  &:not([disabled]):hover {
    background-color: var(--fp-main-color-darker);
  }
}
