@use '../../colors' as *;
@use '../../typography' as *;

.info-button {
  display: flex;
  transition: width 300ms;
  align-items: center;
  position: absolute;
  top: 10px;
  left: 0px;
  padding: 0px 10px;
  width: 50px;
  height: auto;
  color: $white;
  font-size: 12px;
  line-height: 18px;
  text-decoration: none;
  overflow: hidden;
  &--bottom {
    top: auto;
    bottom: 10px;
  }
  &:hover {
    width: 600px;
    > .info-button__text {
      opacity: 1;
    }
  }
  &__icon {
    cursor: pointer;
    display: block;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    background-image: url("../images/extracted_svgs/buttons_1.svg");
    background-size: cover;
  }
  &__text {
    min-width: 600px;
    position: relative;
    top: 0px;
    left: 6px;
    opacity: 0;
    transition: opacity 500ms;
    text-align: left;
  }
}

@mixin edit-image-button {
  &:before {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 1px;
    background-image: url("../images/extracted_svgs/buttons_2.svg");
    background-position: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    background-repeat: no-repeat;
    background-color: #ffffff;
    display: block;
  }
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 100;
  cursor: pointer;
}

@mixin plus-button-icon {
  background-image: url("../images/extracted_svgs/buttons_3.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@mixin plus-button-icon--variation-2 {
  background-image: url("../images/extracted_svgs/buttons_4.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@mixin edit-image-button--empty {
  &:before {
    @include plus-button-icon--variation-2;
  }
}

@mixin plus-button {
  cursor: pointer;
  @include plus-button-icon;
}

@mixin off-canvas-button {
  font-size: 0px;
  border: none;
  border-radius: 0px;
  background-color: white;
  width: 40px;
  padding: 0;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  &:hover {
    background-color: #eeeeee;
  }
}

@mixin button--round {
  border-radius: 3px;
  text-transform: uppercase;
  color: $white;
  background-color: var(--fp-main-color);
  font-weight: $font-weight-semibold;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 48px;
  padding: 0px 25px;
  border: none;
  cursor: pointer;
  &:not([disabled]):hover {
    background-color: var(--fp-main-color-darker);
  }
}
