@use "sass:map";
@use '../../exhibit-typography' as *;
@import 'foundation-sites/scss/global';

.header {
  padding: 15px;
  width: calc(100% - 30px);
  z-index: 1000;
  display: flex;
  @media screen and (min-width: 48em) {
    position: absolute;
    top: 0px;
    left: 0px;
  }
  &__logo {
    display: block;
    aspect-ratio: 1.64;
    width: 3.828125%;
    min-width: 48px;
    background-image: url("../images/extracted_svgs/header_1.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }
  &__title {
    font-size: 14px;
    line-height: 18px;
    margin-left: auto;
    display: flex;
    align-items: center;
    color: #333333;
    @media screen and (min-width: 48em) {
      align-items: flex-start;
      color: white;
    }
  }
}

$height: ("small": 60px, "medium": 80px, "large": 80px);

//header {
//  /*max-height: 200px;
//  grid-row: 1 / span 1;
//  padding: 1.6vh;*/
//
//  @include breakpoint(small up) {
//    height: map.get($height, 'small');
//  }
//  @include breakpoint(xlarge up) {
//    height: map.get($height, 'medium');
//  }
//  padding: 6px 15px;
//}

.logo-img {
  @include breakpoint(small up) {
    width: 50px;
  }
  vertical-align: middle;
  margin-right: 20px;
}

nav {
  display: flex;
  height: 100%;
}

nav ul {
  display: flex;
  display: -webkit-flex;
  align-self: center;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style: none;
  text-transform: uppercase;
}

header nav div img {
  width: 30px;
}

.nav-title {
  color: #707070;
  font-size: 16px;
  min-width: 200px;
  padding: 8px 5px;
}

.logo {
  text-decoration: none;
  display: flex;
  align-items: center;
  &__text {
    font-family: Montserrat;
    font-size: 15px;
    line-height: 22px;
    font-weight: bold;
    color: var(--fp-main-blue);
    svg * {
      fill:  var(--fp-main-blue);
    }
  }
}

.logo-img {
  @include breakpoint(small up) {
    width: 75px;
  }
  @include breakpoint(large up) {
    width: 11.5vw;
    min-width: 165px;
  }
  vertical-align: middle;
  &--icon {
    @include breakpoint(small up) {
      min-width: initial;
      width: 50px;
    }
    vertical-align: middle;
    margin-right: 10px;
  }
}
