@use '../../colors' as *;
@use 'buttons' as *;
@use '../../exhibit-typography' as *;
@use '../../typography' as *;

.page-editor {
  .card {
    transition: all 0.3s ease;
  }
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-start;
  padding: 30px 10vw 30px 10vw;

  background-color: #dedede;
  background-image:  repeating-linear-gradient(45deg, #c6c6c6 25%, transparent 25%, transparent 75%, #c6c6c6 75%, #c6c6c6), repeating-linear-gradient(45deg, #c6c6c6 25%, #dedede 25%, #dedede 75%, #c6c6c6 75%, #c6c6c6);
  background-position: 0 0, 10px 10px;
  background-size: 20px 20px;

  &__page-wrapper {
    flex: 1;
    width: 100%;
  }

  &__toolbar {
    position: sticky !important;
    top: 80px;
  }

}

.between-card {
  position: relative;
  &__indicator {
    height: 3px;
    width: 100%;
    background-color: var(--fp-main-blue);
    opacity: 0;
    position: absolute;
    z-index: 1001;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    transition: opacity 0.15s ease-in-out;
  }
  &.opened {
    .between-card__indicator {
      opacity: 0 !important;
    }
    .between-card__add-button {
      &:before {
        transform: rotate(90deg + 45deg);
      }
    }
  }
  &__add-button {
    &:hover {
      + .between-card__indicator {
        opacity: 1;
      }
    }
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -50px;
    height: 40px;
    width: 40px;
    &:before {
      content: '';
      width: 100%;
      height: 100%;
      display: block;
      transition: transform 0.3s ease-in-out;
      @include plus-button;
    }
    @include off-canvas-button;
    &:hover {
      background-color: #ffffff;
    }
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }
  .toolbar {
    position: absolute;
    right: -10px;
    top: -20px;
    z-index: 1001;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  }
}
