@use 'scrollbar' as *;

.photo-tiles {
  overflow: auto;
  @include hover-scrollbar(#999999);
  &__tiles {
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
    width: calc((181px * 5) + (12px * 4));
    margin: 20px auto;
  }
  img {
    width: 181px;
    height: 181px;
  }
}
