//@use '../typography' as *;

[route="mainstreetview"] {

  .psv-panel {
    background-color: #fff;
    min-width: 620px;
    height: auto;
    right: 50%;
    top: 12px;
    transform: translateX(50%);
    &-resizer {
      display: none;
    }
    &-content {
      color: #333;
      font-size: 14px;
      line-height: 22px;
      padding: 10px 32px;
    }
    &-close-button {
      display: none;
    }
  }

  .psv-marker {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17.5' height='17.5' viewBox='0 0 17.5 17.5'%3E%3Cg id='info-icon-2' transform='translate(1.25 1.25)'%3E%3Ccircle id='Ellipse_4' data-name='Ellipse 4' cx='7.5' cy='7.5' r='7.5' fill='rgba(110,133,184,0.5)' stroke='%23fff' stroke-miterlimit='10' stroke-width='2.5'/%3E%3C/g%3E%3C/svg%3E%0A");
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #fff;
      opacity: 0;
      border-radius: 100%;
      transition: opacity ease-in-out 150ms;
    }
  }
  .psv-marker:hover:after {
    opacity: 1;
  }

  .psv-plan {
    border-radius: 0px;
    bottom: 10px !important;
  }

  .psv-button[title="Move left"] {
    margin-left: 47px;
    background-image: url("data:image/svg+xml,%3Csvg id='left' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='17.138' height='11.218' viewBox='0 0 17.138 11.218'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_224' data-name='Rectangle 224' width='11.218' height='17.138' fill='none' stroke='%236a6a6a' stroke-width='2.5'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='left-2' data-name='left' transform='translate(17.138 0) rotate(90)'%3E%3Cg id='Group_200' data-name='Group 200' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cline id='Line_72' data-name='Line 72' y2='15.325' transform='translate(5.609 0)' fill='none' stroke='%236a6a6a' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_123' data-name='Path 123' d='M9.534,0,4.767,5.133,0,0' transform='translate(0.842 10.192)' fill='none' stroke='%236a6a6a' stroke-miterlimit='10' stroke-width='2.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    svg {
      display: none;
    }
  }
  .psv-button[title="Move right"] {
    background-image: url("data:image/svg+xml,%3Csvg id='right' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='17.138' height='11.218' viewBox='0 0 17.138 11.218'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_224' data-name='Rectangle 224' width='11.218' height='17.138' fill='none' stroke='%236a6a6a' stroke-width='2.5'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='right-2' data-name='right' transform='translate(0 11.218) rotate(-90)'%3E%3Cg id='Group_200' data-name='Group 200' clip-path='url(%23clip-path)'%3E%3Cline id='Line_72' data-name='Line 72' y2='15.325' transform='translate(5.609 0)' fill='none' stroke='%236a6a6a' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_123' data-name='Path 123' d='M9.534,0,4.767,5.133,0,0' transform='translate(0.842 10.192)' fill='none' stroke='%236a6a6a' stroke-miterlimit='10' stroke-width='2.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    svg {
      display: none;
    }
  }
  .psv-button[title="Move up"] {
    background-image: url("data:image/svg+xml,%3Csvg id='up' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='12.687' height='18' viewBox='0 0 12.687 18'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_224' data-name='Rectangle 224' width='12.687' height='18' transform='translate(0 0)' fill='none' stroke='%236a6a6a' stroke-width='2.5'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='up-2' data-name='up' transform='translate(12.687 18) rotate(180)'%3E%3Cg id='Group_200' data-name='Group 200' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Cline id='Line_72' data-name='Line 72' y2='16.095' transform='translate(6.343 0)' fill='none' stroke='%236a6a6a' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_123' data-name='Path 123' d='M10.782,0,5.391,5.391,0,0' transform='translate(0.952 10.705)' fill='none' stroke='%236a6a6a' stroke-miterlimit='10' stroke-width='2.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    svg {
      display: none;
    }
  }
  .psv-button[title="Move down"] {
    margin-right: 47px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='14.136' height='18' viewBox='0 0 14.136 18'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_224' data-name='Rectangle 224' width='14.136' height='18' fill='none' stroke='%236a6a6a' stroke-width='2.5'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_200' data-name='Group 200' clip-path='url(%23clip-path)'%3E%3Cline id='Line_72' data-name='Line 72' y2='16.095' transform='translate(7.068 0)' fill='none' stroke='%236a6a6a' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_123' data-name='Path 123' d='M13.075,11.927,7.068,17.318,1.061,11.927' transform='translate(0 -1.223)' fill='none' stroke='%236a6a6a' stroke-miterlimit='10' stroke-width='2.5'/%3E%3C/g%3E%3C/svg%3E%0A");
    svg {
      display: none;
    }
  }

  .psv-zoom-range-handle {
    width: 10px;
    height: 10px;
    background: #6A6A6A;
    top: 1px;
    transform: translateY(-50%) scale(1);
  }
  .psv-zoom-range:not(.psv-button--disabled):hover .psv-zoom-range-handle {
    transform: translateY(-50%) scale(1.3);
  }
  .psv-zoom-range-line {
    height: 2px;
    background: #6A6A6A;
  }

  .psv-button[title="Zoom out"] {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 9px;
    background-image: url("data:image/svg+xml,%3Csvg id='Zoom_Out' data-name='Zoom Out' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20' viewBox='0 0 20 20'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_223' data-name='Rectangle 223' width='20' height='20' fill='none' stroke='%236a6a6a' stroke-width='2.5'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_198' data-name='Group 198' transform='translate(0 0)' clip-path='url(%23clip-path)'%3E%3Ccircle id='Ellipse_36' data-name='Ellipse 36' cx='8.326' cy='8.326' r='8.326' transform='translate(1.213 1.213)' fill='none' stroke='%236a6a6a' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_69' data-name='Line 69' x2='3.844' y2='3.844' transform='translate(15.298 15.298)' fill='none' stroke='%236a6a6a' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_70' data-name='Line 70' x1='7.208' transform='translate(5.935 9.539)' fill='none' stroke='%236a6a6a' stroke-miterlimit='10' stroke-width='2.5'/%3E%3C/g%3E%3C/svg%3E%0A");
    svg {
      display: none;
    }
  }
  .psv-button[title="Zoom in"] {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 9px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='20' height='20' viewBox='0 0 20 20'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_222' data-name='Rectangle 222' width='20' height='20' fill='none' stroke='%236a6a6a' stroke-width='2.5'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_196' data-name='Group 196' clip-path='url(%23clip-path)'%3E%3Ccircle id='Ellipse_35' data-name='Ellipse 35' cx='8.326' cy='8.326' r='8.326' transform='translate(1.213 1.213)' fill='none' stroke='%236a6a6a' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_66' data-name='Line 66' x2='3.844' y2='3.844' transform='translate(15.298 15.298)' fill='none' stroke='%236a6a6a' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_67' data-name='Line 67' y2='7.208' transform='translate(9.539 5.935)' fill='none' stroke='%236a6a6a' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_68' data-name='Line 68' x1='7.208' transform='translate(5.935 9.539)' fill='none' stroke='%236a6a6a' stroke-miterlimit='10' stroke-width='2.5'/%3E%3C/g%3E%3C/svg%3E%0A");
    svg {
      display: none;
    }
  }

  .photo-timeline-link-host {
    display: inline-block;
    line-height: 39px;
    margin-right: 10px;
  }
  .photo-opacity-host {
    display: inline-block;
    line-height: 37px;
    input[type=range] {
      vertical-align: middle;
    }
    &:before {
      content: '';
      width: 20px;
      height: 20px;
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='22.329' height='22.329' viewBox='0 0 22.329 22.329'%3E%3Cg id='Tranparent' transform='translate(1.164 1.25)'%3E%3Ccircle id='Ellipse_39' data-name='Ellipse 39' cx='9.915' cy='9.915' r='9.915' transform='translate(0.086 0)' fill='none' stroke='%236a6a6a' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_73' data-name='Line 73' x1='11.587' y2='11.587' transform='translate(0 0.824)' fill='none' stroke='%236a6a6a' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_74' data-name='Line 74' x1='14.021' y2='14.021' transform='translate(2.497 3.32)' fill='none' stroke='%236a6a6a' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_75' data-name='Line 75' x1='12.862' y2='12.546' transform='translate(7.369 7.033)' fill='none' stroke='%236a6a6a' stroke-miterlimit='10' stroke-width='2.5'/%3E%3C/g%3E%3C/svg%3E%0A");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 20px 20px;
      margin-right: 9px;
      display: inline-block;
      vertical-align: middle;
    }
    &:after {
      content: '';
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background-color: #6A6A6A;
      margin-left: 9px;
      display: inline-block;
      vertical-align: middle;
    }
    .title, .value {
      display: none;
    }
    /*********** Baseline, reset styles ***********/
    input[type="range"] {
      -webkit-appearance: none;
      appearance: none;
      background: transparent;
      cursor: pointer;
      width: 100px;
    }

    /* Removes default focus */
    input[type="range"]:focus {
      outline: none;
    }

    /******** Chrome, Safari, Opera and Edge Chromium styles ********/
    /* slider track */
    input[type="range"]::-webkit-slider-runnable-track {
      background-color: #6a6a6a;
      border-radius: 0.5rem;
      height: 2px;
    }

    /* slider thumb */
    input[type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none; /* Override default look */
      appearance: none;
      margin-top: -4px; /* Centers thumb on the track */
      background-color: #808080;
      border-radius: 0.5rem;
      height: 10px;
      width: 10px;
    }

    input[type="range"]:focus::-webkit-slider-thumb {
      outline: 3px solid #808080;
      outline-offset: 0.125rem;
    }

    /*********** Firefox styles ***********/
    /* slider track */
    input[type="range"]::-moz-range-track {
      background-color: #6a6a6a;
      border-radius: 0.5rem;
      height: 2px;
    }

    /* slider thumb */
    input[type="range"]::-moz-range-thumb {
      background-color: #808080;
      border: none; /*Removes extra border that FF applies*/
      border-radius: 0.5rem;
      height: 10px;
      width: 10px;
    }

    input[type="range"]:focus::-moz-range-thumb{
      outline: 3px solid #808080;
      outline-offset: 0.125rem;
    }
  }


  .photosphere {

  }


  .psv-plan__button[title="Maximize"] {
    background-image: url("data:image/svg+xml,%3Csvg id='Group_193' data-name='Group 193' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='22' height='22' viewBox='0 0 22 22'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_205' data-name='Rectangle 205' width='22' height='22' fill='none' stroke='%23707070' stroke-width='2.5'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_192' data-name='Group 192'%3E%3Cg id='Group_191' data-name='Group 191' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_103' data-name='Path 103' d='M1.5,14.546v7.161H8.661' transform='translate(-0.113 -1.095)' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_104' data-name='Path 104' d='M21.708,8.661V1.5H14.546' transform='translate(-1.095 -0.113)' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_105' data-name='Path 105' d='M8.6,14.613l-.634.634L1.5,21.713' transform='translate(-0.113 -1.1)' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_56' data-name='Line 56' x1='6.466' y2='6.466' transform='translate(14.147 1.387)' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_106' data-name='Path 106' d='M1.5,14.546v7.161H8.661' transform='translate(-0.113 -1.095)' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_107' data-name='Path 107' d='M21.708,8.661V1.5H14.546' transform='translate(-1.095 -0.113)' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_108' data-name='Path 108' d='M8.6,14.613l-.634.634L1.5,21.713' transform='translate(-0.113 -1.1)' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_57' data-name='Line 57' x1='6.466' y2='6.466' transform='translate(14.147 1.387)' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2.5'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    left: auto;
    top: auto;
    right: 13px;
    bottom: 13px;
    border-radius: 3px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    transition: right ease-in-out 300ms;
  }

  .psv-plan__button[title="Minimize"] {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='23.79' height='23.79' viewBox='0 0 23.79 23.79'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_205' data-name='Rectangle 205' width='23.79' height='23.79' transform='translate(0 0)' fill='none' stroke='%23707070' stroke-width='2.5'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_193' data-name='Group 193' transform='translate(-79.663 24)'%3E%3Cg id='Group_192' data-name='Group 192' transform='translate(79.663 -24)'%3E%3Cg id='Group_191' data-name='Group 191' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_103' data-name='Path 103' d='M1.5,14.546V22.29H9.244' transform='translate(9.744 37.837) rotate(180)' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_104' data-name='Path 104' d='M22.291,9.244V1.5H14.547' transform='translate(37.837 9.744) rotate(180)' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_105' data-name='Path 105' d='M9.178,14.613l-.686.686L1.5,22.291' transform='translate(9.744 37.837) rotate(180)' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_56' data-name='Line 56' x1='6.992' y2='6.992' transform='translate(22.539 8.244) rotate(180)' fill='none' stroke='%23707070' stroke-miterlimit='10' stroke-width='2.5'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
    left: auto;
    right: 13px;
    top: 13px;
    border-radius: 3px;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    transition: right ease-in-out 300ms;
  }
  .psv-plan--maximized .psv-plan__button[title="Minimize"] {
    right: calc(100% - 45px);
  }

  .photosphere {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;

    &__view {
      width: 100%;
      height: 100%;
    }
    &__metadata {
      position: absolute;
      bottom: 100px;
      left: 20%;
      height: 50%;

      width: 40%;
      background: rgba(0, 0, 0, 0.4);
      color: white;
      padding: 40px;
      z-index: 10;
      overflow: scroll;
      //@include hover-scrollbar();
      .close-btn {
        position: absolute;
        top: 10px;
        right: 10px;
      }
    }
    &__timeline {
      z-index: 10;
    }
    &__wrapper {
      height: calc(100% - 39px - 90px);
      z-index: 10;
    }
    &__set_description {
      position: absolute;
      bottom: 186px;
      left: 5px;
      z-index: 11;
      width: 488px;
      &.expanded {
        background-color: rgba(255, 255, 255, 0.8);
        .photosphere__set_description_button {
          background-color: transparent;
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32.37' height='33.877' viewBox='0 0 32.37 33.877'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_214' data-name='Rectangle 214' width='32.37' height='33.877' fill='none' stroke='%23000000' stroke-width='2.5'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_197' data-name='Group 197' transform='translate(1 -1)'%3E%3Cg id='Group_196' data-name='Group 196' transform='translate(-1 1)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_112' data-name='Path 112' d='M23.231,13.079c.014-.49.049-3.853.049-3.853L15.331,1.25H3.242A1.992,1.992,0,0,0,1.25,3.242V30.91A1.992,1.992,0,0,0,3.242,32.9H14.937' transform='translate(-0.137 -0.138)' fill='none' stroke='%23000000' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_113' data-name='Path 113' d='M15.48,1.21V8.346a2.26,2.26,0,0,0,2.26,2.26h7.154' transform='translate(-1.703 -0.133)' fill='none' stroke='%23000000' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Ccircle id='Ellipse_27' data-name='Ellipse 27' cx='8.403' cy='8.403' r='8.403' transform='translate(14.452 15.883)' fill='none' stroke='%23000000' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_114' data-name='Path 114' d='M23.134,26.894h2.615v4.469' transform='translate(-2.544 -2.958)' fill='none' stroke='%23000000' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_60' data-name='Line 60' x2='5.167' transform='translate(20.59 28.405)' fill='none' stroke='%23000000' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_115' data-name='Path 115' d='M28.207,23.582a1.335,1.335,0,1,0-1.336,1.336A1.338,1.338,0,0,0,28.207,23.582Z' transform='translate(-3.64 -3.279)' fill='%23000000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A") !important;
        }
      }
      &_button {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32.37' height='33.877' viewBox='0 0 32.37 33.877'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_214' data-name='Rectangle 214' width='32.37' height='33.877' fill='none' stroke='%23000000' stroke-width='2.5'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_197' data-name='Group 197' transform='translate(1 -1)'%3E%3Cg id='Group_196' data-name='Group 196' transform='translate(-1 1)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_112' data-name='Path 112' d='M23.231,13.079c.014-.49.049-3.853.049-3.853L15.331,1.25H3.242A1.992,1.992,0,0,0,1.25,3.242V30.91A1.992,1.992,0,0,0,3.242,32.9H14.937' transform='translate(-0.137 -0.138)' fill='none' stroke='%23000000' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_113' data-name='Path 113' d='M15.48,1.21V8.346a2.26,2.26,0,0,0,2.26,2.26h7.154' transform='translate(-1.703 -0.133)' fill='none' stroke='%23000000' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Ccircle id='Ellipse_27' data-name='Ellipse 27' cx='8.403' cy='8.403' r='8.403' transform='translate(14.452 15.883)' fill='none' stroke='%23000000' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_114' data-name='Path 114' d='M23.134,26.894h2.615v4.469' transform='translate(-2.544 -2.958)' fill='none' stroke='%23000000' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_60' data-name='Line 60' x2='5.167' transform='translate(20.59 28.405)' fill='none' stroke='%23000000' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_115' data-name='Path 115' d='M28.207,23.582a1.335,1.335,0,1,0-1.336,1.336A1.338,1.338,0,0,0,28.207,23.582Z' transform='translate(-3.64 -3.279)' fill='%23000000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        width: 50px;
        height: 50px;
        border: none;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #FFFFFF;
        border-radius: 2.5px;
        cursor: pointer;
        position: absolute;
        top: 0px;
        left: 0px;
        &:hover {
          background-color: var(--fp-main-blue);
          background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='32.37' height='33.877' viewBox='0 0 32.37 33.877'%3E%3Cdefs%3E%3CclipPath id='clip-path'%3E%3Crect id='Rectangle_214' data-name='Rectangle 214' width='32.37' height='33.877' fill='none' stroke='%23fff' stroke-width='2.5'/%3E%3C/clipPath%3E%3C/defs%3E%3Cg id='Group_197' data-name='Group 197' transform='translate(1 -1)'%3E%3Cg id='Group_196' data-name='Group 196' transform='translate(-1 1)' clip-path='url(%23clip-path)'%3E%3Cpath id='Path_112' data-name='Path 112' d='M23.231,13.079c.014-.49.049-3.853.049-3.853L15.331,1.25H3.242A1.992,1.992,0,0,0,1.25,3.242V30.91A1.992,1.992,0,0,0,3.242,32.9H14.937' transform='translate(-0.137 -0.138)' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_113' data-name='Path 113' d='M15.48,1.21V8.346a2.26,2.26,0,0,0,2.26,2.26h7.154' transform='translate(-1.703 -0.133)' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Ccircle id='Ellipse_27' data-name='Ellipse 27' cx='8.403' cy='8.403' r='8.403' transform='translate(14.452 15.883)' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_114' data-name='Path 114' d='M23.134,26.894h2.615v4.469' transform='translate(-2.544 -2.958)' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cline id='Line_60' data-name='Line 60' x2='5.167' transform='translate(20.59 28.405)' fill='none' stroke='%23fff' stroke-miterlimit='10' stroke-width='2.5'/%3E%3Cpath id='Path_115' data-name='Path 115' d='M28.207,23.582a1.335,1.335,0,1,0-1.336,1.336A1.338,1.338,0,0,0,28.207,23.582Z' transform='translate(-3.64 -3.279)' fill='%23fff'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");
        }

      }
      &_text {
        padding: 77px 40px 24px 40px;
        color: $black;
        h3 {
          border-bottom: 1.5px solid $black;
          padding-bottom: 30px;
          margin-bottom: 15px;
        }
      }
    }
  }
}

.psv--has-navbar .psv-plan--maximized, .psv-plan--maximized {
  padding: 0px;
  margin: 0px;
  //left: 0;
  right: 0px !important;
  bottom: 0px !important;
  //top: 0px;
  height: 100% !important;
  width: 100% !important;
  max-height: 100% !important;
  max-width: 100% !important;
}

.psv-navbar {
  width: auto;
  padding: 0px 10px;
  height: 40px;
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.9);
  left: 30%;
  transform: translateX(-30%);
  bottom: 14px;
  .psv-button {
    background-position: center;
    background-repeat: no-repeat;
  }
}

.psv-zoom-range {
  width: 100px !important;
  &-line {
    width: 100px !important;
  }
}

.button-list--horizontal {
  display: flex;
  padding: 7px 0px;
  list-style-type: none;
  justify-content: center;
  align-items: center;
  li:last-child {
    .year-button {
      margin-right: 0px;
    }
  }
  .year-button {
    margin-right: 10px;
    font-size: 11px;
    line-height: 25px;
  }
}
