{% load static %}
<div hx-swap-oob="delete:#timeline-container"></div>

<div hx-swap-oob="delete:#grid-icon"></div>
<div hx-swap-oob="innerHTML:[data-fpi-fpilink]">
    {% block fpi_link %}
    <a class="fpi-fpilink" href="{{ timeline_url }}"><img src="{% static "kronofoto/images/01-fi-logo.svg" %}" alt="Fortepan Iowa icon" title="Fortepan Iowa"></a>
    {% endblock %}
</div>
<div hx-swap-oob="innerHTML:.navigation-menu">
{% include "kronofoto/components/navigation-menu.html" %}
</div>
<div hx-swap-oob="innerHTML:#all-photos">
{% if collection_name != "All Photos" %}
    <a href="{% url "kronofoto:random-image" %}" hx-get="{% url "kronofoto:random-image" %}" hx-target="#app">Back to All Photos</a>
{% endif %}
</div>
<div hx-swap-oob="beforeend:[data-view-buttons-target]">
    {% block viewbuttons %}
    {% endblock %}
</div>
{% block content %}
{% endblock %}
