{% load static %}
<div hx-swap-oob="delete:#timeline-container"></div>

<div hx-swap-oob="delete:#grid-icon"></div>
<div hx-swap-oob="innerHTML:[data-fpi-fpilink]">
    {% block fpi_link %}
    <a class="fpi-fpilink" href="{{ timeline_url }}"><img src="{% static "kronofoto/images/01-fi-logo.svg" %}" alt="Fortepan Iowa icon" title="Fortepan Iowa"></a>
    {% endblock %}
</div>
<div hx-swap-oob="outerHTML:.collection-name">
    {% if collection_name %}
    <div class="collection-name">
      <a href="{% url "kronofoto:random-image" %}"><i class="fas fa-times"></i></a> {{ collection_name }}
    </div>
    {% else %}
    <template class="collection-name">
    </template>
    {% endif %}
</div>
<div hx-swap-oob="innerHTML:.navigation-menu">
{% include "kronofoto/components/navigation-menu.html" %}
</div>
<div hx-swap-oob="beforeend:[data-view-buttons-target]">
    {% block viewbuttons %}
    {% endblock %}
</div>
{% if push_url %}
    <script>
        {# this is absolutely not the right way to do this. #}
        document.documentElement.setAttribute("route", "{{ route_name }}")
    </script>
{% endif %}
{% block content %}
{% endblock %}
