{% load widgets %}

<div hx-swap-oob="innerHTML:[data-back-arrows]">
{% include "kronofoto/components/photo-link/back-arrows.html" with is_mainstreet=True %}
</div>
<div hx-swap-oob="innerHTML:[data-forward-arrows]">
{% include "kronofoto/components/photo-link/forward-arrows.html" with is_mainstreet=True %}
</div>
<ul hx-swap-oob="outerHTML:#fi-preload-zone" id="fi-preload-zone" data-slide-id="{{ object.id }}">
    {% include "kronofoto/components/thumbnails.html" with object_list=photos width_element="#fi-photosphere" is_mainstreet=True %}
</ul>

<h2>{{ object.title }}</h2>
<div>{{ object.description | markdown }}</div>

<ul hx-swap-oob="innerHTML:#related-mainstreets">
        {% for mainstreet in mainstreet_links %}
        <li><a class="year-button active" href="{{ mainstreet.photosphere_href }}">{{ mainstreet.set.name }}</a></li>
        {% endfor %}
</ul>

<div hx-swap-oob="delete:#mainstreet-description"></div>
<div hx-swap-oob="afterEnd:#description-swap-trick">
    <template id="mainstreet-description" x-if="set_description_open || !mobile_view">
        <div class="photosphere__set_description" x-bind:class="{ 'expanded': set_description_open }">
            <button class="photosphere__set_description_button" x-on:click="set_description_open = !set_description_open"></button>
            <button class="photosphere__set_description_close_button" x-on:click="set_description_open = !set_description_open"></button>
            <div class="photosphere__set_description_text" x-show="set_description_open">
                <div class="wrapper">
                {% if object.mainstreetset.name %}<h3>{{ object.mainstreetset.name }}</h3>{% endif %}
                {% if mainstreet_description %}<div>{{ mainstreet_description | linebreaksbr }}</div>{% endif %}
                </div>
            </div>

        </div>
    </template>
</div>
<ul hx-swap-oob="innerHTML:#mobile-related-mainstreets">
    <div class="wrapper" x-show="dropdownExpanded">
        {% for mainstreet in mainstreet_links %}
        <label @click="dropdownExpanded = false" {% if object.mainstreetset == mainstreet.set.name %}class="active"{% endif %}@click="dropdownExpanded= !dropdownExpanded"><a href="{{ mainstreet.photosphere_href }}">{{ mainstreet.set.name }}</a></label>
        {% endfor %}
    </div>
    <div class="photosphere__mobile-nav-sets-current noselect">{{ object.mainstreetset }}</div>
</ul>
