{% load static %}
{% load widgets %}
{% load permissions %}
{% load krono_urls %}
<div style="position:relative">
<img id="fi-image-tag" src="{{ photo.h700.url }}" alt="{{ photo|describe:request.user|join:", " }}" />
<div style="top: 0px; width:100%; position: absolute; display: flex; justify-content: flex-end; align-items: stretch">
    <button id="close-detail" class="image-control-button image-control-button--toggle" hx-get="{% krono_url "kronofoto:map" url_kwargs %}{% krono_params get_params %}" hx-target="#fi-map-result">
        X
    </button>
    <div style="flex-grow:1;">
    </div>
    <button id="zoom-image-control-button" class="image-control-button image-control-button--toggle" data-toggle="gallery">
        <img class="meta-info-icon" src="{% static "kronofoto/images/skyblue/zoom.svg" %}">
        <img class="meta-info-icon hide" src="{% static "kronofoto/images/skyblue/zoom-out.svg" %}">
    </button>
</div>
<div style="bottom: 0px; width:100%; position: absolute; display: flex; justify-content: flex-end; align-items: stretch">
    <!--Add to List Button-->
    <button class="image-control-button" data-toggle="add-to-list-popup">
        <img class="add-to-list-icon" src="{% static "kronofoto/images/skyblue/add-to-list.svg" %}">
    </button>
    <!--Share Button-->
    <button class="image-control-button" data-toggle="share-popup">
        <img class="meta-info-icon" src="{% static "kronofoto/images/skyblue/share.svg" %}">
    </button>
    <!--Download Button-->
    <button class="image-control-button" data-toggle="download-popup">
        <img class="meta-dl-icon" src="{% static "kronofoto/images/skyblue/download.svg" %}">
    </button>
    <!--Info Button-->
    <button class="image-control-button" data-toggle="metadata-popup">
        <img class="meta-info-icon" src="{% static "kronofoto/images/skyblue/info.svg" %}">
    </button>
</div>
</div>
<div class="gallery__popups">
    <div id="metadata-popup" class="gallery__popup" data-toggler=".expanded">
        {% include "kronofoto/components/popup-containers/metadata.html" %}
    </div>
    <div id="add-to-list-popup" class="gallery__popup" data-toggler=".expanded">
        <a href="#" class="photo-menu-popup__close-btn" data-toggle="add-to-list-popup" data-toggler=".expanded"></a>
        {% include "kronofoto/components/popup-containers/add-to-list.html" %}
    </div>
    <div id="share-popup" class="gallery__popup" data-toggler=".expanded">
        <a href="#" class="photo-menu-popup__close-btn" data-toggle="share-popup" data-toggler=".expanded"></a>
        {% include "kronofoto/components/popup-containers/share.html" %}
    </div>
    <div id="download-popup" class="gallery__popup" data-toggler=".expanded" >
        <a href="#" class="photo-menu-popup__close-btn" data-toggle="download-popup" data-toggler=".expanded"></a>
        {% include "kronofoto/components/popup-containers/download.html" %}
    </div>
</div>

