{% load krono_urls %}
{% load widgets %}

<figure id="fi-map-figure">
</figure>
<ul class="photo-grid" id="photo-grid">
    {% for photo in photos %}
    <li><a href="{% krono_url "kronofoto:map-detail" url_kwargs photo=photo.id %}{% krono_params get_params %}" hx-target="#fi-map-figure" hx-get="{% krono_url "kronofoto:map-detail" url_kwargs photo=photo.id %}{% krono_params get_params %}"><img src="{% image_url photo=photo width=500 height=500 %}" height="500" width="500" /></a></li>
    {% endfor %}
</ul>
