<!DOCTYPE html>
<html>
<head></head>
<body>
    {{ followrequest.remote_actor.profile }}
    {{ activity }}
    <ul>
        {% for remote in archive.followarchiverequest_set.all %}
            <li>{{ remote.remote_actor.profile }}
            <form method="post">
                {% csrf_token %}
                <input type="hidden" name="follow" value="{{ remote.id }}"></input>
                <input type="submit" name="accept" value="Accept"></input>
                <input type="submit" name="reject" value="Reject"></input>
            </form>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
