<!DOCTYPE html>
{% load static %}
{% load widgets %}
{% load krono_urls %}
{% load header %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fortepan Exhibit</title>
    <link rel="stylesheet" href="https://use.typekit.net/kol0uny.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/shepherd.js@13.0.0/dist/css/shepherd.css" rel="stylesheet"/>
    <link href="{% static "kronofoto/css/exhibit.css" %}?version={{ CSS_VERSION }}" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static "kronofoto/favicon/apple-touch-icon.png" %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static "kronofoto/favicon/favicon-32x32.png" %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static "kronofoto/favicon/favicon-16x16.png" %}">
	<link rel="manifest" href="{% static "kronofoto/favicon/site.webmanifest" %}">
	<link rel="mask-icon" href="{% static "kronofoto/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="{% static "kronofoto/favicon/favicon.ico" %}">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="{% static "kronofoto/favicon/browserconfig.xml" %}">
	<meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, target-densityDpi=device-dpi, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="{% static "kronofoto/js/main.js" %}?version={{ CSS_VERSION }}"></script>
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/shepherd.js@13.0.0/dist/esm/shepherd.mjs"
    ></script>
    <style>
        :root {
            --fp-main-font: 'Montserrat', sans-serif;
            --fp-secondary-ticker-color: #9d9d9c;
            --fp-main-grey: #d6d6da;
            --fp-main-grey-translucent: rgba(214, 214, 218, 0.95);
            --fp-light-grey: #efeff1;
            --fp-light-grey-translucent: rgba(239, 239, 241, 0.9);
            --fp-main-blue: {{ theme.color }};
        --fp-main-color: {{ theme.color }};
        --fp-main-color-lighter: {{ theme.colorLighter }};
        --fp-main-color-darker: {{ theme.colorDarker }};
        }
    </style>
</head>
<body>


    <form method="post" @input="hasChanges = true" @beforeunload.window="if (hasChanges) {$event.preventDefault()}" x-data="{hasChanges: false, name: '{{ exhibit.name | escapejs }}', credits: '{{ exhibit.credits | escapejs }}'}">
        {% page_editor_header %}
        {% csrf_token %}

        <div class="page-editor">
            <div class="page-editor__page-wrapper">
                {% include "kronofoto/components/exhibit/edit_sitewrapper.html" %}
                {% include "kronofoto/components/exhibit/credits.html" %}
            </div>
{% comment %}
<!--            <div class="page-editor__toolbar toolbar">-->
<!--                <div class="toolbar__section">-->
<!--                    <label class="toolbar__label" @click="hasChanges=true" data-tooltip title="Embed FotoStory" data-position="bottom" data-alignment="center">Content blocks</label>-->
<!--                    <button class="toolbar__button&#45;&#45;icon" @click="hasChanges=true" hx-target=".site-wrapper" hx-swap="beforeend show:bottom" hx-get="{% krono_url "kronofoto:exhibit-card-form" pk=exhibit.id card_type="text" %}"><i class="icon&#45;&#45;add-text">Text Card</i></button>-->
<!--                    <button class="toolbar__button&#45;&#45;icon" @click="hasChanges=true" hx-target=".site-wrapper" hx-swap="beforeend show:bottom" hx-get="{% krono_url "kronofoto:exhibit-card-form" pk=exhibit.id card_type="figure" %}?count=1"><i class="icon&#45;&#45;add-text-image">Photo Card</i></button>-->
<!--                    <button class="toolbar__button&#45;&#45;icon" @click="hasChanges=true" hx-target=".site-wrapper" hx-swap="beforeend show:bottom" hx-get="{% krono_url "kronofoto:exhibit-card-form" pk=exhibit.id card_type="figure" %}?count=2"><i class="icon&#45;&#45;add-text-image-2"></i></button>-->
<!--                    <button class="toolbar__button&#45;&#45;icon" @click="hasChanges=true" hx-target=".site-wrapper" hx-swap="beforeend show:bottom" hx-get="{% krono_url "kronofoto:exhibit-card-form" pk=exhibit.id card_type="figure" %}?count=3"><i class="icon&#45;&#45;add-text-image-3"></i></button>-->
<!--                    <button class="toolbar__button&#45;&#45;icon" @click="hasChanges=true" hx-target=".site-wrapper" hx-swap="beforeend show:bottom" hx-get="{% krono_url "kronofoto:exhibit-card-form" pk=exhibit.id card_type="photo" %}?align=2"><i class="icon&#45;&#45;add-image-left"></i></button>-->
<!--                    <button class="toolbar__button&#45;&#45;icon" @click="hasChanges=true" hx-target=".site-wrapper" hx-swap="beforeend show:bottom" hx-get="{% krono_url "kronofoto:exhibit-card-form" pk=exhibit.id card_type="photo" %}?align=3"><i class="icon&#45;&#45;add-image-right"></i></button>-->
<!--                    <button class="toolbar__button&#45;&#45;icon" @click="hasChanges=true" hx-target=".site-wrapper" hx-swap="beforeend show:bottom" hx-get="{% krono_url "kronofoto:exhibit-card-form" pk=exhibit.id card_type="photo" %}?align=1"><i class="icon&#45;&#45;add-image-full"></i></button>-->

<!--                </div>-->

<!--            </div>-->
{% endcomment %}
        </div>
    </form>
    <div class="reveal tiny" id="add-image-modal" data-reveal>
    </div>
    <script type="module">
        import Shepherd from 'https://cdn.jsdelivr.net/npm/shepherd.js@13.0.0/dist/esm/shepherd.mjs'
        const tour = new Shepherd.Tour({
            useModalOverlay: true,
              defaultStepOptions: {
                title: "FotoStory",
                cancelIcon: {
                  enabled: true  // This adds a clickable close (X) icon in the top corner of the tooltip
                },
                scrollTo: true,
                scrollToHandler: function(element) {
                  if (element) {
                    // Using `scrollIntoView` with smooth behavior
                    element.scrollIntoView({ behavior: 'smooth', block: 'center' });
                  }
                },
              },
            steps: [
                {
                    title: 'This is a title',
                    text: 'pick an image for the Title page',
                    attachTo: {
                        element: '.hero__edit-image-button',
                        on: 'top'
                    },
                    advanceOn: {
                        selector: '.hero__edit-image-button',
                        event: 'click'
                    },
                },
                {
                    text: 'choose title text',
                    beforeShowPromise: () => {
                        return new Promise(resolve => {
                            document.addEventListener("kronofoto-close-modal", resolve, {once: true})

                        })
                    },
                    attachTo: {
                        element: '.hero__title > h1:nth-child(1)',
                        on: 'right'
                    },
                    buttons: [
                        {
                            text: "Back",
                            action: () => tour.back(),
                        },
                        {
                            text: "Next",
                            action: () => tour.next(),
                        },
                    ]
                },
                {
                    text: 'Second text-size option (for title of subtitle)',
                    attachTo: {
                        element: 'p.hero__content:nth-child(2)',
                        on: 'right'
                    },
                    buttons: [
                        {
                            text: "Next",
                            action: () => tour.next(),
                        },
                    ]
                },
                {
                    text: 'Third text-size option (for subtitle or reference',
                    attachTo: {
                        element: 'p.hero__content:nth-child(3)',
                        on: 'right'
                    },
                    buttons: [
                        {
                            text: "Next",
                            action: () => tour.next(),
                        },
                    ]
                },
                {
                    text: 'adjust URL Here',
                    attachTo: {
                        element: '#content-editable-name',
                        on: 'right'
                    },
                    buttons: [
                        {
                            text: "Next",
                            action: () => tour.next(),
                        },
                    ]
                },
                {
                    text: 'Add first content block here',
                    attachTo: {
                        element: '.between-card__add-button',
                        on: 'bottom'
                    },
                    advanceOn: {
                        selector: '.between-card__add-button',
                        event: 'click'
                    },
                },
                {
                    text: 'select 1 of 7 content blocks to build the FotoStory. for now, let\'s add a full size image',
                    attachTo: {
                        element: 'button.toolbar__button--icon:nth-child(7)',
                        on: 'top'
                    },
                    advanceOn: {
                        selector: 'body',
                        event: 'htmx:afterSettle'
                    },
                },
                {
                    text: 'Anywhere it says "Click to change text" you can add text',
                    attachTo: {
                        element: '.full-image-area__text > h2:nth-child(1)',
                        on: 'bottom'
                    },
                    buttons: [
                        {
                            text: "Next",
                            action: () => tour.next(),
                        },
                    ]
                },
                {
                    text: 'fill the page means that the image will fill the entire content box',
                    attachTo: {
                        element: '.full-image-area__select-alignment',
                        on: 'bottom'
                    },
                    showOn: () => {
                        return document.querySelectorAll('.full-image-area__select-alignment').length > 0
                    },
                    buttons: [
                        {
                            text: "Next",
                            action: () => tour.next(),
                        },
                    ]
                },
                {
                    text: 'fit the page means the image will retain its aspect ratio',
                    attachTo: {
                        element: '.full-image-area__select-alignment',
                        on: 'bottom'
                    },
                    showOn: () => {
                        return document.querySelectorAll('.full-image-area__select-alignment').length > 0
                    },
                    buttons: [
                        {
                            text: "Next",
                            action: () => tour.next(),
                        },
                    ]
                },
                {
                    text: 'move content blocks up or down as needed',
                    attachTo: {
                        element: '#move-buttons-anchor',
                        on: 'left'
                    },
                    buttons: [
                        {
                            text: "Next",
                            action: () => tour.next(),
                        },
                    ]
                },
                {
                    text: 'swap out a new image',
                    attachTo: {
                        element: '.full-image-area__edit-image-button',
                        on: 'right'
                    },
                    advanceOn: {
                        selector: '.full-image-area__edit-image-button',
                        event: 'click'
                    },
                },
                {
                    text: 'swap out a new content block',
                    attachTo: {
                        element: '[data-recard]',
                        on: 'left'
                    },
                    beforeShowPromise: () => {
                        return new Promise(resolve => {
                            document.addEventListener("kronofoto-close-modal", resolve, {once: true})
                        })
                    },
                    advanceOn: {
                        selector: '[data-recard]',
                        event: 'click'
                    },
                    buttons: [
                        {
                            text: "Next",
                            action: () => tour.next(),
                        },
                    ]
                },
                {
                    text: 'save and preview here',
                    attachTo: {
                        element: '.main-nav__actions',
                        on: 'bottom'
                    },
                    advanceOn: {
                        selector: '.main-nav__actions',
                        event: 'click'
                    },
                },
            ]
        })
        document.querySelector('#start-tour').addEventListener('click', function(e) {
          e.preventDefault();
          tour.start();
        });
        {% if can_show_exhibit %}
            tour.start()
        {% endif %}
    </script>
</body>
</html>
