{% load static %}
{% load widgets %}

<div id="kfroot">

    <link rel="stylesheet" href="https://use.typekit.net/kol0uny.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="http://127.0.0.1:8000/static/kronofoto/css/exhibit.css" rel="stylesheet">
    <link href="http://127.0.0.1:8000/static/kronofoto/css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <style>
    * {
        --fp-main-font: 'Montserrat', sans-serif;
        --fp-secondary-ticker-color: #9d9d9c;
        --fp-main-grey: #d6d6da;
        --fp-main-grey-translucent: rgba(214, 214, 218, 0.95);
        --fp-light-grey: #efeff1;
        --fp-light-grey-translucent: rgba(239, 239, 241, 0.9);
        --fp-main-blue: {{ theme.color }};
        --fp-main-color: {{ theme.color }};
        --fp-main-color-lighter: {{ theme.colorLighter }};
        --fp-main-color-darker: {{ theme.colorDarker }};
    }
    </style>
{% comment %}
<style>
    @import "https://use.typekit.net/kol0uny.css";
    @import "https://unpkg.com/aos@2.3.1/dist/aos.css";
    @import "{% static "kronofoto/css/exhibit.css" %}";
</style>
{% endcomment %}
{% include "kronofoto/components/exhibit/sitewrapper.html" %}
{% include "kronofoto/components/exhibit/credits.html" %}

</div>
