{% extends base_template %}
{% load static %}
{% load krono_urls %}

{% block content %}

    <div class="container row">
        <div class="columns small-12 medium-12 large-3">

            <div class="row collapse">
                <div class="columns small-8">
                    <input type="text" id="embed-input" value="{% filter force_escape %}<script src="{% static 'kronofoto.js' %}"></script>
                        <fortepan-viewer src="{% object_url exhibit %}"></fortepan-viewer>{% endfilter %}" />
                </div>
                <div class="columns small-2">
                    <a class="button copy-button" data-clipboard-target="#embed-input">Copy</a>
                </div>
            </div>
        </div>
        <div class="columns small-12 medium-12 large-9">
            <script src="{% static "kronofoto.js" %}"></script>
            <fortepan-viewer exhibit-mode-DISABLED="light" src="{% object_url exhibit %}"></fortepan-viewer>
        </div>
    </div>

{% endblock content %}
