{% extends base_template %}
{% load widgets %}
{% load krono_urls %}

{% block viewbuttons %}
{% include "kronofoto/components/view-buttons.html" with gridclass="current-view" photo=page_obj.0 %}
{% endblock %}
{% block content %}
<main hx-target="#app" hx-swap="innerHTML">
<div x-data="{ open: false }">
    <button x-on:click="open = ! open">Toggle Dropdown</button>
 
    <div x-show="open">
        Dropdown Contents...
    </div>
</div>
{% if noresults %}
    <div class="container-center add_tag-container">
        <p style="width:50%">
            <strong>Whoops! No photos match your query: {{ query_expr }}</strong>
        </p>
        <img style="width:50%" src="{{ oops_photo.h700.url }}" alt="{{ tags }}">
    </div>
{% else %}
<div id="grid-top" class="grid-navigation">
    <h2>{{ collection_name }}</h2>
    {% page_links formatter page_obj %}
</div>

<ul class="photo-grid">
    {% for photo in page_obj %}
    <li><a href="{% object_url photo url_kwargs get_params %}" hx-target="#app" hx-get="{% object_url photo url_kwargs get_params %}"><img src="{% image_url path=photo.original.name id=photo.id width=500 height=500 %}" height="500" width="500" /></a></li>
    {% endfor %}
</ul>

<div id="grid-bottom" class="grid-navigation">
    {% page_links formatter page_obj "grid-top" %}
</div>
{% endif %}
</main>
{% endblock %}
