{% extends base_template %}
{% load static %}
{% load widgets %}
{% load krono_urls %}
{% load searchform %}
{% load header %}

{% block header %}
{% fotosphere_header %}
{% endblock header %}

{% block content %}
<style>
    svg.leaflet-tile {
        overflow: visible
    }
</style>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<div
    class="photosphere"
    x-bind:class="{ 'set-description-open': set_description_open, 'map-open': map_open, 'images-open': images_open }"
    x-data="{
        set_description_open: false,
        map_open: !window.matchMedia('(max-width: 64em)').matches,
        mobile_view: window.matchMedia('(max-width: 64em)').matches,
        small_mobile_view: window.matchMedia('(max-width: 40em)').matches,
        images_open: false,
        open: false
    }"
    @kronofoto-select-photosphere-marker="open = true"
    @node-changed="open = false"
    x-init="window.matchMedia('(max-width: 40em)').onchange = (evt) => { if (evt) { small_mobile_view = evt.matches } }; window.matchMedia('(max-width: 64em)').onchange = (evt) => { if (evt) { mobile_view = evt.matches } }; $watch('mobile_view', (mobile) => map_open = !mobile);"
    >

    <div id="fi-photosphere-metadata" class="photosphere__metadata hide">
        {% block photosphere_metadata %}
        <h2>{{ object.title }}</h2>
        <div>{{ object.description | markdown }}</div>
        {% if mainstreet_description %}<div>{{ mainstreet_description | linebreaksbr }}</div>{% endif %}
        {% endblock photosphere_metadata %}
    </div>
    <form class="photosphere__wrapper" hx-get="{% krono_url "kronofoto:mainstreetview" %}" hx-trigger="node-changed" hx-target="#fi-photosphere-metadata">
        <div id="fi-photosphere" class="photosphere__view" data-photosphere-data="#photosphere-data" data-node-href="{% krono_url "kronofoto:mainstreetview.json" %}" data-node-start="{{ object.id }}" data-node-param="id" style="width: 100vw;" data-mainstreet-tiles="{{ mainstreet_tiles }}" x-init="$watch('map_open', (value) => $dispatch('kronofoto-photosphere-map', {'map_open': value}))" x-resize="$dispatch('kronofoto-photosphere-size', { width: small_mobile_view ? $width : 300, height: small_mobile_view ? Math.round($width/2) : 200 })">
            <input name="id" type="hidden">
        </div>
    </form>
    <div id="description-swap-trick"></div>
    <template id="mainstreet-description" x-if="set_description_open || !mobile_view">
        <div class="photosphere__set_description" x-bind:class="{ 'expanded': set_description_open }">
            <button class="photosphere__set_description_button" x-on:click="set_description_open = !set_description_open"></button>
            <button class="photosphere__set_description_close_button" x-on:click="set_description_open = !set_description_open"></button>
            <div class="photosphere__set_description_text" x-show="set_description_open">
                <div class="wrapper">
                {% if object.mainstreetset.name %}<h3>{{ object.mainstreetset.name }}</h3>{% endif %}
                {% if mainstreet_description %}<div>{{ mainstreet_description | linebreaksbr }}</div>{% endif %}
                </div>
            </div>

        </div>
    </template>
    <div class="photosphere__info-box hide" x-show="open">
        <button @click="open = false" class="close-btn">Close</button>
        <div
            id="photosphere-info-box"
            hx-trigger="kronofoto-select-photosphere-marker from:previous form"
            hx-vals="js:{id: event.detail.id}"
            hx-get="{% krono_url "kronofoto:mainstreet-info" %}"
            hx-target="this"
            hx-swap="innerHTML"
            hx-push-url="false">
        </div>
    </div>
    <nav id="fi-timeline" class="photosphere__timeline fi-timeline">
        <form
            hx-trigger="kronofoto:loadThumbnails"
            hx-target="#fi-thumbnail-carousel-images"
            hx-get="{% krono_url "kronofoto:mainstreetview-carousel" %}"
            hx-push-url="false"
            hx-swap="beforeend"
            hx-sync="this:drop"
        >
        {{ thumbnails_form }}
        <ul id="fi-preload-zone"></ul>
        <div data-fi-load-thumbnails class="hide"></div>
        <div class="fi-thumbnail-carousel" hx-target="#fi-photosphere-metadata" hx-swap="innerHTML">
            {% include "kronofoto/components/thumbnail-carousel.html" with object_list=photos width_element="#fi-photosphere" is_mainstreet=True %}
        </div>
        </form>
    </nav>
    <ul class="photosphere__mainstreet-sets button-list button-list--horizontal" id="related-mainstreets">
        {% for mainstreet in mainstreet_links %}
        <li><a class="year-button active" href="{{ mainstreet.photosphere_href }}">{{ mainstreet.set.name }}</a></li>
        {% endfor %}
    </ul>
    <nav class="photosphere__mobile-nav">

        <div x-bind:class="{ 'open': set_description_open }" @click="set_description_open = ! set_description_open">
            <svg xmlns="http://www.w3.org/2000/svg" width="27.5" height="27.5" viewBox="0 0 27.5 27.5">
                <g id="info-white" transform="translate(1.25 1.25)">
                    <circle id="Ellipse_4" data-name="Ellipse 4" cx="12.5" cy="12.5" r="12.5" fill="none" stroke="#6a6a6a" stroke-miterlimit="10" stroke-width="2.5"/>
                    <g id="Group_10" data-name="Group 10" transform="translate(9.001 6.25)">
                        <path id="Path_21" data-name="Path 21" d="M21.95,24.53h4.4v6.18" transform="translate(-21.95 -18.305)" fill="none" stroke="#6a6a6a" stroke-miterlimit="10" stroke-width="2.5"/>
                        <path id="Path_62" data-name="Path 62" d="M0,0H7" transform="translate(0 12.5)" fill="none" stroke="#6a6a6a" stroke-width="2.5"/>
                        <circle id="Ellipse_5" data-name="Ellipse 5" cx="1.038" cy="1.038" r="1.038" transform="translate(2.2)" fill="none" stroke="#6a6a6a" stroke-miterlimit="10" stroke-width="2.5"/>
                    </g>
                </g>
            </svg>
        </div>
        <div x-bind:class="{ 'open': map_open }" @click="map_open = ! map_open">
            <svg xmlns="http://www.w3.org/2000/svg" width="24.5" height="30.442" viewBox="0 0 24.5 30.442">
                <g id="map-icon" transform="translate(1.25 1.25)">
                    <path id="Path_91" data-name="Path 91" d="M133.614,56.222a11,11,0,0,0-11-11c-6.076,0-11,4.164-11,11s11,16.5,11,16.5,11-10.424,11-16.5" transform="translate(-111.614 -45.222)" fill="none" stroke="#707070" stroke-width="2.5"/>
                    <path id="Path_92" data-name="Path 92" d="M120.3,59.335a4.056,4.056,0,1,0-1.785-3.361" transform="translate(-111.565 -45.44)" fill="none" stroke="#707070" stroke-width="2.5"/>
                    <path id="Path_93" data-name="Path 93" d="M120.295,59.335a4.055,4.055,0,1,0-1.786-3.361" transform="translate(-111.565 -45.44)" fill="none" stroke="#707070" stroke-miterlimit="10" stroke-width="2.5"/>
                    <path id="Path_94" data-name="Path 94" d="M119.3,63.649l-1.892-3.894,4.318.308Z" transform="translate(-112.025 -46.493)" fill="none" stroke="#707070" stroke-width="2.5"/>
                    <path id="Path_110" data-name="Path 110" d="M9.624,18.979" transform="translate(-1.155 -2.277)" fill="none" stroke="#707070" stroke-width="2.5"/>
                </g>
            </svg>
        </div>
        <div x-bind:class="{ 'open': images_open }" @click="images_open = ! images_open">
            <svg id="Group_195" data-name="Group 195" xmlns="http://www.w3.org/2000/svg" width="35.175" height="25" viewBox="0 0 35.175 25">
                <g id="Rectangle_207" data-name="Rectangle 207" fill="none" stroke="#707070" stroke-width="2.5">
                    <rect width="9.771" height="25" stroke="none"/>
                    <rect x="1.25" y="1.25" width="7.271" height="22.5" fill="none"/>
                </g>
                <g id="Rectangle_208" data-name="Rectangle 208" transform="translate(12.702)" fill="none" stroke="#707070" stroke-width="2.5">
                    <rect width="9.771" height="25" stroke="none"/>
                    <rect x="1.25" y="1.25" width="7.271" height="22.5" fill="none"/>
                </g>
                <g id="Rectangle_209" data-name="Rectangle 209" transform="translate(24.427)" fill="none" stroke="#707070" stroke-width="2.5">
                    <rect width="10.748" height="25" stroke="none"/>
                    <rect x="1.25" y="1.25" width="8.248" height="22.5" fill="none"/>
                </g>
            </svg>
        </div>
        <div class="photosphere__mobile-nav-sets" id="mobile-related-mainstreets" x-data="{ dropdownExpanded: false }" @click="dropdownExpanded = true" @click.away="dropdownExpanded = false" :class="dropdownExpanded ? 'expanded' : ''">
            <div class="wrapper" x-show="dropdownExpanded">
                {% for mainstreet in mainstreet_links %}
                <label @click="dropdownExpanded = false" {% if object.mainstreetset == mainstreet.set.name %}class="active"{% endif %}@click="dropdownExpanded= !dropdownExpanded"><a href="{{ mainstreet.photosphere_href }}">{{ mainstreet.set.name }}</a></label>
                {% endfor %}
            </div>
            <div class="photosphere__mobile-nav-sets-current noselect">{{ object.mainstreetset }}</div>
        </div>
    </nav>

</div>
{% endblock %}
