{% extends base_template %}
{% load widgets %}
{% load static %}
{% load geojson_tags %}

{% block viewbuttons %}
{% include "kronofoto/components/view-buttons.html" %}
{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<main class="container-center">
    {{ object.name }}
    <p>{{ object.description }}</p>
    <div data-map style="width:100%; height:400px;"></div>
</main>
{{ points|json_script:"points" }}
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script>
    const map = L.map(document.querySelector('[data-map]'))
    var OpenStreetMap_Mapnik = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map)
    const points = L.geoJson(JSON.parse(document.querySelector("#points").text)).addTo(map)
    map.fitBounds(points.getBounds(), {padding: [5,5]})
    points.bindPopup(layer => {
        const properties = layer.feature.properties
        return properties.popup
    })
</script>
{% endblock %}
