{% extends base_template %}
{% load static %}
{% load widgets %}
{% load krono_urls %}
{% load searchform %}

{% block content %}
<style>
    svg.leaflet-tile {
        overflow: visible
    }
</style>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<div x-data="{ open: false }" @kronofoto-select-photosphere-marker="open = true" @node-changed="open = false">
    <div id="fi-photosphere-metadata">
        {% block photosphere_metadata %}
        <h2>{{ object.title }}</h2>
        <div>{{ object.description | markdown }}</div>
        {% if object.mainstreetset.description %}<div>{{ object.mainstreetset.description }}</div>{% endif %}
        {% endblock photosphere_metadata %}
    </div>
    <form hx-get="{% krono_url "kronofoto:mainstreetview" %}" hx-trigger="node-changed" hx-target="#fi-photosphere-metadata">
        <div data-photosphere-data="#photosphere-data" data-node-href="{% krono_url "kronofoto:mainstreetview.json" %}" data-node-start="{{ object.id }}" data-node-param="id" style="width: 100vw; height: 80vh">
            <input name="id" type="hidden">
        </div>
    </form>
    <div x-show="open">
        <button @click="open = false">Close</button>
        <div 
            id="photosphere-info-box"
            hx-trigger="kronofoto-select-photosphere-marker from:previous form" 
            hx-vals="js:{id: event.detail.id}" 
            hx-get="{% krono_url "kronofoto:mainstreet-info" %}" 
            hx-target="this" 
            hx-swap="innerHTML" 
            hx-push-url="false">
        </div>
    </div>
    <nav id="fi-timeline" class="fi-timeline">
        <form 
            hx-trigger="kronofoto:loadThumbnails" 
            hx-target="#fi-photosphere-metadata" 
            hx-get="{% krono_url "kronofoto:mainstreetview-carousel" %}"
            hx-push-url="false"
            hx-swap="beforeend"
            hx-sync="this:drop"
        >
        {{ thumbnails_form }}
        <ul id="fi-preload-zone"></ul>
        <div data-fi-load-thumbnails class="hide"></div>
        <div class="fi-thumbnail-carousel" hx-target="#fi-photosphere-metadata" hx-swap="innerHTML">
            {% include "kronofoto/components/thumbnail-carousel.html" with object_list=photos width_element="#fi-photosphere" is_mainstreet=True %}
        </div>
        </form>
    </nav>
</div>
{% endblock %}
