{% extends base_template %}
{% load static %}
{% load widgets %}
{% load krono_urls %}
{% load searchform %}
{% load header %}

{% block header %}
{% fotosphere_header %}
{% endblock header %}

{% block content %}
<style>
    svg.leaflet-tile {
        overflow: visible
    }
</style>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<div
    class="photosphere"
    x-bind:class="{ 'set-description-open': set_description_open, 'map-open': map_open, 'images-open': images_open }"
    x-data="{
        set_description_open: false,
        map_open: !window.matchMedia('(max-width: 64em)').matches,
        mobile_view: window.matchMedia('(max-width: 64em)').matches,
        small_mobile_view: window.matchMedia('(max-width: 40em)').matches,
        images_open: false,
        open: false
    }"
    @kronofoto-select-photosphere-marker="open = true"
    @node-changed="open = false"
    x-init="window.matchMedia('(max-width: 40em)').onchange = (evt) => { if (evt) { small_mobile_view = evt.matches } }; window.matchMedia('(max-width: 64em)').onchange = (evt) => { if (evt) { mobile_view = evt.matches } }; $watch('mobile_view', (mobile) => map_open = !mobile);"
    >

    <div id="fi-photosphere-metadata" class="photosphere__metadata hide">
        {% block photosphere_metadata %}
        <h2>{{ object.title }}</h2>
        <div>{{ object.description | markdown }}</div>
        {% if mainstreet_description %}<div>{{ mainstreet_description | linebreaksbr }}</div>{% endif %}
        {% endblock photosphere_metadata %}
    </div>
    <form class="photosphere__wrapper" hx-get="{% krono_url "kronofoto:mainstreetview" %}" hx-trigger="node-changed" hx-target="#fi-photosphere-metadata">
        <div id="fi-photosphere" class="photosphere__view" data-photosphere-data="#photosphere-data" data-node-href="{% krono_url "kronofoto:mainstreetview.json" %}" data-node-start="{{ object.id }}" data-node-param="id" style="width: 100vw;" data-mainstreet-tiles="{{ mainstreet_tiles }}" x-init="$watch('map_open', (value) => $dispatch('kronofoto-photosphere-map', {'map_open': value}))" x-resize="$dispatch('kronofoto-photosphere-size', { width: small_mobile_view ? $width : 300, height: small_mobile_view ? Math.round($width/2) : 200 })"">
            <input name="id" type="hidden">
        </div>
    </form>
    <div id="description-swap-trick"></div>
    <template id="mainstreet-description" x-if="set_description_open || !mobile_view">
        <div class="photosphere__set_description" x-bind:class="{ 'expanded': set_description_open }">
            <button class="photosphere__set_description_button" x-on:click="set_description_open = !set_description_open"></button>
            <button class="photosphere__set_description_close_button" x-on:click="set_description_open = !set_description_open"></button>
            <div class="photosphere__set_description_text" x-show="set_description_open">
                <div class="wrapper">
                {% if object.mainstreetset.name %}<h3>{{ object.mainstreetset.name }}</h3>{% endif %}
                {% if mainstreet_description %}<div>{{ mainstreet_description | linebreaksbr }}</div>{% endif %}
                </div>
            </div>
        </div>
    </template>
    <div class="photosphere__info-box hide" x-show="open">
        <button @click="open = false" class="close-btn">Close</button>
        <div
            id="photosphere-info-box"
            hx-trigger="kronofoto-select-photosphere-marker from:previous form"
            hx-vals="js:{id: event.detail.id}"
            hx-get="{% krono_url "kronofoto:mainstreet-info" %}"
            hx-target="this"
            hx-swap="innerHTML"
            hx-push-url="false">
        </div>
    </div>
    <nav id="fi-timeline" class="photosphere__timeline fi-timeline">
        <form
            hx-trigger="kronofoto:loadThumbnails"
            hx-target="#fi-thumbnail-carousel-images"
            hx-get="{% krono_url "kronofoto:mainstreetview-carousel" %}"
            hx-push-url="false"
            hx-swap="beforeend"
            hx-sync="this:drop"
        >
        {{ thumbnails_form }}
        <ul id="fi-preload-zone"></ul>
        <div data-fi-load-thumbnails class="hide"></div>
        <div class="fi-thumbnail-carousel" hx-target="#fi-photosphere-metadata" hx-swap="innerHTML">
            {% include "kronofoto/components/thumbnail-carousel.html" with object_list=photos width_element="#fi-photosphere" is_mainstreet=True %}
        </div>
        </form>
    </nav>
    <ul class="photosphere__mainstreet-sets button-list button-list--horizontal" id="related-mainstreets">
        {% for mainstreet in mainstreet_links %}
        <li><a class="year-button{% if object.mainstreetset.name|stringformat:"s"  == mainstreet.set.name|stringformat:"s"  %} active{% endif %}" href="{{ mainstreet.photosphere_href }}">{{ mainstreet.set.name }}</a></li>
        {% endfor %}
    </ul>
    <nav class="photosphere__mobile-nav">
        <div x-bind:class="{ 'open': current_item == 'navbar' }" @click="current_item = 'navbar'">
            <svg xmlns="http://www.w3.org/2000/svg" width="21.262" height="22.813" viewBox="0 0 21.262 22.813">
                <g id="icon" transform="translate(-9.072 -8.128)">
                    <path id="Path_92" data-name="Path 92" d="M122.749,69.531a9.632,9.632,0,1,0-4.239-7.982" transform="translate(-108.436 -42.791)" fill="none" stroke="#6a6a6a" stroke-width="2"/>
                    <path id="Path_93" data-name="Path 93" d="M122.75,69.531a9.631,9.631,0,1,0-4.241-7.982" transform="translate(-108.437 -42.791)" fill="none" stroke="#6a6a6a" stroke-miterlimit="10" stroke-width="2"/>
                    <g id="Path_94" data-name="Path 94" transform="translate(-108.076 -36.702)" fill="none">
                        <path d="M121.244,67.643l-3.833-7.888,8.748.623Z" stroke="none"/>
                        <path d="M 121.2436065673828 67.64289093017578 L 117.410400390625 59.75510787963867 L 126.1586456298828 60.37809753417969 L 121.2436065673828 67.64289093017578 Z" stroke="none" fill="#6a6a6a"/>
                    </g>
                </g>
            </svg>
        </div>
        <div x-bind:class="{ 'open': current_item == 'set_description' }" @click="current_item = 'set_description'">
            <svg xmlns="http://www.w3.org/2000/svg" width="26.27" height="28.272" viewBox="0 0 26.27 28.272">
                <g id="info-icon" transform="translate(1 0.971)">
                    <path id="Path_112" data-name="Path 112" d="M18.987,12.056c.011-.395,0-4.384,0-4.384l-6.4-6.422H2.854a1.6,1.6,0,0,0-1.6,1.6V25.13a1.6,1.6,0,0,0,1.6,1.6l9.034-.022" transform="translate(-1.25 -1.221)" fill="none" stroke="#6a6a6a" stroke-miterlimit="10" stroke-width="2"/>
                    <path id="Path_113" data-name="Path 113" d="M15.48,1.21V6.956A1.82,1.82,0,0,0,17.3,8.775h5.76" transform="translate(-5.283 -1.21)" fill="none" stroke="#6a6a6a" stroke-miterlimit="10" stroke-width="2"/>
                    <circle id="Ellipse_27" data-name="Ellipse 27" cx="6.765" cy="6.765" r="6.765" transform="translate(10.74 12.77)" fill="none" stroke="#6a6a6a" stroke-miterlimit="10" stroke-width="2"/>
                    <path id="Path_114" data-name="Path 114" d="M23.134,26.894H25.24v3.6" transform="translate(-7.453 -7.64)" fill="none" stroke="#6a6a6a" stroke-miterlimit="10" stroke-width="2"/>
                    <line id="Line_60" data-name="Line 60" x2="4.16" transform="translate(15.682 22.851)" fill="none" stroke="#6a6a6a" stroke-miterlimit="10" stroke-width="2"/>
                    <path id="Path_115" data-name="Path 115" d="M27.687,23.322A1.075,1.075,0,1,0,26.611,24.4,1.077,1.077,0,0,0,27.687,23.322Z" transform="translate(-8.803 -6.993)" fill="#6a6a6a"/>
                </g>
            </svg>
        </div>
        <div x-bind:class="{ 'open': current_item == 'map' }" @click="current_item = 'map'">
            <svg xmlns="http://www.w3.org/2000/svg" width="24.4" height="30.354" viewBox="0 0 24.4 30.354">
                <g id="icon" transform="translate(1 1)">
                    <path id="Path_62" data-name="Path 62" d="M22.4,11.2A11.2,11.2,0,0,0,11.2,0C5.014,0,0,4.239,0,11.2S11.2,28,11.2,28,22.4,17.386,22.4,11.2" transform="translate(0 0)" fill="none" stroke="#707070" stroke-width="2"/>
                    <path id="Path_63" data-name="Path 63" d="M18.985,14.075a4.756,4.756,0,1,0-4.757,4.757,4.757,4.757,0,0,0,4.757-4.757" transform="translate(-3.028 -2.888)" fill="none" stroke="#707070" stroke-width="2"/>
                </g>
            </svg>
        </div>
        <div x-bind:class="{ 'open': current_item == 'images' }" @click="current_item = 'images'">
            <svg id="icon" xmlns="http://www.w3.org/2000/svg" width="32.052" height="13.753" viewBox="0 0 32.052 13.753">
                <g id="Rectangle_207" data-name="Rectangle 207" fill="none" stroke="#6a6a6a" stroke-width="2">
                    <rect width="8.903" height="13.753" stroke="none"/>
                    <rect x="1" y="1" width="6.903" height="11.753" fill="none"/>
                </g>
                <g id="Rectangle_208" data-name="Rectangle 208" transform="translate(11.574)" fill="none" stroke="#6a6a6a" stroke-width="2">
                    <rect width="8.903" height="13.753" stroke="none"/>
                    <rect x="1" y="1" width="6.903" height="11.753" fill="none"/>
                </g>
                <g id="Rectangle_209" data-name="Rectangle 209" transform="translate(22.258)" fill="none" stroke="#6a6a6a" stroke-width="2">
                    <rect width="9.794" height="13.753" stroke="none"/>
                    <rect x="1" y="1" width="7.794" height="11.753" fill="none"/>
                </g>
            </svg>
        </div>
        <div class="photosphere__mobile-nav-sets" id="mobile-related-mainstreets" x-data="{ dropdownExpanded: false, selectedItem: '{{ object.mainstreetset }}' }" @click="dropdownExpanded = !dropdownExpanded" @click.away="dropdownExpanded = false" :class="dropdownExpanded ? 'expanded' : ''">
            <div class="wrapper" x-show="dropdownExpanded">
                {% for mainstreet in mainstreet_links %}
                <label @click="dropdownExpanded = false" {% if object.mainstreetset == mainstreet.set.name %}class="active"{% endif %}@click="dropdownExpanded= !dropdownExpanded"><a href="{{ mainstreet.photosphere_href }}">{{ mainstreet.set.name }}</a></label>
                {% endfor %}
            </div>
            <div class="photosphere__mobile-nav-sets-current" x-text="selectedItem">{{ object.mainstreetset }}</div>
        </div>
    </nav>

</div>
{% endblock %}
