{% extends base_template %}
{% load krono_urls %}
{% load widgets %}

{% block content %}
{% block user_header %}
<div class="user-header">
    <div class="user-header__wrapper column">
        <div class=user-header__info>
            <h2 class="user-header__username">{{ profile_user.username }}</h2>
            <p class="user-header__email">{{ profile_user.email }}</p>
        </div>

        {% if profile_user == request.user %}
        <div class="user-header__edit-button">
            <a class="icon edit-account-icon" href="{% url "password_change" %}"><span class="sr-only">Edit</span></a>
        </div>

        <div class="user-header__logout">
            <a class="button" href="{% url "logout" %}?next={% krono_url "kronofoto:random-image" %}">Logout</a>
        </div>
        {% endif %}
    </div>
</div>
{% endblock user_header %}
{% block collections %}
{% with section_id="my-lists" object_list=object_list section_name="My FotoAlbums" form_template="kronofoto/components/forms/collection-create.html" %}
    {% with section_description="A FotoAlbum is a collection of Fortepan photos organized by a customizable theme. You can share and embed any FotoAlbum, and use a FotoAlbum to create a FotoStory." %}
    {% include "kronofoto/components/user-content-section.html" %}
    {% endwith %}
{% endwith %}
{% endblock collections %}
{% block exhibits %}
{% with section_id="my-exhibits" object_list=exhibits section_name="My FotoStories" form=exhibit_form form_template="kronofoto/components/forms/exhibit-create.html" %}
    {% with section_description="A FotoStory is a digital exhibit built with Fortepan photos; build a FotoStory with a combination of text + image content blocks. You can share and embed any FotoStory." %}
    {% include "kronofoto/components/user-content-section.html" %}
    {% endwith %}
{% endwith %}
{% endblock exhibits %}

{% comment %}
These sections have been commented out because we haven't decided what they actually do.
<section id="my-fotosphers" class="border-bottom">

    <div class="row">

        <div class="columns small-8">
            <h2>My FotoSpheres</h2>
            <p class="paragraph color-light padding-bottom-2">A FotoSphere is a Fortepan photo that is both geolocated and matched to a modern day 360º image. You can search for FotoSpheres in the Fortepan US portal, and collect them in a list here. You can also share and embed any FotoSphere, and use a collection of FotoSpheres to create a FotoSphere Tour.</p>
        </div>

        <div class="columns small-12">
            <div class="collection collection--list collection--3">

                {% for collection in object_list %}
                <div class="collection__item">
                    <div class="collection__item-label"><a href="{{ collection.get_absolute_url }}">{{ collection.name }}</a></div>
                    {% if profile_user == request.user %}
                    <div class="collection__item-menu context-menu" id="tour-{{ collection.uuid }}" data-toggler=".expanded">
                        <div class="context-menu__button" data-toggle="tour-{{ collection.uuid }}"></div>
                        <div class="context-menu__items">
                            <ul>
                                <li><a href="#">Edit</a></li>
                                <li><a href="{{ collection.get_absolute_url }}">Copy Share Link</a></li>
                                <li><a href="#">Add to List</a></li>
                                <li><a href="href="{% url "kronofoto:collection-delete" collection.id %}">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</section>


<section id="my-fotosphere-tours" class="border-bottom">

    <div class="row">

        <div class="columns small-8">
            <h2>My FotoSphere Tours</h2>
            <p class="paragraph color-light padding-bottom-2">A FotoSphere Tour is a series of FotoSpheres organized by proximity and time, interlinked to create a virtual walking tour. You can share and embed any FotoSphere Tour.</p>
        </div>

        <div class="columns small-12">
            <div class="collection collection--list collection--3">

                {% for collection in object_list %}
                <div class="collection__item">
                    <div class="collection__item-label"><a href="{{ collection.get_absolute_url }}">{{ collection.name }}</a></div>
                    {% if profile_user == request.user %}
                    <div class="collection__item-menu context-menu" id="tour-{{ collection.uuid }}" data-toggler=".expanded">
                        <div class="context-menu__button" data-toggle="tour-{{ collection.uuid }}"></div>
                        <div class="context-menu__items">
                            <ul>
                                <li><a href="#">Edit</a></li>
                                <li><a href="{{ collection.get_absolute_url }}">Copy Share Link</a></li>
                                <li><a href="#">Add to List</a></li>
                                <li><a href="href="{% url "kronofoto:collection-delete" collection.id %}">Delete</a></li>
                            </ul>
                        </div>
                    </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

</section>
{% endcomment %}

{% endblock %}
