{% extends "archive/doc-base.html" %}
{% load static %}

{% block content %}
    <main>
      <section id="about">
        <div class="img-grid">
          <div class="img-grid_item">
            <img src="{% static "assets/images/hamburger/about1.jpg" %}" alt="">
          </div>
          <div class="img-grid_item">
            <img src="{% static "assets/images/hamburger/about2.jpg" %}" alt="">
          </div>
          <div class="img-grid_item">
            <img src="{% static "assets/images/hamburger/about3.jpg" %}" alt="">
          </div>
        </div>
        <h1>About</h1>
        <p>
          Fortepan Iowa features curated photos taken by ordinary Iowans over the nineteenth and twentieth centuries. The photos represent the personal, whimsical, poetic, significant, and accidentally artistic moments of everyday Iowa life, and tell a rich story of Iowa’s great diversity and complexity. 
        </p>
        <p>The project serves as an ever-growing <strong>public website</strong>, providing opportunities for deep reflection on who we are as a State. Our aim is to find and digitize <strong>evocative archival photographs taken by everyday Iowans</strong>—photographs that might disappear or be thrown away—and organize them into an easily searchable visual chronology, with other functionalities that help you browse through, tag, geo-locate, and download the images. </p>
        <p> The project duplicates and builds upon the hugely successful Hungarian public
          website “<a href="https://fortepan.hu">Fortepan</a>,” an interactive photo chronology developed by Miklós Tamási
          and András Szepessy in 2009. The name “Fortepan” comes from the Hungarian company
          FORTE, which made the popular black and white negative film, “Fortepan” that was
          sold throughout the world after World War II until 2001. It’s appropriate that we
          name the archive Fortepan, since many of the images, especially in Hungary, were
          taken with Fortepan film. As Fortepan’s <strong>first “sister” site</strong>, Fortepan Iowa
          aims to reveal the spirit, identity, and history of its Hungarian counterpart. </p>
        <p>This archive, as part of the Fortepan movement, represents a new archival paradigm that showcases the image, gives photographs immediate historical context through its timeline-based interface, and encourages many levels of public participation. All Fortepan Iowa images are available for public download and carry a Creative Commons Attribution-ShareAlike 4.0 International (CC BY-SA 4.0) license [<a href="https://creativecommons.org/licenses/by-sa/4.0/">View License Deed</a> | <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">View Legal Code</a>]. We invite you to View, Tag, or Download any Fortepan Iowa image you care to engage with. They are for you. They are for all of us. They represent a “public park” of Iowa images, an Iowa commons of shared public history. </p>
        <p>
          Likewise the technology supporting the site has been built exclusively with open source software, including the Linux operating system, Apache web server, PostgreSQL database server, Python programming language and many other software packages and other supporting libraries and code. A vibrant collaborative dynamic has been fostered between the developer and operations teams, creating an ideal environment for the rapid development of ideas. This culture of interactive problem solving will continue to support the project as it continues to grow in the future.
        </p>
        <p>
          Finally, we recognize the broad range of images that we have curated into this archive, including images that may be offensive or portray negative stereotypes. All images should be viewed in the context of their time periods. Fortepan Iowa does not endorse the views represented in such images. However, we think these images are important for the overall conversation about who we are as Iowans. They provide a fuller understanding and representation of different time periods in Iowa’s history. We hope you agree why they are there.  
        </p>
        <p style="font-size:10px; margin-top: 40px;">FI0000876, 1915, IA, donated by Leonard Curtis; FI0001375, 1939, IA, donated by Erik Walker; FI0001965, 1900, IA, donated by Alfred Becker. All images licensed CC-BY-SA 4.0. </p>

      </section>
       <h6>
        This document was created by Bettina Fabos and is licensed under a <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
      </h6>
    </main>
{% endblock %}
