<div hx-swap-oob="innerHTML:.navigation-menu">
{% include "archive/navigation-menu.html" %}
</div>
<div hx-swap-oob="innerHTML:#all-photos">
{% if collection_name != "All Photos" %}
    <a href="{% url "kronofoto:random-image" %}" hx-get="{% url "kronofoto:random-image" %}" hx-target="#app">Back to All Photos</a>
{% endif %}
</div>
<div hx-swap-oob="innerHTML:.main-nav_center">
    {% block searchbox %}
    {% include "archive/search-box.html" %}
    {% endblock %}
    {% block viewbuttons %}
    {% endblock %}
</div>
{% block content %}
{% endblock %}
