<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load login %}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link type="text/css" rel="stylesheet" href="{% static "assets/css/index.css" %}">
  <link type="text/css" rel="stylesheet" href="{% url "keyframes" -100 100 1 "%" %}">
  <title>Fortepan Iowa</title>
</head>
<body>
  <header>
    <nav aria-label="Main navigation">
      <div id="logo">
        <img src="{% static "assets/images/01-fi-logo.svg" %}" alt="Fortepan Iowa Logo">
      </div>
      <ul>
        <li>
        </li>
        <li>0008087 IMG</li>
        <li>New</li>
        <li id="search-box-container">
          <form action="/search/" method="get">
              <label for="search-box">
                <img src="{% static "assets/images/03-mag-glass.svg" %}" alt="Magnifying glass">
                <input type="text" name="q" id="search-box" placeholder="Keywords, terms, photo ID#, donor" value="{{ q }}">
              </label>
              <input type="submit" style="display:none">
          </form>
        </li>
        <li>
          <img src="{% static "assets/images/04-grid.svg" %}" alt="Grid icon">
        </li>
        <li>
          <img src="{% static "assets/images/05-iowa.svg" %}" alt="Icon in the shape of the state of Iowa">
        </li>
        <li>
          <img src="{% static "assets/images/06-darkmode.svg" %}" alt="A square with light and dark corners">
        </li>
        <li>
          <img src="{% static "assets/images/07-fullscreen.svg" %}" alt="A fullscreen icon">
        </li>
        <li>Auto</li>
        <li>
          <div class="login-container">
            {% make_login %}
          </div>
        </li>
        <li>
          <!-- HAMBURGER MENU -->
        </li>
      </ul>
    </nav>
  </header>
    {% block content %}
    {% endblock %}
  <!-- <footer></footer> -->
</body>
</html>
