<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load login %}
{% load searchform %}
{% load widgets %}
{% load gtm_tags %}
<head>
  {% gtm_head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link type="text/css" rel="stylesheet" href="{% static "assets/css/index.css" %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <script
			  src="https://code.jquery.com/jquery-3.5.1.min.js"
			  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
			  crossorigin="anonymous"></script>
  <title>Fortepan Iowa</title>
  <style>
:root {
  --fp-main-font: 'Montserrat', sans-serif;
  --fp-secondary-ticker-color: #9d9d9c;
  --fp-main-grey: #d6d6da;
  --fp-main-grey-translucent: rgba(214, 214, 218, 0.95);
  --fp-light-grey: #efeff1;
  --fp-light-grey-translucent: rgba(239, 239, 241, 0.9);
  --fp-main-blue: {{ theme.color }};
}
  </style>
</head>
<body hx-push-url="true">
  {% gtm_body %}
  <div class="overlay" style="display: none;"></div>
  <header>
    <nav aria-label="Main navigation">
      <div class="main-nav">
        <div class="main-nav_left">
          <div id="logo">
            <a href="{% url "random-image" %}"><img class="logo-img" src="{{ theme.logo }}" alt="Fortepan Iowa Logo"></a>

            <div class="collection-name">
              <a href="{% url "random-image" %}"><i class="fas fa-times"></i></a> {{ collection_name }}
            </div>
          </div>

          <div class="header-text">{{photo_count}} images</div>

          <div id="search-box-container">
            <div class="search-box-content">

              <div class="search-box-content_inner">
                {% make_search_form %}
              </div>

              <div class="search-options">
                <img src="{{ theme.carrotSvg }}" alt="Carrot" class="carrot">
              </div>

            </div>
          </div>

        </div> <!-- end nav left -->
        <div class="main-nav_center mobile-hidden">
          {% block viewbuttons %}
          {% include "archive/view-buttons.html" %}
          {% endblock %}
          <div id="new-label_container" class="new-label_container"><a href="{% url "search-results" %}?query=is_new%3Atrue"><img class="new-label" src="{% static "assets/images/new.svg" %}"></a></div>

        </div>
          <!-- end nav center -->

        <div class="main-nav_right">
          
        {% comment %}
          <!-- <li>
            <img src="{% static "assets/images/05-iowa.svg" %}" alt="Icon in the shape of the state of Iowa">
          </li> -->

  <!--    NOTE: The following menu items have been hidden for the time being.
                When their functionality is added to the site, they can be added back to the menu.
          <li>
            <img src="{% static "assets/images/06-darkmode.svg" %}" alt="A square with light and dark corners">
          </li>
          <li>
            <img src="{% static "assets/images/07-fullscreen.svg" %}" alt="A fullscreen icon">
          </li>
          <li>Auto</li>
          -->
        {% endcomment %}
          <div class="login-container">
            {% make_login %}
          </div>
          <div class="hamburger-container">

            <div class="hamburger">
              <img class="hamburger-icon" src="{% static "assets/images/hamburger.svg" %}" alt="menu icon" title="Menu">
            </div>

            <div class="hamburger-menu hidden">
              <!-- <img src="{% static "assets/images/close.png" %}" alt="" class="close-btn"> -->
              <i class="fas fa-times fa-2x close-btn"></i>
              <ul class="navigation-menu" id="navigation-menu">
                {% include "archive/navigation-menu.html"%}
              </ul>
              <!-- <li><a href="https://fortepan.hu">Fortepan (Hungary)</a></li>
              <li><a href="https://fortepan.us/info">Fortepan Concept</a></li>
              <li><a href="mailto:fortepaniowa@uni.edu">Contact</a></li> -->
            </div>

          </div>


        </div> <!-- end nav right -->
       
      </div>
    </nav>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  {% if debug %}
  <script type="module" src="{% static "assets/js/main-dev.js" %}"></script>
  {% else %}
  <script src="{% static "assets/js/main.js" %}"></script>
  {% endif %}
  </header>
  <div id="app">
    {% block content %}
    {% endblock %}
  </div>
  <!-- <footer></footer> -->
</body>
</html>
