<div hx-swap-oob="delete:#timeline-container"></div>

<div hx-swap-oob="delete:#grid-icon"></div>
<div hx-swap-oob="innerHTML:.navigation-menu">
{% include "archive/navigation-menu.html" %}
</div>
<div hx-swap-oob="innerHTML:#all-photos">
{% if collection_name != "All Photos" %}
    <a href="{% url "kronofoto:random-image" %}" hx-get="{% url "kronofoto:random-image" %}" hx-target="#app">Back to All Photos</a>
{% endif %}
</div>
<div hx-swap-oob="beforeend:.main-nav_center">
    {% block viewbuttons %}
    {% endblock %}
</div>
{% block content %}
{% endblock %}
