{% extends "archive/doc-base.html" %}
{% load static %}
{% block content %}
    <main>
      <section id="contribute">
        <div class="img-grid">
          <div class="img-grid_item">
            <img src="{% static "assets/images/hamburger/contribute1.jpg" %}" alt="">
          </div>
          <div class="img-grid_item">
            <img src="{% static "assets/images/hamburger/contribute2.jpg" %}" alt="">
          </div>
          <div class="img-grid_item">
            <img src="{% static "assets/images/hamburger/contribute3.jpg" %}" alt="">
          </div>
        </div>
        <h1>Contribute</h1>
        <p>
          We welcome photographs from family collections, libraries, historical societies, museums,
          and other archives or collections. Our focus is everyday Iowa. We scan all photos
          (up to 1000 images per collection) at high resolution from our home base at the
          University of Northern Iowa, or at one of our scanning hubs at our participating public
          libraries in Anamosa, Cedar Falls, Ottumwa, Sumner, and Webster City. If you happen to
          own glass slides or film negatives that seem worthless because you don’t have a way to
          view them or you have lost track of their family significance—please don’t throw them away!
          We can digitize them! We can also digitize very large print photographs.
          Contact <a href="mailto:fortepaniowa@uni.edu">fortepaniowa@uni.edu</a>. We may have a waiting list. 
        </p>
        <h3>What We Look For</h3>
        <p>
          We choose photographs for Fortepan Iowa based on their <b>unique lens into the everyday world</b>. We look for:
        </p>
        <ul>
          <li>
            Photos of <span class="keyword">PLACE</span> that connect people to a particular location,
            for example, a school, a downtown, a workplace, a particular recreation area.
          </li>
          <li>
            <span class="keyword">ACTION</span> photos that tell a story, or are perhaps funny, or tragic,
            or involve a situation that people might identify with, like a political rally, or a certain kind of motorbike.
          </li>
          <li>
            Photos that communicate a particular <span class="keyword">CULTURAL PRACTICE</span>. We are excited to
            see different cultural practices across multiple Fortepan archives. 
          </li>
          <li>
            Photos of <span class="keyword">HISTORICAL SIGNIFICANCE</span>. We are interested in any recognizable
            historical moment, and are especially curious about images taken from the unique perspective of an
            amateur photographer. 
          </li>
          <li>
            <span class="keyword">IMAGES THAT CAPTIVATE</span>. This is a catch-all category for those photos
            that hold magic--a personally touching detail or some kind of accidental framing, a special balance
            between dark and light, a particular human expression, the magnetic pull of two or more objects
            in a frame, the isolation, in a compelling way, of a particular thing or person--that elevates
            an everyday photograph into a piece of art. Very often these photos are unintentionally magical.
            We are not going to lie...it’s the accidentally magical images in Fortepan Iowa that give us
            the most pleasure. They keep the Fortepan archives surprising and lyrical.  
          </li>
          <li>
            Finally, we have a special love for photographs with people <span class="keyword">IN THE ACT</span> of taking a photograph.
          </li>
        </ul>
        <ul>
          Fortepan Iowa does not include:
          <li>Copies of photographs, such as newspaper clippings or scanned prints of the original.</li>
          <li>Photos that are out of focus (unless they are, for example, out of focus in a way that is visually compelling).</li>
          <li>Photos that are overly banal or posed (although some posed photographs can be very special!).</li>
          <li>Photos that are especially violent, horrifying, or upsetting. Even though these types of activities are part of history, they are not part of the past we choose to preserve.</li>
        </ul>
        <p>
          Because Fortepan Iowa is geographically based, we feature photographs from every corner of the state.
          The archive also contains images beyond Iowa, because we are interested in where Iowans travel,
          whether it’s for vacation, work, or service, or visiting  extended families. We are also interested in
          how (and from where) Iowans became Iowans, and where they go once they leave. Our lives are comprised
          of interconnected networks that span geographical space and time. Capturing how we make community
          is part of this project.
        </p>
        <h3>Our Donation Process</h3>
        <p>There are two parts of our donation process, Scanning and Gifting.</p>
        <h3>Scanning</h3>
        <p>
          Volunteers can scan entire family collections up to 1,000 images.
          We have the capacity to scan print photographs (any size), 35mm slides, and large
          format photo transparencies, including glass slides. We heavily prize positive
          and negative transparencies because they generate the highest quality digital
          photos, and they are the most likely to be thrown away.
        </p>
        <ol>
          When we accept your images to scan, you need to:
          <li>Clearly mark the box or envelope with your address.</li>
          <li> Document what you have placed in the box using our <a href="https://drive.google.com/file/d/1FlHgHcn1JkXxr86KKfJx_j6hlfN9WAk8/view?usp=sharing">RECEIPT OF COLLECTION</a> form.</li>
          <li>Sign this <a href="https://drive.google.com/file/d/1pAZVkMCJYfqCfU_kIeKRmkR421te3pSO/view?usp=sharing">PERMISSION TO SCAN</a> form.</li>
          <li>
            Tell us how you’d like to receive the digital images: through
            <ol>
              <li>Google Drive</li>
              <li>WeTransfer or</li>
              <li>External USB drive--we request that it’s larger than 8 GB, and that you supply it in the box with your images-to-be-scanned.</li>
            </ol>
          </li>
          <li>Add any specific directions you may have about the photographs or the albums that contain them.</li>
        </ol>
        <p>
          We will count all images before we scan them, and make sure we return every image back to you.
          We are also able to scan photos adhered to the pages of a photo album without having to remove the photos.
        </p>
        <p>
          Our volunteers are exceedingly careful with collections and follow a scanning protocol that generates
          images with 1300 ppi and an approximately 7,000 x 10,000 pixel ratio. Depending on the size of your
          collection, we could be finished scanning it within a day or a few months. Our volunteer scanning
          efforts are completely free.
        </p>
        <h3>Gifting</h3>
        <p>
            Fortepan Iowa is entirely based on the ethic of sharing. Our project is part of a growing global
            movement called the <a href="https://creativecommons.org/">Creative Commons</a>, which has, through a nonprofit organization, developed a
            set of licenses that are layered on top of copyright to help people determine the conditions on
            which their work can be used. Because we aim to encourage sharing and engagement with the
            collection for the greater good, we have chosen the liberal “Creative Commons Attribution-ShareAlike”
            license, abbreviated CC-BY-SA,  for every Fortepan Iowa image. CC-BY-SA is one of six available
            licenses under the Creative Commons: it ensures every donor gets credit, and that each image will
            always remain “free.”
        </p>
        <p>
          The DEED OF GIFT we ask you to sign is for the <i>digital rights</i> (and the digital rights only)
          to the photos in your collection that <i>we digitize and select for upload</i>. This gift does not apply
          to the original photographs. It also doesn’t apply to any other scanned version(s) of your photograph.
        </p>
        <ol>
          Before gifting selected images in your collection to Fortepan Iowa, please:
          <li>
            Read the “<a href="https://drive.google.com/file/d/1RPrMAkpd9CyL8mz1_ImPTLUVuJAkEHt7/view?usp=sharing">DEED of GIFT</a>” form, which conveys that you will donate
            <i>only the digitized images that we select to upload to Fortepan Iowa</i>, and explains how each Fortepan Iowa
            image is assigned a <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-Share Alike 4.0</a> license. 
          </li>
          <li>
            <p>
              Become familiar with the <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-Share Alike 4.0</a> license.
              Here is a <a href="https://creativecommons.org/licenses/by-sa/4.0/">shorthand description of the license, or “License Deed.”</a>
              Here is the lengthier <a href="https://creativecommons.org/licenses/by-sa/4.0/legalcode">Legal Code</a>.
              Under this license, every image uploaded to Fortepan Iowa is made available for others to use in
              creative and thoughtful ways. For example, a student might choose a Fortepan Iowa photo for a school
              project; a publisher might print a Fortepan Iowa on a book cover; an artist might create something
              beautiful or provocative through a Fortepan Iowa photo collage; or a bank or library might exhibit
              a historical Fortepan Iowa image in their entryway.
              The ethic behind Fortepan Iowa is that the images are free for everyone to use, that your history is
              important to--and part of--Iowa History, and that our collective history is all the richer when we 
              include stories and images of everyday life.
            </p>
            <p>
              If anyone makes use of a photograph you donate to Fortepan Iowa, they will attribute you as the donor
              of the image, and provide a link or URL to the original image in the archive. If anyone adapts a photo
              from your collection, they are required, under CC-BY-SA, to license the new adapted work under the same
              license, ensuring that the photograph will always remain “free,” and that you will always be attributed.
            </p>
          </li>
          <li>
            <p>
              Fill out the <b>spreadsheet</b> we enclose with your digital scans. When we finish scanning,
              we will send you a spreadsheet listing all the images we have selected to upload to Fortepan Iowa.
              Please provide as much data as you can (or want to) on each photo: Dates, location (as precise as possible),
              photographer, names (if you wish), and any other comments you think are valuable to share.
            </p>
            <p>
              Photographer: Please note that we’d like to know, if possible, who took the photo of each image donated
              to Fortepan Iowa. Photographer’s rights, broadly covered under “<b>similar rights</b>,” include the
              <i>>rights of the photographer who took the original image</i>. We request that you make every effort to
              <b>determine the photographer behind the image</b> so we can credit that person in the spreadsheet
              column “Photographer.” If that person is still living, <b>please obtain their permission</b> to donate the
              photo they took to Fortepan Iowa.
            </p>
            <p>
              People in the photos: It is your responsibility to verify that anyone still living who appears in
              the photos selected for Fortepan Iowa has given you consent to share the image publicly.
              The CC-BY-SA license does not cover <b>privacy rights</b>. It is, however, ethically consistent
              with Fortepan Iowa that donors confirm, with those portrayed in the archive’s photos, their full approval.
            </p>
            <p>
              NOTE: <b>Moral rights</b> are generally covered by CC-BY-SA’s attribution clause. According to the
              <a href="https://certificates.creativecommons.org/cccertedu/chapter/2-1-copyright-basics/">Creative Commons</a>,
              “The two most common types of moral rights are the <b>right to be recognized as the author of the work</b>
              (known traditionally as the “right of paternity”), and the <b>right to protect the work’s integrity</b>
              (generally, the right to object to distortion of or the introduction of undesired changes to the work).”<a href="https://certificates.creativecommons.org/cccertedu/chapter/2-1-copyright-basics/"><sup>1</sup></a>
              All CC licenses preserve <u>moral rights</u> to the extent they exist.<a href="https://creativecommons.org/faq/#What_are_moral_rights"><sup>2</sup></a>
            </p>
          </li>
        </ol>
        <h3>Family Collections</h3>
        <p>
          When you donate the digital scans we generate from your family’s collection to Fortepan Iowa,
          you are sharing and combining your family’s history with the larger collective history of Iowa.
        </p>
        <h3>Other Collections</h3>
        <p>
          If you manage a collection within a library, historical society, museum, or archive,
          we will happily accept any collection that has been already scanned, provided that
          the images are of high enough resolution. We will also help you scan your collection.
        </p>
        <p>
          From our experience, Fortepan Iowa’s ability to foster engagement with photographs
          and collections in turn draws more name recognition and interest in the hosting library,
          museum, or archive.  We look forward to working with you, and helping you publicize
          the important work you do.
        </p>
        <p style="font-size: 10px; margin-top: 40px;">FI0000946, 1910, IA donated by Pearl Scherrman; FI0000614, 1910, Hamilton County, IA, donated by Leonard Curtis; FI0001017, 1930, IA, donated by Pam Boehm. All images licensed CC-BY-SA 4.0.</p>
      </section>
     
      <h6>
        This document was created by Bettina Fabos and is licensed under a <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
      </h6>
    </main>
{% endblock %}
