{% load static %}

{% load widgets %}
{% load docnav %}
{% load gtm_tags %}
{% for list_item in pages %}
    <li{% if list_item.is_active %} class='active' active{% endif %}><a href="{% url list_item.view_name %}">{{ list_item.text }}</a></li>
{% endfor %}
{% comment %}
    <div class="mobile-visible">
    {% view_buttons timeline_url timeline_json_url grid_url grid_json_url %}
    </div>
    <div class="new-label_container"><a href="{% url "search-results" %}?query=is_new%3Atrue"><img class="new-label" src="{% static "assets/images/new.svg" %}"></a></div>
{% endcomment %}
    
