{% extends "archive/base.html" %}
{% load widgets %}

{% block content %}
    <a href="{{ object.get_absolute_url }}">Back</a>
    <p>
    <a href="{{ object.original.url }}" download="{{ object.accession_number }}.jpg">Download</a>
    <p>
    “{{ object.accession_number }},” {{ object.location }}, {{ object.year }} by {{ object.donor }}/Fortepan Iowa, “{{ host_uri }}{{ citation_url }},” <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>
    <p>
    <img src="{{ object.original.url }}" />
{% endblock %}
