{% load static %}
{% load login %}
{% load searchform %}
{% load widgets %}
{% load docnav %}
{% load gtm_tags %}
<style>@import "{% static "assets/dist/css/index.css" %}";
* {
    --fp-main-font: 'Montserrat', sans-serif;
    --fp-secondary-ticker-color: #9d9d9c;
    --fp-main-grey: #d6d6da;
    --fp-main-grey-translucent: rgba(214, 214, 218, 0.95);
    --fp-light-grey: #efeff1;
    --fp-light-grey-translucent: rgba(239, 239, 241, 0.9);
    --fp-main-blue: #c2a55e;
}
</style>
<div id="kfroot" hx-headers="{{ hxheaders | escape }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
<center>
<div class="main-nav_center embed-nav">

  <div>
    <a class="fpi-fpilink" href="{{ timeline_url }}"><img  src="{% static "assets/images/01-fi-logo.svg" %}" alt="Fortepan Iowa icon" title="Fortepan Iowa"></a>
    </div>





{% load krono_urls %}

<div class="timeline-container {{timelineclass}}" id="timeline-container">
  {% if photo %}
  <a class="fi-timeline-a" href="{% object_url photo url_kwargs get_params %}" hx-get="{% object_url photo url_kwargs get_params %}" hx-target="#app"><img class="timeline-icon" src="{% static "assets/images/timeline.svg" %}" alt="Timeline icon" title="Timeline View"></a>
  {% else %}
  <a class="fi-timeline-a" href="#" hx-get="#" hx-target="#app"><img class="timeline-icon" src="{% static "assets/images/timeline.svg" %}" alt="Timeline icon" title="Timeline View"></a>
  {% endif %}
</div>

<div class="grid-icon {{gridclass}}" id="grid-icon">
  {% if photo %}
  <a class="grid-a" href="{% grid_url photo url_kwargs get_params %}" hx-get="{% grid_url photo url_kwargs get_params %}" hx-target="#app">
    <img class="grid-icon_reg" src="{% static "assets/images/04b-grid.svg" %}" alt="Grid icon" title="Grid View">
  </a>
  {% else %}
  <a class="grid-a" href="{% krono_url "kronofoto:gridview" url_kwargs %}" hx-get="{% krono_url "kronofoto:gridview" url_kwargs %}" hx-target="#app">
    <img class="grid-icon_reg" src="{% static "assets/images/04b-grid.svg" %}" alt="Grid icon" title="Grid View">
  </a>
  {% endif %}
</div>


</div>
</center>
  <div id="app">
      {% block content %}
      {% endblock %}
  </div>
</div>
