{% load static %}
{% load login %}
{% load searchform %}
{% load widgets %}
{% load docnav %}
{% load gtm_tags %}

<head>
    <link rel="stylesheet" href="{% static "assets/dist/css/index.css" %}?version={{ CSS_VERSION }}">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
    <style>
    * {
        --fp-main-font: 'Montserrat', sans-serif;
        --fp-secondary-ticker-color: #9d9d9c;
        --fp-main-grey: #d6d6da;
        --fp-main-grey-translucent: rgba(214, 214, 218, 0.95);
        --fp-light-grey: #efeff1;
        --fp-light-grey-translucent: rgba(239, 239, 241, 0.9);
        --fp-main-blue: {{ theme.color }};
        --fp-main-color: {{ theme.color }};
        --fp-main-color-lighter: {{ theme.colorLighter }};
        --fp-main-color-darker: {{ theme.colorDarker }};
    }
    </style>
</head>

<div id="kfroot" data-toggler=".zoom-opened" hx-headers="{{ hxheaders | escape }}" theme="{{ theme.name }}" template="gallery">

{% load krono_urls %}

    {% block header %}
    <header>
        <nav aria-label="Main navigation">
            <div class="main-nav">
                <div class="main-nav__left">
                    <div id="logo">


                        <a href="{% krono_url "kronofoto:random-image" %}">
                        <img class="logo-img show-for-large" src="{{ theme.logo }}" alt="Fortepan Logo">
                        <img class="logo-img hide-for-large" src="{{ theme.logosmall }}" alt="Fortepan Logo">
                        </a>

                    </div>

                </div> <!-- end nav left -->

                <div class="main-nav__center">
                    <h1 class="main-nav__title">Fortepan Images</h1>
                </div>
                <!-- end nav center -->

                <div class="main-nav__right">

                    <div class="view-buttons" data-view-buttons-target>
                        {% block viewbuttons %}
                        {% include "archive/view-buttons.html" %}
                        {% endblock %}
                    </div>
                    <div id="new-label_container" class="new-label_container show-for-medium" data-tooltip title="New" data-position="bottom" data-alignment="center">
                        <a href="{% krono_url "kronofoto:gridview" url_kwargs %}?query=is_new%3Atrue">
                        <i class="icon new-icon"></i>
                        </a>
                    </div>

                    <div class="hamburger-container">
                        <button class="hamburger hamburger--squeeze" type="button" data-toggler="is-active" data-toggle="hamburger-button hamburger-menu" id="hamburger-button">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                        </button>

                        <div class="hamburger-menu collapse" id="hamburger-menu" data-toggler="collapse">

                            <ul class="navigation-menu">
                                {% include "archive/navigation-menu.html"%}
                            </ul>
                            <!-- <li><a href="https://fortepan.hu">Fortepan (Hungary)</a></li>
                            <li><a href="https://fortepan.us/info">Fortepan Concept</a></li>
                            <li><a href="mailto:fortepaniowa@uni.edu">Contact</a></li> -->
                        </div>

                    </div>


                </div> <!-- end nav right -->

            </div>
        </nav>
    </header>
    {% endblock header %}
  <div id="app">
      {% block content %}
      {% endblock %}
  </div>
</div>
