<!DOCTYPE html>
{% load static %}
{% load widgets %}
{% load krono_urls %}
{% load header %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fortepan Exhibit</title>
    <link rel="stylesheet" href="https://use.typekit.net/kol0uny.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="{% static "assets/dist/css/exhibit.css" %}" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="https://fortepan.us/static/assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://fortepan.us/static/assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://fortepan.us/static/assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="https://fortepan.us/static/assets/favicon/site.webmanifest">
	<link rel="mask-icon" href="https://fortepan.us/static/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="https://fortepan.us/static/assets/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="https://fortepan.us/static/assets/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, target-densityDpi=device-dpi, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="{% static "assets/dist/js/main.js" %}"></script>
    <script type="module">

      const siteWrapper = document.querySelector('.site-wrapper');

      // Function to update the --vh custom property
      const updateVH = () => {
        if (siteWrapper) {
          let vh = window.innerHeight / 100;
          siteWrapper.style.setProperty('--vh', `${vh}px`);
        }
      }

      // Scroll event handler for dynamically fading content
      const updateScrollOpacity = () => {

        let elements = document.querySelectorAll('.scroll-opacity, .two-column__content');
        elements.forEach((element) => {
          const viewportHeight = window.innerHeight;
          const elementTop = element.getBoundingClientRect().top;
          const distanceFromBottom = viewportHeight - elementTop;
          const percentageFromBottom = (distanceFromBottom / viewportHeight) * 100;
          const start = 30;
          const end = 50;
          const opacity = (percentageFromBottom - start) * (100/(end - start));
          element.style.opacity = opacity / 100;
        });

        elements = document.querySelectorAll('.scroll-opacity, .two-column__content');
        elements.forEach((element) => {
          const viewportHeight = window.innerHeight;
          const elementTop = element.getBoundingClientRect().top;
          const distanceFromBottom = viewportHeight - elementTop;
          const percentageFromBottom = (distanceFromBottom / viewportHeight) * 100;
          const start = 30;
          const end = 50;
          const opacity = (percentageFromBottom - start) * (100/(end - start));
          element.style.opacity = opacity / 100;
        });

        elements = document.querySelectorAll('.hero__title');
        elements.forEach((element) => {
          const viewportHeight = window.innerHeight;
          const elementTop = element.getBoundingClientRect().top;
          const distanceFromBottom = viewportHeight - elementTop;
          const percentageFromBottom = (distanceFromBottom / viewportHeight) * 100;
          const start = 80;
          const end = 100;
          const opacity = 100 - (percentageFromBottom - start) * (100/(end - start));
          element.style.opacity = opacity / 100;
        });

        elements = document.querySelectorAll('.hero__content');
        elements.forEach((element) => {
          const viewportHeight = window.innerHeight;
          const elementTop = element.getBoundingClientRect().top;
          const distanceFromBottom = viewportHeight - elementTop;
          const percentageFromBottom = (distanceFromBottom / viewportHeight) * 100;
          const start = 50;
          const end = 80;
          const opacity = 100 - (percentageFromBottom - start) * (100/(end - start));
          element.style.opacity = opacity / 100;
        });
      }

      document.body.style.display = 'block';

      AOS.init({
        disable: 'mobile',
        once: true
      });

      // Add alt classes for two-column components
      const twoColumnComponents = document.querySelectorAll('.two-column');
      twoColumnComponents.forEach((component, i) => {
        if(!(i % 2)) {
          component.classList.add('two-column--alt');
        }
      });

      // Add event listeners
      window.addEventListener('scroll', updateScrollOpacity);
      window.addEventListener('resize', updateVH);
      window.addEventListener("kronofoto:exhibit:reorder", evt => {
        const elem = document.querySelector(evt.detail.id)
        const target = document.querySelector(evt.detail.target)
        target.insertAdjacentElement(evt.detail.swapStyle, elem)
      })

    </script>
    <style>
        :root {
            --fp-main-font: 'Montserrat', sans-serif;
            --fp-secondary-ticker-color: #9d9d9c;
            --fp-main-grey: #d6d6da;
            --fp-main-grey-translucent: rgba(214, 214, 218, 0.95);
            --fp-light-grey: #efeff1;
            --fp-light-grey-translucent: rgba(239, 239, 241, 0.9);
            --fp-main-blue: {{ theme.color }};
        --fp-main-color: {{ theme.color }};
        --fp-main-color-lighter: {{ theme.colorLighter }};
        --fp-main-color-darker: {{ theme.colorDarker }};
        }
    </style>
</head>
<body>

    {% page_editor_header %}

    <form method="post">
        {% csrf_token %}

        <div class="page-editor">
            <div class="page-editor__page-wrapper">

                <div class="site-wrapper">

                    <header class="header">
                        <div class="header__logo">
                        </div>
                        <div class="header__title" contenteditable="true" role="textbox" data-target="name">
                            {{ exhibit.name }}
                        </div>
                    </header>

                    <div class="hero">
                        <div class="hero__content-wrapper" >
                            <div class="hero__title">
                                <h1 contenteditable="true" role="textbox" data-target="title">{{ exhibit.title }}</h1>
                            </div>
                            <div class="hero__content" contenteditable="true" role="textbox" data-target="description">
                                {{ exhibit.description | linebreaks }}
                            </div>
                        </div>
                        <div class="hero__background">
                            <img src="{% image_url id=exhibit.photo.id path=exhibit.photo.original.name width=2000 %}">
                        </div>

                        <div class="hero__info-button info-button info-button--bottom">
                            <span class="info-button__icon"></span>
                            <div class="info-button__text">{% include "archive/snippets/attribution.html" with object=exhibit.photo %}</div>
                        </div>
                    </div>

                    <div class="hide">
                    {{ form }}
                    </div>

                    {% for card in cards %}
                    {% include card.template with card=card.card zindex=card.zindex edit=True form=card.form exhibit=exhibit %}
                    {% endfor %}

                </div>

            </div>
            <div class="page-editor__toolbar toolbar">
                <div class="toolbar__section">
                    <button type="submit" name="save" value="Save" class="button toolbar__button">Publish</button>
                    <button class="toolbar__button--icon toolbar__button--small"><i class="icon--link"></i></button>
                    <button class="toolbar__button--icon toolbar__button--small"><i class="icon--preview"></i></button>
                    <button class="toolbar__button--icon toolbar__button--small"><i class="icon--undo-arrow"></i></button>
                    <button class="toolbar__button--icon toolbar__button--small"><i class="icon--redo-arrow"></i></button>
                </div>
                <div class="toolbar__section">
                    <label class="toolbar__label">Content blocks</label>
                    <button class="toolbar__button--icon" hx-target=".site-wrapper" hx-swap="beforeend" hx-get="{% krono_url "kronofoto:exhibit-card-form" pk=exhibit.id card_type="text" %}"><i class="icon--add-text">Text Card</i></button>
                    <button class="toolbar__button--icon" hx-target=".site-wrapper" hx-swap="beforeend" hx-get="{% krono_url "kronofoto:exhibit-card-form" pk=exhibit.id card_type="text" %}?count=1"><i class="icon--add-text-image">Photo Card</i></button>
                    <button class="toolbar__button--icon"><i class="icon--add-text-image-2"></i></button>
                    <button class="toolbar__button--icon"><i class="icon--add-text-image-3"></i></button>
                    <button class="toolbar__button--icon"><i class="icon--add-image-left"></i></button>
                    <button class="toolbar__button--icon"><i class="icon--add-image-right"></i></button>
                    <button class="toolbar__button--icon"><i class="icon--add-image-full"></i></button>

                </div>

            </div>
        </div>
    </form>
    <div class="reveal tiny" id="add-image-modal" data-reveal>
    </div>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

</body>
</html>
