<!DOCTYPE html>
{% load static %}
{% load widgets %}
{% load krono_urls %}
{% load header %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fortepan Exhibit</title>
    <link rel="stylesheet" href="https://use.typekit.net/kol0uny.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link href="{% static "assets/dist/css/exhibit.css" %}" rel="stylesheet">
	<link rel="apple-touch-icon" sizes="180x180" href="https://fortepan.us/static/assets/favicon/apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="https://fortepan.us/static/assets/favicon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="https://fortepan.us/static/assets/favicon/favicon-16x16.png">
	<link rel="manifest" href="https://fortepan.us/static/assets/favicon/site.webmanifest">
	<link rel="mask-icon" href="https://fortepan.us/static/assets/favicon/safari-pinned-tab.svg" color="#5bbad5">
	<link rel="shortcut icon" href="https://fortepan.us/static/assets/favicon/favicon.ico">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="msapplication-config" content="https://fortepan.us/static/assets/favicon/browserconfig.xml">
	<meta name="theme-color" content="#ffffff">
    <meta name="viewport" content="width=device-width, target-densityDpi=device-dpi, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script src="{% static "assets/dist/js/main.js" %}"></script>
    <style>
        :root {
            --fp-main-font: 'Montserrat', sans-serif;
            --fp-secondary-ticker-color: #9d9d9c;
            --fp-main-grey: #d6d6da;
            --fp-main-grey-translucent: rgba(214, 214, 218, 0.95);
            --fp-light-grey: #efeff1;
            --fp-light-grey-translucent: rgba(239, 239, 241, 0.9);
            --fp-main-blue: {{ theme.color }};
        --fp-main-color: {{ theme.color }};
        --fp-main-color-lighter: {{ theme.colorLighter }};
        --fp-main-color-darker: {{ theme.colorDarker }};
        }
    </style>
</head>
<body>

    {% page_editor_header %}

    <form method="post">
        {% csrf_token %}

        <div class="page-editor">
            <div class="page-editor__page-wrapper">
                {% include "archive/components/exhibit/edit_sitewrapper.html" %}
                {% include "archive/components/exhibit/credits.html" %}
            </div>
            <div class="page-editor__toolbar toolbar">
<!--                 <div class="toolbar__section">-->
<!--                    <button data-form-target="" type="submit" name="save" value="Save" class="button toolbar__button">Publish</button>-->
<!--                    <button data-form-target="" class="toolbar__button&#45;&#45;icon toolbar__button&#45;&#45;small"><i class="icon&#45;&#45;link"></i></button>-->
<!--                    <button data-form-target="_blank" name="preview" class="toolbar__button&#45;&#45;icon toolbar__button&#45;&#45;small"><i class="icon&#45;&#45;preview"></i></button>-->
<!--                    <button data-form-target="" class="toolbar__button&#45;&#45;icon toolbar__button&#45;&#45;small"><i class="icon&#45;&#45;undo-arrow"></i></button>-->
<!--                    <button data-form-target="" class="toolbar__button&#45;&#45;icon toolbar__button&#45;&#45;small"><i class="icon&#45;&#45;redo-arrow"></i></button>-->
<!--                </div>-->
                <div class="toolbar__section">
                    <label class="toolbar__label">Content blocks</label>
                    <button class="toolbar__button--icon" hx-target=".site-wrapper" hx-swap="beforeend show:bottom" hx-get="{% krono_url "kronofoto:exhibit-card-form" pk=exhibit.id card_type="text" %}"><i class="icon--add-text">Text Card</i></button>
                    <button class="toolbar__button--icon" hx-target=".site-wrapper" hx-swap="beforeend show:bottom" hx-get="{% krono_url "kronofoto:exhibit-card-form" pk=exhibit.id card_type="text" %}?count=1"><i class="icon--add-text-image">Photo Card</i></button>
                    <button class="toolbar__button--icon" hx-target=".site-wrapper" hx-swap="beforeend show:bottom" hx-get="{% krono_url "kronofoto:exhibit-card-form" pk=exhibit.id card_type="text" %}?count=2"><i class="icon--add-text-image-2"></i></button>
                    <button class="toolbar__button--icon" hx-target=".site-wrapper" hx-swap="beforeend show:bottom" hx-get="{% krono_url "kronofoto:exhibit-card-form" pk=exhibit.id card_type="text" %}?count=3"><i class="icon--add-text-image-3"></i></button>
                    <button class="toolbar__button--icon" hx-target=".site-wrapper" hx-swap="beforeend show:bottom" hx-get="{% krono_url "kronofoto:exhibit-card-form" pk=exhibit.id card_type="photo" %}?align=2"><i class="icon--add-image-left"></i></button>
                    <button class="toolbar__button--icon" hx-target=".site-wrapper" hx-swap="beforeend show:bottom" hx-get="{% krono_url "kronofoto:exhibit-card-form" pk=exhibit.id card_type="photo" %}?align=3"><i class="icon--add-image-right"></i></button>
                    <button class="toolbar__button--icon" hx-target=".site-wrapper" hx-swap="beforeend show:bottom" hx-get="{% krono_url "kronofoto:exhibit-card-form" pk=exhibit.id card_type="photo" %}?align=1"><i class="icon--add-image-full"></i></button>

                </div>

            </div>
        </div>
    </form>
    <div class="reveal tiny" id="add-image-modal" data-reveal>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</body>
</html>
