{% load widgets %}
{% if embed %}
<center>
<div class="main-nav_center">
    {% view_buttons timeline_url timeline_json_url grid_url grid_json_url %}
    <div>
    {{ collection_name }}
    </div>
    <div>
    {% if collection_name != "All Photos" %}
        <a data-json-href="{% url "search-results-json" %}" href="#">Back to All Photos</a>
    {% endif %}
    </div>
    <div>
    <a class="fpi-fpilink" href="{{ timeline_url }}">Fortepan</a>
    </div>
</div>
</center>
{% endif %}
{% if noresults %}
    <h3>Whoops! No photos match your query: {{ query_expr }}</h3>
    <img style="width:50%" src="{% absolutify oops_photo.h700.url %}" alt="{{ tags }}">
{% else %}
<div class="grid-navigation">
    {% if not embed %}
    <h2>{{ collection_name }}</h2>
    {% endif %}
    {% page_links formatter page_obj %}
</div>

{% grid page_obj %}

<div class="grid-navigation">
    {% page_links formatter page_obj %}
</div>
{% endif %}
