{% load widgets %}
{% if embed %}
<center>
<div class="main-nav_center">
    {% view_buttons timeline_url timeline_json_url grid_url grid_json_url %}
    <div>
    {{ collection_name }}
    </div>
    <div>
    {% if collection_name != "All Photos" %}
        <a data-json-href="{% url "search-results-json" %}" href="#">Back to All Photos</a>
    {% endif %}
    </div>
    <div>
    <a class="fpi-fpilink" href="{{ timeline_url }}">Fortepan</a>
    </div>
</div>
</center>
{% endif %}
{% if noresults %}
    <div class="container-center add_tag-container">
        <p style="width:50%">
            <strong>Whoops! No photos match your query: {{ query_expr }}</strong>
        </p>
        <img style="width:50%" src="{{ oops_photo.h700.url }}" alt="{{ tags }}">
    </div>
{% else %}
<div id="grid-top" class="grid-navigation">
    {% if not embed %}
    <h2>{{ collection_name }}</h2>
    {% endif %}
    {% page_links formatter page_obj %}
</div>

{% grid page_obj %}

<div id="grid-bottom" class="grid-navigation">
    {% page_links formatter page_obj "grid-top" %}
</div>
{% endif %}
