{% load static %}
@import "{% static "assets/css/kronofoto.css" %}";
/*Only need a few things from index for embeds, so should add them to kronofoto.css and remove index import later*/
@import "{% static "assets/css/index.css" %}";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");

:root {
    --fp-main-font: 'Montserrat', sans-serif;
    --fp-secondary-ticker-color: #9d9d9c;
    --fp-main-grey: #d6d6da;
    --fp-main-grey-translucent: rgba(214, 214, 218, 0.95);
    --fp-light-grey: #efeff1;
    --fp-light-grey-translucent: rgba(239, 239, 241, 0.9);
    --fp-main-blue: #c2a55e;
}

#{{ id }} {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fp-main-font);
  /*display: grid;*/
  height: 100vh;
  grid-template-rows: minmax(min-content, 0fr) auto;
  max-width: 2100px;
  margin: 0 auto;
  overflow-x: hidden;
}

#{{ id }} a {
  color: var(--fp-main-blue);
  text-decoration: none;
}

/******************
 ** HEADER / NAV **
 ******************/

#{{ id }} header {
  max-height: 200px;
  grid-row: 1 / span 1;
  padding: 15px;
}

#{{ id }} nav {
  display: flex;
}


#{{ id }} nav ul {
  display: flex;
  display: -webkit-flex;
  align-self: center;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

#{{ id }} nav ul li {
  list-style: none;
  text-transform: uppercase;
}

#{{ id }} header nav div img {
  width: 30px;
}

#{{ id }} input[type="submit"] {
  background-color: var(--fp-main-blue);
  color: white;
}
#{{ id }} input[type="email"], 
#{{ id }} input[type="number"], 
#{{ id }} input[type="search"], 
#{{ id }} input[type="text"], 
#{{ id }} input[type="tel"], 
#{{ id }} input[type="url"], 
#{{ id }} input[type="password"], 
#{{ id }} textarea, 
#{{ id }} select {
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  height: 34px;
  padding: 4px 8px;
  background-color: var(--fp-light-grey);
  color: #333;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
}

#{{ id }} input[type=number]::-webkit-inner-spin-button, 
#{{ id }} input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

#{{ id }} select::-ms-expand {
  display: none;
}

#{{ id }} select {
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") var(--fp-light-grey) no-repeat 98.5% !important; /* !important used for overriding all other customisations */
}
#{{ id }} main {
  grid-row: 2 / span 1;
  display: grid;
  /* grid-template-rows: minmax(500px, 1fr) minmax(min-content, 190px); */
  grid-template-rows: 1fr auto auto;
  flex-direction: column;
}
#{{ id }} main article {
  grid-row: 1 / span 1;
}
#{{ id }} main nav {
  grid-row: 2 / span 1;
  height: 100%;
}
