{% if user.is_authenticated %}
<a href="{% url "kronofoto:user-page" user.username %}" title="Account">
    <i class="icon user-icon"></i>
</a>
{% else %}
<button id="login-btn" data-toggle="login">
    <i class="icon lock-icon"></i>
</button>
<div id="login" class="collapse" data-toggler="collapse">
    <div class="wrapper">
        <form method="post" action="{% url "login"%}?next={{request.get_full_path | urlencode}}">
            {% csrf_token %}
            Email
            {{ form.username }}
            {{ form.password.label_tag }}
            {{ form.password }}

            <input type="submit" value="login">
        </form>
        {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
        {% endif %}

        <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
        <p><a href="{% url 'register-account' %}">Need an account?</a></p>
    </div>
</div>

{% endif %}
