{% if user.is_authenticated %}
<a href="{% url "kronofoto:user-page" user.username %}">
    <i class="icon lock-icon" title="Account"></i>
</a>
{% else %}
<button id="login-btn" onclick="toggleLogin()">
    <i class="fas fa-lock"></i> <div style="float:right; margin-left:.5em" class="mobile-hidden">Login</div>
</button>
<div id="login" class="hidden">
    <form method="post" action="{% url "login"%}?next={{request.get_full_path | urlencode}}">
        {% csrf_token %}
        Email
        {{ form.username }}
        {{ form.password.label_tag }}
        {{ form.password }}

        <input type="submit" value="login">
    </form>
    {% if form.errors %}
    <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    <p><a href="{% url 'register-account' %}">Need an account?</a></p>
</div>

{% endif %}
