{% extends base_template %}

{% load widgets %}
{% load krono_urls %}
{% load geojson_tags %}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<form hx-trigger="kronofoto:bounds_changed" hx-get="{% krono_url "kronofoto:map" url_kwargs %}" hx-target="#fi-map-result">
{% for field in form %}
    {{ field.as_hidden }}
{% endfor %}
<div data-map 
    data-west="{{ bounds.west }}" 
    data-south="{{ bounds.south }}" 
    data-east="{{ bounds.east }}" 
    data-north="{{ bounds.north }}" 
    style="width:100%; height:30vh;"></div>
</form>

<main class="container-center" id="fi-map-result">
<figure id="fi-map-figure">
    <img id="fi-image-tag" src="{{ photo.h700.url }}" alt="{{ photo|describe:request.user|join:", " }}" />
</figure>
<ul class="photo-grid" id="photo-grid">
    {% for photo in photos %}
    <li><a href="{% krono_url "kronofoto:map-detail" url_kwargs photo=photo.id %}{% krono_params get_params %}" hx-target="#fi-map-figure" hx-get="{% krono_url "kronofoto:map-detail" url_kwargs photo=photo.id %}{% krono_params get_params %}"><img src="{% image_url path=photo.original.name id=photo.id width=500 height=500 %}" height="500" width="500" /></a></li>
    {% endfor %}
</ul>
</main>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script>
    const mapelem = document.querySelector('[data-map]')
    const bounds = L.latLngBounds(
        L.latLng(mapelem.getAttribute("data-south"), mapelem.getAttribute("data-west")),
        L.latLng(mapelem.getAttribute("data-north"), mapelem.getAttribute("data-east")),
    )
    const map = L.map(document.querySelector('[data-map]'))
    var OpenStreetMap_Mapnik = L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map)
    const points = L.geoJson({{ photos|geojsonfeature:":location_point"|safe}}).addTo(map)
    map.fitBounds(bounds)
    map.on("moveend", (evt) => {
        const bounds = evt.target.getBounds()
        const w = bounds.getWest()
        const e = bounds.getEast()
        const n = bounds.getNorth()
        const s = bounds.getSouth()
        const form = mapelem.closest("form")
        form.querySelector("[name='bounds:west']").value = w
        form.querySelector("[name='bounds:east']").value = e
        form.querySelector("[name='bounds:north']").value = n
        form.querySelector("[name='bounds:south']").value = s
        mapelem.dispatchEvent(new Event("kronofoto:bounds_changed", {
            bubbles: true
        }))

    })
</script>
{% endblock %}
