<html>
<head><title>Missing Photos</title></head>
<body>
  <h1>Missing Photos</h1>
  <table>
    <tr>
      <td>Filename</td>
      <td>Donor first name</td>
      <td>Donor last name</td>
      <td>Year</td>
      <td>Circa?</td>
      <td>Scanner</td>
      <td>Photographer</td>
      <td>Address</td>
      <td>City</td>
      <td>County</td>
      <td>State</td>
      <td>Country</td>
      <td>Comments</td>
      <td>Added to archive</td>
    </tr>
    {% for record in object_list %}
    <tr> 
      <td>{{ record.filename }}</td>
      <td>{{ record.donorFirstName }}</td>
      <td>{{ record.donorLastName }}</td>
      <td>{{ record.year }}</td>
      <td>{{ record.circa }}</td>
      <td>{{ record.scanner }}</td>
      <td>{{ record.photographer }}</td>
      <td>{{ record.address }}</td>
      <td>{{ record.city }}</td>
      <td>{{ record.county }}</td>
      <td>{{ record.state }}</td>
      <td>{{ record.country }}</td>
      <td>{{ record.comments }}</td>
      <td>{{ record.added_to_archive | date:"Y-m-d" }}</td>
    </tr>
    {% endfor %}
  </table>
</body>
</html>
