{% load krono_urls %}
{% load static %}
<div hx-swap-oob="innerHTML:#navigation-menu">
  {% include "archive/navigation-menu.html" %}
</div>

<div hx-swap-oob="innerHTML:[data-timeline-target=sliderYearLabel]">
    {{ object.year }}
</div>

<div hx-swap-oob="delete:#timeline-container"></div>

<div hx-swap-oob="delete:#grid-icon"></div>

<div hx-swap-oob="beforeend:[data-view-buttons-target]">
    {% block viewbuttons %}
    {% endblock %}
</div>

<ul hx-swap-oob="outerHTML:#fi-preload-zone" id="fi-preload-zone" data-slide-id="{{ photo.id }}">
    {% include "archive/thumbnails.html" %}
</ul>

<div hx-swap-oob="innerHTML:#metadata-popup">
    {% block metadata %}
    {% endblock %}
</div>

<div hx-swap-oob="innerHTML:[data-fpi-fpilink]">
    {% block fpi_link %}
    <a class="fpi-fpilink" href="{{ timeline_url }}"><img src="{% static "assets/images/01-fi-logo.svg" %}" alt="Fortepan Iowa icon" title="Fortepan Iowa"></a>
    {% endblock %}
</div>

{% block left_arrow %}
{% endblock %}
{% block right_arrow %}
{% endblock %}
<div hx-swap-oob="innerHTML:[data-back-arrows]">
{% include "archive/components/photo-link/back-arrows.html" %}
</div>
<div hx-swap-oob="innerHTML:[data-forward-arrows]">
{% include "archive/components/photo-link/forward-arrows.html" %}
</div>

{% block image %}
{% endblock %}

<div hx-swap-oob="innerHTML:#zoom-popup">
    {% block zoom_popup %}
    {% endblock %}
</div>

{% block add_to_list %}
{% endblock %}

{% block download_popup %}
{% endblock %}

{% block share_popup %}
{% endblock %}
