{% extends base_template %}
{% load widgets %}
{% load krono_urls %}

{% block viewbuttons %}
{% include "archive/view-buttons.html" with gridclass="current-view" photo=page_obj.0 %}
{% endblock %}
{% block content %}
<div>
{% if noresults %}
    <div class="container-center add_tag-container">
        <p style="width:50%">
            <strong>Whoops! No photos match your query: {{ query_expr }}</strong>
        </p>
        <img style="width:50%" src="{{ oops_photo.h700.url }}" alt="{{ tags }}">
    </div>
{% else %}
<div id="grid-top" class="grid-navigation">
    <h2>{{ collection_name }}</h2>
    {% page_links formatter page_obj %}
</div>

<ul class="photo-grid">
    {% for photo in page_obj %}
    <li><a href="{% object_url photo url_kwargs get_params %}" hx-get="{% object_url photo url_kwargs get_params %}"><img src="{{ photo.h700.url }}"/></a></li>
    {% endfor %}
</ul>

<div id="grid-bottom" class="grid-navigation">
    {% page_links formatter page_obj "grid-top" %}
</div>
{% endif %}
</div>
{% endblock %}

