{% load static %}
{% load widgets %}
{% load krono_urls %}

{% if edit_url %} <a class="photo-menu-popup__edit-btn" href="{{ edit_url }}"></a>{% endif %}

<div class="row">
    <div class="columns large-4">
        <div>
            <h1><a href="#">{{ photo.location }}</a></h1>
        </div>

        <div>
            <h2><a href="#">{{ photo.year }}{% if photo.circa %}c{% endif %}</a></h2>
        </div>

        <div>
            <p>ID#: {{photo.accession_number}}</p>
            <p>Contributed by <strong><a hx-get="{% object_url photo.donor url_kwargs %}" href="{% object_url photo.donor url_kwargs %}">{{ photo.donor.display_format }}</a></strong></p>
        </div>

        <div class="text-small">
            {% if photo.photographer %}
            <p>Photographed by {{ photo.photographer }}</p>
            {% endif %}

            {% if photo.scanner %}
            <p>Digitized by {{ photo.scanner.display_format }}</p>
            {% endif %}
            <p>Added to the archive {{ photo.created | date:"DATE_FORMAT" }}</p>
        </div>

    </div>

    <div class="columns large-8">
        <div class="metadata-3a" hx-target="#app" hx-headers="{}" hx-swap="innerHTML">
            <h3>Tags:</h3>
            <div class="tags">
                {% if tags or photo.terms.exists %}
                <ul>
                    {% if tags %}
                    {% for tag in tags %}
                    <li><a href="{% object_url tag url_kwargs %}" hx-get="{% object_url tag url_kwargs %}">{{ tag }}</a></li>
                    {% endfor %}
                    {% endif %}
                    {% if photo.terms.exists %}
                    {% for term in photo.terms.all %}
                    <li><a hx-get="{% object_url term url_kwargs %}" href="{% object_url term url_kwargs %}">{{ term }}</a></li>
                    {% endfor %}
                    {% endif %}
                </ul>
                {% endif %}
                <p>
                    <form class="form form--add-tag" id="add-tag-form">
                        <div class="wrapper">
                            <a class="link--icon"><i class="fa fa-plus-circle"></i><span>Add new tag</span></a>
                            <input type="text" />
                            <button id="add-tag-button-in-metadata-popup"><i class="fa fa-plus-circle"></i></button>
                        </div>
<!--                        <a class="add-tag" href="{% krono_url "kronofoto:addtag" url_kwargs photo=photo.id %}">＋</a>-->
                    </form>
                </p>
            </div>



        </div>

        {% if photo.notices %}
        <div class="context-labels">
            <h3>Local Contexts:</h3>
            <div>
                {% for notice in photo.notices %}
                <img src="{{notice.svg_url}}" title="{{notice.name}} {{notice.default_text}}">
                {% endfor %}
            </div>
        </div>
        {% endif%}

        <div class="comments">
            <h3>Comments:</h3>
            <div class="indent comments">
                {{ photo.caption | markdown }}
            </div>
        </div>
    </div>
</div>
