{% extends "archive/base.html" %}
{% load static %}
{% load widgets %}

{% block content %}
<h2>{{ object.title }}</h2>
<div>{{ object.description | markdown }}</div>
{{ sphere_data | json_script:"photosphere-data" }}
<!-- script type="module">
const context = JSON.parse(document.querySelector('#sphere-data').textContent)
import PhotoSphere from "{% static "assets/js/photosphere.js" %}"
const container = document.querySelector('#photosphere')
const sphere = new PhotoSphere({element: container, sphere: context.sphere_image_url})
for (const photo of context.photos) {
    sphere.addPhoto(photo)
}
</script-->
<div data-photosphere-data="#photosphere-data" style="width: 100vw; height: 80vh">
</div>
{% endblock %}
