{% load static %}
{% load timeline %}
{% load thumbnails %}
{% load cache %}
{% load photometadata %}
{% load widgets %}
{% if embed %}
<center>
<div class="main-nav_center">
    {% view_buttons timeline_url timeline_json_url grid_url grid_json_url %}
    <div>
    {{ collection_name }}
    </div>
    {% if collection_name != "All Photos" %}
        <a data-json-href="{% url "search-results-json" %}" href="#">Back to All Photos</a>
    {% endif %}
    <div>
    <a class="fpi-fpilink" href="{{ photo.get_absolute_url }}">Fortepan</a>
    </div>
</div>
</center>
{% endif %}
  <main>
    <div class="click-content"></div>

    <article class="fi-image">
      <figure>
        <img src="{% absolutify photo.h700.url %}" alt="{{ tags }}">
      </figure>
      <a id="fi-arrow-left" class="control previous"
      {% if photo.previous %}
        href="{{ photo.previous.get_absolute_url }}"
        data-json-href="{{ photo.previous.get_json_url }}"
      {% endif %}
      ></a>
      <a id="fi-arrow-right" class="control forward"
      {% if photo.next %}
          href="{{ photo.next.get_absolute_url }}"
          data-json-href="{{ photo.next.get_json_url }}"
      {% endif %}
      ></a>
      <!--download="{{ photo.accession_number}}.jpg"-->
      <button id="dl"><a href="{% absolutify photo.original.url %}" target="_blank"><img class="meta-dl-icon" src="{% static "assets/images/skyblue/download.svg" %}"></a></button>
      <button id="expand" onclick="toggleVis()"><img class="meta-info-icon" src="{% static "assets/images/skyblue/info.svg" %}"></button>
      <div id="metadata" class="hidden">
      </div>
    </article>
    

    <nav class="fi-timeline">
      <div class="fi-thumbnail-carousel">
        <div class="back-arrows">

    <a id="backward" {% if page.has_previous %} data-json-href="{{ prev_page.0.get_json_url }}" href="{{ prev_page.0.get_absolute_url }}"{% endif %}>
        <img src="{% static "assets/images/double-back-arrow-black.png" %}" alt="arrows pointing back">
    </a>
        </div>
        <div class="slide-container">
        <ul id="fi-preload-zone">
        </ul>
        <ul id="fi-thumbnail-carousel-images">
        </ul>
        </div>
        <div class="forward-arrows">

    <a id="forward" {% if page.has_next %} href="{{ next_page.0.get_absolute_url }}" data-json-href="{{ next_page.0.get_json_url }}"{% endif %}>
      <img src="{% static "assets/images/double-back-arrow-black.png" %}" alt="arrows pointing forward">
    </a>
        </div>
      </div>

      
      
    </nav>
    <div class="year-ticker">
      <div class="active-year-marker" draggable="true">
        <div class="marker-image" style="background-image: url('{% static "assets/images/skyblue/toggle.svg" %}');">
          <span class="marker-year"></span>
        </div>
      </div>
      {% comment %}
      <div class="year-min">
        <img src="{% static "assets/images/single-back-arrow-black.png" %}" alt="arrow pointing back">
        {{ first_year }}
      </div>
      {% endcomment %}

    {% cache 300 timeline timeline_key %}
      {% make_timeline years %}
    {% endcache %}
      {% comment %}
      <div class="year-max">
        {{ last_year }}
        <img src="{% static "assets/images/single-back-arrow-black.png" %}" alt="arrow pointing forward">
      </div>
      {% endcomment %}
    </div>
  </main>
