        <div class="metadata-1a">
          <ul>
            <li>{{ photo.year }}, {{ photo.location }}</li>
            <li><span class="field-name">Photo ID:</span>{{photo.accession_number}} <a href="{{ photo.original.url }}" download="{{ photo.accession_number}}.jpg">Download</a></li>
            <li><span class="field-name">Donor:</span><a href="{% url "gridview" 1 %}?donor={{photo.donor.id}}">{{photo.donor.first_name}} {{photo.donor.last_name}}</a></li>
          </ul>
        </div>
        <div class="metadata-2a">
          <ul>
            {% if photo.photographer %}
            <li><span class="field-name">Photographer:</span>{{ photo.photographer }}</li>
            {% endif %}

            {% if photo.scanner %}
            <li><span class="field-name">Scanner:</span>{{ photo.scanner.first_name }} {{ photo.scanner.last_name }}</li>
            {% endif %}
            <li><span class="field-name">Added to Archive:</span>{{ photo.created | date:"DATE_FORMAT" }}</li>
          </ul>
        </div>
        <div class="metadata-3a">
          <ul>
            <li><span class="field-name">Catalog Terms:</span>
            {% if photo.terms.all %}
                {% for term in photo.terms.all %}{% if not forloop.first %},{% endif %} 
                    <a href="{% url "gridview" 1 %}?term={{term.slug}}">{{ term }}</a>{% endfor %}
            {% else %}
            None
            {% endif %}
            </li>
            <li><span class="field-name">Tags:</span>
            {% if tags %}
                {% for tag in tags %}{% if not forloop.first %},{% endif %} 
                <a href="{% url "gridview" 1 %}?tag={{tag.slug}}">{{ tag }}</a>{% endfor %}
            {% else %}
            None
            {% endif %}
            <a href="{% url "addtag" photo.accession_number %}">+</a>
            </li>
            <li><span class="field-name">Comments:</span>{{ photo.caption }}</li>
            <li><span class="field-name"><a href="{% url "add-to-list" photo.accession_number %}">Add to list</a></span></li>
          </ul>
        </div>
