{% load krono_urls %}
<div hx-swap-oob="innerHTML:#navigation-menu">
  {% include "archive/navigation-menu.html" %}
</div>

<div hx-swap-oob="innerHTML:[data-timeline-target=sliderYearLabel]">
    {{ object.year }}
</div>

<div hx-swap-oob="delete:#timeline-container"></div>

<div hx-swap-oob="delete:#grid-icon"></div>

<div hx-swap-oob="innerHTML:.main-nav_center">
    {% block searchbox %}
    {% include "archive/search-box.html" %}
    {% endblock %}
    {% block viewbuttons %}
{% endblock %}
</div>

<ul hx-swap-oob="innerHTML:#fi-preload-zone">
    {% include "archive/thumbnails.html" %}
</ul>

<div hx-swap-oob="innerHTML:#download-popup .photo-menu-popup__wrapper">
    {% include "archive/popup-download.html" %}
</div>

<div hx-swap-oob="innerHTML:#metadata-popup">
    {% block metadata %}
    {% endblock %}
</div>

<div hx-swap-oob="innerHTML:#fi-image-preload">
{% block image %}
{% endblock %}
</div>

<div hx-swap-oob="innerHTML:#zoom-popup">
    {% block zoom_popup %}
    {% endblock %}
</div>

<div hx-swap-oob="innerHTML:#add-to-list-popup .photo-menu-popup__wrapper">
    Loading...
    <script>
      window.kfcontext.getElementById('add-to-list-popup').setAttribute('hx-get', '{% krono_url "kronofoto:popup-add-to-list" photo=photo.id %}');
      window.kfcontext.htmx.process(window.kfcontext.querySelector('#add-to-list-popup'))
    </script>
</div>

<div hx-swap-oob="innerHTML:#download-popup .photo-menu-popup__wrapper">
    Loading...
    <script>
      window.kfcontext.getElementById('download-popup').setAttribute('hx-get', '{% krono_url "kronofoto:popup-download" photo=photo.id %}');
      window.kfcontext.htmx.process(window.kfcontext.querySelector('#download-popup'))
    </script>
</div>

<div hx-swap-oob="innerHTML:#share-popup .photo-menu-popup__wrapper">
    Loading...
    <script>
      window.kfcontext.getElementById('share-popup').setAttribute('hx-get', '{% krono_url "kronofoto:popup-web-component" url_kwargs photo=photo.id %}?{{ request.GET.urlencode }}');
      window.kfcontext.htmx.process(window.kfcontext.querySelector('#share-popup'))
    </script>
</div>
