{% extends base_template %}
{% load static %}
{% load cache %}
{% load widgets %}
{% load krono_urls %}

{% block viewbuttons %}
{% include "archive/view-buttons.html" with timelineclass="current-view" %}
{% endblock %}
{% block content %}

<main hx-target="#fi-image-tag" hx-swap="outerHTML">

    <div class="gallery">
        <div class="gallery__left-space"></div>
        <div class="gallery__background"></div>
        <div class="gallery__right-space"></div>

        <article class="gallery__image fi-image" id="fi-image">
            <figure>
                {% block image %}
                <img id="fi-image-tag" src="{{ photo.h700.url }}" alt="{{ alttext }}" />
                {% endblock image %}
            </figure>
        </article>

        <div class="gallery__controls">
            {% block image_control_buttons %}

            <div class="gallery__controls-top">
                <!--Zoom Button-->
                <button id="zoom-image-control-button" class="image-control-button" data-popup-target="data-popup-zoom" data-popup-button data-popup-zoom>
                    <img class="meta-info-icon" src="{% static "assets/images/skyblue/zoom.svg" %}">
                </button>
                <!--Auto Play Button-->
                <button id="auto-play-image-control-button" class="image-control-button" data-popup-target="data-popup-autoplay" data-popup-button data-popup-autoplay>
                    <img class="auto-play" src="{% static "assets/images/skyblue/auto-play.svg" %}">
                </button>
            </div>
            <div class="gallery__controls-bottom">
                <!--Info Button-->
                <button class="image-control-button" data-toggle="metadata-popup">
                    <img class="meta-info-icon" src="{% static "assets/images/skyblue/info.svg" %}">
                </button>
                <!--Add to List Button-->
                <button class="image-control-button" data-toggle="add-to-list-popup">
                    <img class="add-to-list-icon" src="{% static "assets/images/skyblue/add-to-list.svg" %}">
                </button>
                <!--Share Button-->
                <button class="image-control-button" data-toggle="share-popup">
                    <img class="meta-info-icon" src="{% static "assets/images/skyblue/share.svg" %}">
                </button>
                <!--Embed Button-->
                <button class="image-control-button" data-toggle="embed-popup">
                    <img class="meta-info-icon" src="{% static "assets/images/skyblue/embed.svg" %}">
                </button>
                <!--Download Button-->
                <button class="image-control-button" data-toggle="download-popup">
                    <img class="meta-dl-icon" src="{% static "assets/images/skyblue/download.svg" %}">
                </button>
            </div>
            {% endblock image_control_buttons %}
        </div>

        {% block left_arrow %}
        <a id="fi-arrow-left" class="control previous"
           {% if prev_photo %}
           hx-headers='{ "us.fortepan.position": {{ prev_photo.position }} }'
           href="{% object_url prev_photo url_kwargs get_params %}"
           hx-get="{% object_url prev_photo url_kwargs get_params %}"
           {% endif %}>
        </a>
        {% endblock %}
        {% block right_arrow %}
        <a id="fi-arrow-right" class="control forward"
           {% if next_photo %}
           hx-headers='{ "us.fortepan.position": {{ next_photo.position }} }'
           href="{% object_url next_photo url_kwargs get_params %}"
           hx-get="{% object_url next_photo url_kwargs get_params %}"
           {% endif %}>
        </a>
        {% endblock right_arrow %}

        <div class="gallery__popups">

            <div id="metadata-popup" class="gallery__popup" data-toggler=".expanded">
                <a href="#" class="photo-menu-popup__close-btn" data-toggle="metadata-popup" data-toggler=".expanded"></a>
                <div class="photo-menu-popup__wrapper">
                    {% block metadata %}
                    {% include "archive/photometadata.html" %}
                </div>
            {% endblock %}
            </div>
            <div id="add-to-list-popup" class="gallery__popup" data-toggler=".expanded" hx-target="find .photo-menu-popup__wrapper"  hx-swap="innerHTML" hx-push-url="false" hx-get="{% krono_url "kronofoto:popup-add-to-list" photo=photo.id %}" hx-trigger="intersect">
                <a href="#" class="photo-menu-popup__close-btn" data-toggle="add-to-list-popup" data-toggler=".expanded"></a><div class="photo-menu-popup__wrapper no-scroll"></div>
            </div>
<!--            <div id="share-popup" class="gallery__popup" data-toggler=".expanded" hx-target="find .photo-menu-popup__wrapper" hx-get="{% krono_url "kronofoto:popup-add-to-list" photo=photo.id %}" hx-trigger="intersect">-->
<!--                <a href="#" class="photo-menu-popup__close-btn" data-toggle="share-popup" data-toggler=".expanded"></a><div class="photo-menu-popup__wrapper"></div>-->
<!--            </div>-->
            <div id="embed-popup" class="gallery__popup" data-toggler=".expanded" hx-target="find .photo-menu-popup__wrapper" hx-swap="innerHTML" hx-push-url="false" hx-get="{% krono_url "kronofoto:popup-web-component" url_kwargs photo=photo.id %}?{{ request.GET.urlencode }}" hx-trigger="intersect">
                <a href="#" class="photo-menu-popup__close-btn" data-toggle="embed-popup" data-toggler=".expanded"></a><div class="photo-menu-popup__wrapper"></div>
            </div>
            <div id="download-popup" class="gallery__popup" data-toggler=".expanded" hx-target="find .photo-menu-popup__wrapper" hx-swap="innerHTML" hx-push-url="false" hx-get="{% krono_url "kronofoto:popup-download" photo=photo.id %}" hx-trigger="intersect">
                <a href="#" class="photo-menu-popup__close-btn" data-toggle="download-popup" data-toggler=".expanded"></a><div class="photo-menu-popup__wrapper"></div>
            </div>
            <div id="zoom-popup" class="follow-zoom-popup hidden" data-popup-zoom data-popup>
                <div class="follow-zoom-background-overlay"></div>
                <div style='background: url("{{ object.original.url }}");' id="follow-zoom-timeline-version" class="follow-zoom-timeline-popup-img"></div>
            </div>

        </div>

    </div>

    <!-- script for follow zoom -->
    <script type="text/javascript">
        var addZoom = (target) => {
            let container = document.getElementById(target),
                imgsrc = container.currentStyle || window.getComputedStyle(container, false);
                imgsrc = imgsrc.backgroundImage.slice(4, -1).replace(/"/g, "");

          let img = new Image();
          img.src = imgsrc;
          img.onload = () => {


            let ratio = img.naturalWidth / img.naturalHeight;

                Object.assign(container.style, {

                    height: "calc(100vh - 295px)",
                    width: "calc(100 * " + ratio + "vh - 295 * " + ratio + "px)",
                    backgroundPosition: "top",
                    backgroundSize: "cover"
                  });

            container.onmousemove = (e) => {
              let rect = e.target.getBoundingClientRect(),
                  xPos = e.clientX - rect.left,
                  yPos = e.clientY - rect.top,
                  xPercent = xPos / (container.clientWidth / 100) + "%",
                  yPercent = yPos / ((container.clientWidth * ratio) / 100) + "%";

              Object.assign(container.style, {
                backgroundPosition: xPercent + " " + yPercent,
                backgroundSize: img.naturalWidth + "px"
              });
            };

            container.onmouseleave = (e) => {
              Object.assign(container.style, {
                backgroundPosition: "top",
                backgroundSize: "cover"
                  });
                };
              }
            };

            window.onload = () => { addZoom("follow-zoom-timeline-version"); };

    </script>



    <div class="car-left-space"></div>


    <nav class="fi-timeline" id="fi-timeline">
    {% block thumbnails %}

        <div class="fi-thumbnail-carousel">

            <div class="back-arrows">
                <a id="backward"
                    {% if carousel_has_prev %}
                        hx-headers='{ "us.fortepan.position": 0 }'
                        hx-get="{% object_url object_list.0 url_kwargs get_params %}"
                        href="{% object_url object_list.0 url_kwargs get_params %}"
                    {% endif %}>
                </a>
            </div>

            <div class="slide-container">
                <ul id="fi-preload-zone"></ul>
                <ul id="fi-thumbnail-carousel-images">
                    {% include "archive/thumbnails.html" %}
                </ul>
            </div>

            <div class="forward-arrows">
                <a id="forward"
                    {% if carousel_has_next %}
                        hx-headers='{ "us.fortepan.position": 0 }'
                        hx-get="{% object_url object_list.20 url_kwargs get_params %}"
                        href="{% object_url object_list.20 url_kwargs get_params %}"
                    {% endif %}>
                    <span data-tooltip class="top" data-click-open="false" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin tincidunt id lorem non auctor. Proin in justo urna."></span>
                </a>
            </div>

        </div>

    {% endblock thumbnails %}
    </nav>



    {% include "archive/timeline.html" %}





    <div class="car-right-space"></div>

</main>
{% endblock %}
