{% extends base_template %}
{% load static %}
{% load cache %}
{% load widgets %}
{% load krono_urls %}

{% block viewbuttons %}
{% include "archive/view-buttons.html" with timelineclass="current-view" %}
{% endblock %}
{% block content %}
<main hx-target="#fi-image-tag" hx-swap="outerHTML">

    <div class="gallery">
        <div class="gallery__left-space"></div>
        <div class="gallery__background"></div>
        <div class="gallery__right-space"></div>

        <article class="gallery__image fi-image" id="fi-image">
            <figure>
                {% block image %}
                <img id="fi-image-tag" src="{{ photo.h700.url }}" alt="{{ alttext }}" />
                {% endblock image %}
            </figure>
        </article>

        <div class="gallery__controls">
            {% block image_control_buttons %}

            <div class="gallery__controls-top">
                <!--Zoom Button-->
                <button id="zoom-image-control-button" class="image-control-button" data-popup-target="data-popup-zoom" data-popup-button data-popup-zoom>
                    <img class="meta-info-icon" src="{% static "assets/images/skyblue/zoom.svg" %}">
                </button>
                <!--Auto Play Button-->
                <button id="auto-play-image-control-button" class="image-control-button" data-popup-target="data-popup-autoplay" data-popup-button data-popup-autoplay>
                    <img class="auto-play" src="{% static "assets/images/skyblue/auto-play.svg" %}">
                </button>
            </div>
            <div class="gallery__controls-bottom">
                <!--Info Button-->
                <button id="expand" class="image-control-button" data-popup-target="data-popup-metadata" data-popup-button data-popup-metadata>
                    <img class="meta-info-icon" src="{% static "assets/images/skyblue/info.svg" %}">
                </button>
                <!--Add to List Button-->
                <button id="add-to-list-image-control-button" class="image-control-button" data-popup-target="data-popup-add-to-list" data-popup-button data-popup-add-to-list>
                    <img class="add-to-list-icon" src="{% static "assets/images/skyblue/add-to-list.svg" %}">
                </button>
                <!--Share Button-->
                <button id="share-image-control-button" class="image-control-button" data-popup-target="data-popup-share" data-popup-button data-popup-share>
                    <img class="meta-info-icon" src="{% static "assets/images/skyblue/share.svg" %}">
                </button>
                <!--Embed Button-->
                <button id="embed-image-control-button" class="image-control-button" data-popup-target="data-popup-embed" data-popup-button data-popup-embed>
                    <img class="meta-info-icon" src="{% static "assets/images/skyblue/embed.svg" %}">
                </button>
                <!--Download Button-->
                <button id="dl" class="image-control-button" data-popup-target="data-popup-download" data-popup-button data-popup-download>
                    <img class="meta-dl-icon" src="{% static "assets/images/skyblue/download.svg" %}">
                </button>
                <!--                    <button id="download-popup-cancel-button" class="image-cancel-button hidden" data-popup-target="data-popup-none" data-popup data-popup-download>-->
                <!--                        <img class="meta-info-icon" src="{% static "assets/images/close.png" %}">-->
                <!--                    </button>-->
            </div>
            {% endblock image_control_buttons %}
        </div>

        {% block left_arrow %}
        <a id="fi-arrow-left" class="control previous"
           {% if prev_photo %}
           hx-headers='{ "us.fortepan.position": {{ prev_photo.position }} }'
           href="{% object_url prev_photo url_kwargs get_params %}"
           hx-get="{% object_url prev_photo url_kwargs get_params %}"
           {% endif %}>
        </a>
        {% endblock %}
        {% block right_arrow %}
        <a id="fi-arrow-right" class="control forward"
           {% if next_photo %}
           hx-headers='{ "us.fortepan.position": {{ next_photo.position }} }'
           href="{% object_url next_photo url_kwargs get_params %}"
           hx-get="{% object_url next_photo url_kwargs get_params %}"
           {% endif %}>
        </a>
        {% endblock right_arrow %}

        <div class="gallery__popups">

            <div id="metadata" data-reveal>
            {% block metadata %}
                {% include "archive/photometadata.html" %}
            {% endblock %}
            </div>
            <div id="add-to-list-popup" class="photo-menu-popup hidden" data-popup-add-to-list data-popup hx-target="this" hx-swap="innerHTML" hx-push-url="false" hx-get="{% krono_url "kronofoto:popup-add-to-list" photo=photo.id %}" hx-trigger="intersect"></div>
            <div id="share-popup" class="photo-menu-popup hidden" data-popup-share data-popup hx-get="{% krono_url "kronofoto:popup-add-to-list" photo=photo.id %}" hx-trigger="intersect"></div>
            <div id="embed-popup" class="photo-menu-popup hidden" data-popup-embed data-popup hx-target="this" hx-swap="innerHTML" hx-push-url="false" hx-get="{% krono_url "kronofoto:popup-web-component" url_kwargs photo=photo.id %}?{{ request.GET.urlencode }}" hx-trigger="intersect"></div>
            <div id="download-popup" class="photo-menu-popup hidden" data-popup-download data-popup hx-target="this" hx-swap="innerHTML" hx-push-url="false" hx-get="{% krono_url "kronofoto:popup-download" photo=photo.id %}" hx-trigger="intersect"></div>
            <div id="zoom-popup" class="follow-zoom-popup hidden" data-popup-zoom data-popup>
                <div class="follow-zoom-background-overlay"></div>
                <div style='background: url("{{ object.original.url }}");' id="follow-zoom-timeline-version" class="follow-zoom-timeline-popup-img"></div>
            </div>

        </div>

    </div>

    <!-- script for follow zoom -->
    <script type="text/javascript">
        var addZoom = (target) => {
            let container = document.getElementById(target),
                imgsrc = container.currentStyle || window.getComputedStyle(container, false);
                imgsrc = imgsrc.backgroundImage.slice(4, -1).replace(/"/g, "");

          let img = new Image();
          img.src = imgsrc;
          img.onload = () => {


            let ratio = img.naturalWidth / img.naturalHeight;

                Object.assign(container.style, {

                    height: "calc(100vh - 295px)",
                    width: "calc(100 * " + ratio + "vh - 295 * " + ratio + "px)",
                    backgroundPosition: "top",
                    backgroundSize: "cover"
                  });

            container.onmousemove = (e) => {
              let rect = e.target.getBoundingClientRect(),
                  xPos = e.clientX - rect.left,
                  yPos = e.clientY - rect.top,
                  xPercent = xPos / (container.clientWidth / 100) + "%",
                  yPercent = yPos / ((container.clientWidth * ratio) / 100) + "%";

              Object.assign(container.style, {
                backgroundPosition: xPercent + " " + yPercent,
                backgroundSize: img.naturalWidth + "px"
              });
            };

            container.onmouseleave = (e) => {
              Object.assign(container.style, {
                backgroundPosition: "top",
                backgroundSize: "cover"
                  });
                };
              }
            };

            window.onload = () => { addZoom("follow-zoom-timeline-version"); };

    </script>



    <div class="car-left-space"></div>


    <nav class="fi-timeline" id="fi-timeline">
    {% block thumbnails %}

        <div class="fi-thumbnail-carousel">

            <div class="back-arrows">
                <a id="backward"
                    {% if carousel_has_prev %}
                        hx-headers='{ "us.fortepan.position": 0 }'
                        hx-get="{% object_url object_list.0 url_kwargs get_params %}"
                        href="{% object_url object_list.0 url_kwargs get_params %}"
                    {% endif %}>
                    <img src="{% static "assets/images/double-back-arrow-black.png" %}" alt="arrows pointing back">
                </a>
            </div>

            <div class="slide-container">
                <ul id="fi-preload-zone"></ul>
                <ul id="fi-thumbnail-carousel-images">
                    {% include "archive/thumbnails.html" %}
                </ul>
            </div>

            <div class="forward-arrows">
                <a id="forward"
                    {% if carousel_has_next %}
                        hx-headers='{ "us.fortepan.position": 0 }'
                        hx-get="{% object_url object_list.20 url_kwargs get_params %}"
                        href="{% object_url object_list.20 url_kwargs get_params %}"
                    {% endif %}>
                    <img src="{% static "assets/images/double-back-arrow-black.png" %}" alt="arrows pointing forward">
                </a>
            </div>

        </div>

    {% endblock thumbnails %}
    </nav>



    <!-- <div class="timeline-slider">

        <input type="range" min="1860" max="2000" value="1950" class="slider" id="myRange">

    </div> -->


    <div class="car-right-space"></div>

</main>
{% endblock %}

<script>
    (function($){
        $(document).ready(function() {
            $(document).foundation();
        });
    })(jQuery);
</script>
