{% extends base_template %}
{% load static %}
{% load cache %}
{% load widgets %}

{% block viewbuttons %}
{% include "archive/view-buttons.html" with timelineclass="current-view" %}
{% endblock %}
{% block content %}
<main hx-target="#fi-image-tag" hx-swap="outerHTML">

    
    <div class="fi-image-background"></div>

    <article class="fi-image" id="fi-image">
        <figure>
        {% block image %}
            <img id="fi-image-tag" src="{{ photo.h700.url }}" alt="{{ alttext }}" />
        {% endblock image %}
        </figure>
        
        {% block left_arrow %}
        <a id="fi-arrow-left" class="control previous"
            {% if photo.previous %}
                href="{{ photo.previous.get_absolute_url }}"
                hx-get="{{ photo.previous.get_absolute_url }}"
            {% endif %}>
        </a>
        {% endblock %}
        {% block right_arrow %}
        <a id="fi-arrow-right" class="control forward"
            {% if photo.next %}
                href="{{ photo.next.get_absolute_url }}"
                hx-get="{{ photo.next.get_absolute_url }}"
            {% endif %}>
        </a>
        {% endblock right_arrow %}

        <div id="image-control-button-container" class="image-control-button-container">
        {% block image_control_buttons %}

            <!--Info Button-->
            <button id="expand" class="image-control-button">
                <img class="meta-info-icon" src="{% static "assets/images/skyblue/info.svg" %}">
            </button>
            <button id="metadata-popup-cancel-button" class="image-cancel-button hidden">
                <img class="meta-info-icon" src="{% static "assets/images/close.png" %}">
            </button>
                        
            <!--Add to List Button-->
            <button id="add-to-list-image-control-button" class="image-control-button">
                <img class="add-to-list-icon" src="{% static "assets/images/skyblue/add-to-list.svg" %}">
            </button>
            <button id="add-to-list-popup-cancel-button" class="image-cancel-button hidden">
                <img class="meta-info-icon" src="{% static "assets/images/close.png" %}">
            </button>
            
            <div class="button-line"></div>
            
            <!--Share Button-->
            <button id="share-image-control-button" class="image-control-button">
                <img class="meta-info-icon" src="{% static "assets/images/skyblue/share.svg" %}">
            </button>
            <button id="share-popup-cancel-button" class="image-cancel-button hidden">
                <img class="meta-info-icon" src="{% static "assets/images/close.png" %}">
            </button>
            
            <!--Embed Button-->
            <button id="embed-image-control-button" class="image-control-button">
                <img class="meta-info-icon" src="{% static "assets/images/skyblue/embed.svg" %}">
            </button>
            <button id="embed-popup-cancel-button" class="image-cancel-button hidden">
                <img class="meta-info-icon" src="{% static "assets/images/close.png" %}">
            </button>
            
            <!--Download Button-->
            <button id="dl" class="image-control-button">
                <a href="{{ photo.get_download_page_url }}">
                    <img class="meta-dl-icon" src="{% static "assets/images/skyblue/download.svg" %}">
                </a>
            </button>
            <button id="download-popup-cancel-button" class="image-cancel-button hidden">
                <img class="meta-info-icon" src="{% static "assets/images/close.png" %}">
            </button>
            
           
            <div class="button-line"></div>
            
            <!--Zoom Button-->
            <button id="zoom-image-control-button" class="image-control-button">
                <img class="meta-info-icon" src="{% static "assets/images/skyblue/zoom.svg" %}">
            </button>
            <button id="zoom-image-cancel-button" class="image-cancel-button hidden">
                <img class="meta-info-icon" src="{% static "assets/images/close.png" %}">
            </button>
            
            <!--Auto Play Button-->
            <button id="auto-play-image-control-button" class="image-control-button">
                <img class="auto-play" src="{% static "assets/images/skyblue/auto-play.svg" %}">
            </button>
            <button id="auto-play-cancel-button" class="image-cancel-button hidden">
                <img class="meta-info-icon" src="{% static "assets/images/close.png" %}">
            </button>
        {% endblock image_control_buttons %}
        </div>
        
        <div id="metadata" class="hidden">
            {% block metadata %}
                {% include "archive/photometadata.html" %}
            {% endblock %}
        </div>
        <div id="add-to-list-popup" class="photo-menu-popup hidden">
            <div>add to list</div>
        </div>
        <div id="share-popup" class="photo-menu-popup hidden">
            <div>share</div>
        </div>
        <div id="embed-popup" class="photo-menu-popup hidden">
            <div>embed</div>
        </div>
        <div id="download-popup" class="photo-menu-popup hidden">
            <div>Download</div>
            <input value="value here"/>
        </div>
        <div id="zoom-popup" class="follow-zoom-popup hidden">
            <div class="follow-zoom-background-overlay"></div>
            <div style='background: url("{{ object.original.url }}");' id="follow-zoom-timeline-version" class="follow-zoom-timeline-popup-img"></div>
        </div>
    </article>
                
    <!-- script for follow zoom -->
    <script type="text/javascript">
        var addZoom = (target) => {
            let container = document.getElementById(target),
                imgsrc = container.currentStyle || window.getComputedStyle(container, false);
                imgsrc = imgsrc.backgroundImage.slice(4, -1).replace(/"/g, "");
            
          let img = new Image();
          img.src = imgsrc;
          img.onload = () => {
              
              
            let ratio = img.naturalWidth / img.naturalHeight;
              
                Object.assign(container.style, {

                    height: "calc(100vh - 295px)",
                    width: "calc(100 * " + ratio + "vh - 295 * " + ratio + "px)",
                    backgroundPosition: "top",
                    backgroundSize: "cover"
                  }); 
              
            container.onmousemove = (e) => {
              let rect = e.target.getBoundingClientRect(),
                  xPos = e.clientX - rect.left,
                  yPos = e.clientY - rect.top,
                  xPercent = xPos / (container.clientWidth / 100) + "%",
                  yPercent = yPos / ((container.clientWidth * ratio) / 100) + "%";

              Object.assign(container.style, {
                backgroundPosition: xPercent + " " + yPercent,
                backgroundSize: img.naturalWidth + "px"
              });
            };

            container.onmouseleave = (e) => {
              Object.assign(container.style, {
                backgroundPosition: "top",
                backgroundSize: "cover"
                  });
                };
              }
            };

            window.onload = () => { addZoom("follow-zoom-timeline-version"); };

    </script>



    <div class="car-left-space"></div>


    <nav class="fi-timeline" id="fi-timeline">
    {% block thumbnails %}

        <div class="fi-thumbnail-carousel">

            <div class="back-arrows">
                <a id="backward"
                    {% if page.has_previous %}
                        hx-get="{{ prev_page.0.get_absolute_url }}"
                        href="{{ prev_page.0.get_absolute_url }}"
                    {% endif %}>
                    <img src="{% static "assets/images/double-back-arrow-black.png" %}" alt="arrows pointing back">
                </a>
            </div>

            <div class="slide-container">
                <ul id="fi-preload-zone"></ul>
                <ul id="fi-thumbnail-carousel-images">
                    {% include "archive/thumbnails.html" %}
                </ul>
            </div>

            <div class="forward-arrows">
                <a id="forward"
                    {% if page.has_next %}
                        href="{{ next_page.0.get_absolute_url }}"
                        hx-get="{{ next_page.0.get_absolute_url }}"
                    {% endif %}>
                    <img src="{% static "assets/images/double-back-arrow-black.png" %}" alt="arrows pointing forward">
                </a>
            </div>

        </div>

    {% endblock thumbnails %}
    </nav>

    
    
    <div class="timeline-slider">
        <input type="range" min="1860" max="2000" value="50" class="slider" id="myRange">
    </div>
    
    
    <div class="car-right-space"></div>
    
</main>
{% endblock %}
