{% extends "archive/base.html" %}
{% load static %}
{% load timeline %}

{% block content %}
  <main>
    <article class="fi-image">
      <figure>
        <img src="{% static photo.h700.url %}" alt="Alt text for the image">
      </figure>
      <div id="fi-image-controls">
{% if photo.next %}
    <a href="{% url 'photoview' photo.next.page.number photo.next.accession_number %}?{{ getparams }}">
        <img src="{% static "assets/images/09-advancearrow.svg" %}" alt="Arrow pointing right"></a>
{% endif %}
      </div>
      <button id="expand" onclick="toggleVis()">+</button>
      <div id="metadata" class="hidden">
        <div class="metadata-1a">
          <ul>
            <li>{{ photo.year }}, {{ photo.location }}</li>
            <li><span class="field-name">Photo ID:</span>{{photo.accession_number}}</li>
            <li><span class="field-name">Donor:</span>{{photo.donor.contactinfo.first_name}} {{photo.donor.contactinfo.last_name}}</li>
          </ul>
        </div>
        <div class="metadata-2a">
          <ul>
            {% comment %}
            <li><span class="field-name">Photographer:</span>Cassandra Nulty</li>
            
            <li><span class="field-name">Scanner:</span></li>
            {% endcomment %}
            <li><span class="field-name">Added to Archive:</span>{{ photo.created }}</li>
          </ul>
        </div>
        <div class="metadata-3a">
          <ul>
            <li><span class="field-name">Catalog Terms:</span>
            {% if photo.terms.all %}
                {% for term in photo.terms.all %}{% if not forloop.first %},{% endif %} 
                    <a href="{% url "gridview" 1 %}?term={{term.slug}}">{{ term }}</a>{% endfor %}
            {% else %}
            None
            {% endif %}
            </li>
            <li><span class="field-name">Tags:</span>
            {% if photo.get_accepted_tags %}
                {% for tag in photo.get_accepted_tags %}{% if not forloop.first %},{% endif %} 
                <a href="{% url "gridview" 1 %}?tag={{tag.slug}}">{{ tag }}</a>{% endfor %}
            {% else %}
            None
            {% endif %}
            <a href="{% url "addtag" photo.accession_number %}">+</a>
            </li>
            <li><span class="field-name">Comments:</span>{{ photo.caption }}</li>
          </ul>
        </div>
    </article>
    <nav class="fi-timeline">
      <div class="fi-thumbnail-carousel">
        <div class="back-arrows">
{% if page.has_previous %}
    <a href="{% url 'photoview' page.previous_page_number prev_page.0.accession_number %}?{{ getparams }}">
{% endif %}
        &#10092;&#10092;
{% if page.has_previous %}
    </a>
{% endif %}
        </div>
        <ul id="fi-thumbnail-carousel-images">
{% for p in page.object_list %}
          <li {{p.active | yesno:"data-active,"}}><a href="{% url 'photoview' page.number p.accession_number %}?{{ getparams }}"><img src="{% static p.thumbnail.url %}" /></a></li>
{% endfor %}
        </ul>
        <div class="forward-arrows">
{% if page.has_next %}
    <a href="{% url 'photoview' page.next_page_number next_page.0.accession_number %}?{{ getparams }}">
{% endif %}
        &#10093;&#10093;
{% if page.has_next %}
    </a>
{% endif %}
        </div>
      </div>
      <div class="year-ticker">
        <div class="year-min">&#10092; 1890</div>
        {% make_timeline years %}
        <div class="year-max">2000&#10093;</div>
      </div>
    </nav>
  </main>
  <script src="{% static "assets/js/junk.js" %}">
  </script>
{% endblock %}
