{% extends "archive/base.html" %}

{% load static %}

{% block content %}
<div id="position">Items {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ paginator.count }}
</div>
<div id="navigation">
{% for link in links %}
    {% if link.url %}<a href="{{ link.url }}">{% endif %}{{ link.label }}{% if link.url %}</a>{% endif %}
{% endfor %}
</div>
<ul>
    {% for photo in page_obj %}
    <li><a href="{% url 'photoview' 1 photo.accession_number %}"><img src="{% static photo.h700.url %}"/></a></li>
    {% endfor %}
</ul>
{% endblock %}
