{% extends base_template %}
{% load static %}
{% load widgets %}
{% load krono_urls %}
{% load searchform %}

{% block content %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />
<div id="fi-photosphere-metadata">
<h2>{{ object.title }}</h2>
<div>{{ object.description | markdown }}</div>
</div>
<form hx-get="{% krono_url "kronofoto:mainstreetview" %}" hx-trigger="node-changed" hx-target="#fi-photosphere-metadata">
<div data-photosphere-data data-map="#photosphere-map" data-node-href="{% krono_url "kronofoto:mainstreetview.json" %}" data-node-start="{{ object.id }}" data-node-param="id" style="width: 100vw; height: 80vh">
</div>
<input name="id" type="hidden">
</form>

<nav id="fi-timeline" class="fi-timeline">
    <form 
        hx-trigger="kronofoto:loadThumbnails" 
        hx-target="[data-fi-thumbnail-carousel-images]" 
        hx-get="{% krono_url "kronofoto:carousel" url_kwargs %}"
        hx-push-url="false"
        hx-swap="beforeend"
        hx-sync="this:drop"
    >
    {{ thumbnails_form }}
<div class="fi-thumbnail-carousel" hx-target="#app">
    {% include "archive/components/thumbnail-carousel.html" with object_list=photos %}
</div>
</nav>
<div id="photosphere-map" style="width: 100vw; height: 50vh;">
</div>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
{% endblock %}
