<div class="photo-menu-popup__title">Add to List</div>

<form method="post" action="{% url "kronofoto:popup-new-list" photo=view.kwargs.photo %}" hx-post="{% url "kronofoto:popup-new-list" photo=view.kwargs.photo %}">
    {% csrf_token %}
    {{ new_list_form.as_p }}
    <input type="submit" value="add">
</form>

<form class="form--radios" method="post" hx-post="{% url "kronofoto:popup-add-to-list" photo=view.kwargs.photo %}">
    {% csrf_token %}
    <div class="form__title">My lists</div>
    <div class="form__radios">
        {{ form.as_ul }}
    </div>
    <input type="submit" value="save">
</form>
