<div class="row" hx-target="closest .photo-menu-popup__wrapper">
    <div class="columns large-4 container--scroll">
        <h1 class="h1">My Lists</h1>

        <form method="post" class="form" action="{% url "kronofoto:popup-new-list" photo=view.kwargs.photo %}" hx-post="{% url "kronofoto:popup-new-list" photo=view.kwargs.photo %}">
            {% csrf_token %}
{% comment %}
    This roughly copies django's normal rendering for forms, but skips rendering the
    is_private field, so it can be rendered later, seperately.
{% endcomment %}
            {{ new_list_form.non_field_errors }}
            {% for field in new_list_form.visible_fields %}
              {% if field != new_list_form.is_private %}
                <p>{{ field.label_tag }}
                {{ field.errors }}
                {{ field }}
                {{ field.help_text }}
                </p>
              {% endif %}
            {% endfor %}
            <div class="switch-group">
                <div class="switch">
                    {{ new_list_form.is_private }}
                    <label class="switch-paddle" for="{{ new_list_form.is_private.id_for_label }}">
                        <span class="show-for-sr">Private List</span>
                    </label>
                </div>
                <label class="switch-group__right-label" for="{{ new_list_form.is_private.id_for_label }}">{{ new_list_form.is_private.label }}</label>
            </div>
            <input type="submit" value="add" class="sticky-parent" data-enable-on-modify disabled="disabled">
        </form>
    </div>
    <div class="large-6 large-offset-2 columns container--scroll">
        <form class="form" method="post" hx-post="{% url "kronofoto:popup-add-to-list" photo=view.kwargs.photo %}">
            {% csrf_token %}
            <div class="h4">Save to a list</div>
            <label class="text-tiny">*private list</label>
            <ul class="checkboxes">
                {{ form.as_ul }}
            </ul>
            <input type="submit" value="save" class="sticky-parent" data-enable-on-modify disabled="disabled">
        </form>
    </div>
</div>
