<a href="#" class="photo-menu-popup__close-btn"></a>
<div class="photo-menu-popup__wrapper">
    <div class="photo-menu-popup__title">Download</div>

    <div class="">
        <label>Attribution</label>
        <input value="“{{ object.accession_number }},” {{ object.location }}, {{ object.year }} by {{ object.donor }}/Fortepan Iowa, “https:{{ host_uri }}{{ citation_url }},” CC-BY-SA 4.0" />
        <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>
        <a class="button--copy">copy</a>
    </div>

    <a class="button" href="{{ object.original.url }}" download="{{ object.accession_number }}.jpg">continue download</a>
</div>
