{% extends "archive/base.html" %}

{% block content %}
<div class="register-container">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <script src="https://www.google.com/recaptcha/api.js"></script>
        <div class="g-recaptcha" data-sitekey="{{ RECAPTCHA_SITE_KEY }}"></div>

        <input type="submit" value="register">
    </form>
    {% if form.errors %}
    <p>Your passwords did not match.</p>
    {% endif %}

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
</div>
{% endblock %}
