{% load static %}
<form action="/search/" method="get">
  
  <label for="search-box">
    <img src="{% static "assets/images/03-mag-glass.svg" %}" alt="Magnifying glass">
    {{ form.query }}
  </label>
  <div class="search-form">
    <!-- Display Form -->
      {% regroup form by field.group as field_groups %}
      {% for field_group in field_groups %}
      {% if field_group.grouper != 'QUERY' %}

        <div class="search-form-section">{{field_group.grouper}}
          <div class="search-form-section_inner">
            {% for field in field_group.list %}
              <div>
                <!-- <label for="" class="search-form-section_label">{{ field.label }}</label> -->
                {{field}}
              </div>
            {% endfor %}
          </div>

        </div>
      {% endif %}
      {% endfor %}

  <input type="submit" value="Search">
  </div>
</form>
