{% load static %}
{% load krono_urls %}
{% load cache %}
<form action="{% krono_url "kronofoto:gridview" url_kwargs %}" method="get">
  <label for="search-box">
    <img class="search-icon" src="{{ theme.searchSvg }}" alt="Magnifying glass">
    {{ form.basic }}
  </label>
  <div class="search-form">
    {% cache 300 search_form_ vary_on %}
    <!-- Display Form -->
      {% regroup form by field.group as field_groups %}
      {% for field_group in field_groups %}
      {% if field_group.grouper != 'BASIC' %}

        <div class="search-form-section">{{field_group.grouper}}
          <div class="search-form-section_inner {% if field_group.grouper == "DATE RANGE" %}daterange{% endif %}">
            {% for field in field_group.list %}
              <div>
                {{field}}
              </div>
            {% endfor %}
          </div>

        </div>
      {% endif %}
      {% endfor %}
    {% endcache %}

  <input type="submit" value="Search">
  </div>
</form>
