{% extends base_template %}
{% load widgets %}

{% block viewbuttons %}
{% include "archive/view-buttons.html" %}
{% endblock %}

{% block content %}
<main class="container-center">
    Thank you for your contribution. It will be reviewed by our team.
    <p>
    <a class="button" href="{% url "kronofoto:submission-create" short_name=view.kwargs.short_name %}">Submit another</a>
    <a class="button" href="{% url "kronofoto:gridview" short_name=view.kwargs.short_name %}">Back to archive</a>
</main>
{% endblock %}
