{% extends base_template %}
{% load widgets %}

{% block viewbuttons %}
{% include "archive/view-buttons.html" %}
{% endblock %}

{% block content %}
<main class="container-center">
    <div class="user-content">
    Use this form to enter information about your submission. Fields marked with an * are required. The help text under the form label will help you fill in the form. When you are finished click the "Submit" button at the bottom of the form. 
    </div>
    <form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit">
    </form>
</main>
{% endblock %}
