{% extends "archive/doc-base.html" %}
{% load static %}
{% block content %}
    <main>
<section id="use">
  <div class="img-grid">
    <div class="img-grid_item">
      <img src="{% static "assets/images/02.jpg" %}" alt="">
    </div>
    <div class="img-grid_item">
      <img src="{% static "assets/images/fortepan_7416.jpg" %}" alt="">
    </div>
    <div class="img-grid_item">
      <img src="{% static "assets/images/fortepan_25246.jpg" %}" alt="">
    </div>
  </div>
  <h1>Use THE ARCHIVE</h1>
  <h3>View</h3>
        <p>
          <b>Timeline Display: </b>Choose manual or auto view, and decide whether you want a white (default)
          or black “lightroom” background. Advance each image individually with white Right/Left arrows.
          Click the small double chevrons in the thumbnail timeline to rapidly advance the thumbnail
          photos XX images at a time. Hold the double chevron down to slowly crawl through these images.  
        </p>
        <p>
          <b>Grid/Browser Display: </b>Sort through the grid to view a series of photos you have
          identified into a group. Choose the black or white display option. 
        </p>
        <h3>Tag</h3>
        <p>
          We catalogue each image using up to three of our <a href="https://docs.google.com/document/d/1fGjIe6-lMPRHcuNgYcr_E9kGUN6ARhWxMhF-rkJDDtk/edit?usp=sharing">38 controlled vocabulary terms</a>; the rest of
          the tagging is up to you. Sign in and tag what you see in a picture: horse, corn, bridge,
          park, picnic...whatever general terms you think will help others find a photo. Tags are vetted,
          so please tag responsibly. 
        </p>
        <h3>Comment</h3>
        <p>Log in and comment in our forum. If you know specific details within an image,
          like the make of a motorcycle, the breed of a cow, the name of a street, the type of ceremony,
          etc., share it here. Also share your stories. How else will we learn that the trampoline was
          invented in Cedar Rapids, that the house in the background was a 1920 speakeasy, or that the
          confident 10-year-old farm girl ended up having a fabulous career in Washington D.C.?
          Help us complicate Iowa history by sharing the stories that make Iowa unique. Comments are edited,
          so please comment responsibly. For privacy purposes, we only allow the donor to identify individuals
          in the photograph. </p>
        <h3>Download</h3>
        <p> Click the “download” button to download any high-resolution Fortepan Iowa image for your own use.
          Each image has a Creative Commons Attribution-ShareAlike license<a href="https://creativecommons.org/licenses/by-sa/4.0/"> (CC-BY-SA 4.0)</a>. This means you are free to <strong>share</strong> (copy and redistribute the material in any medium or format),
          and <strong>adapt</strong> (remix, transform, and build upon) any Fortepan Iowa photograph for any purpose, even commercially,
          as long as you <strong>Attribute</strong> and <strong>ShareAlike</strong>. </p>
        <p>
          To learn more about using downloaded Fortepan Iowa photographs under the CC-BY-SA license,
          please continue on to the next section, “USING FORTEPAN IOWA PHOTOS.”
        </p>
      </section>
      <section id="create-and-attribute">
        <h3>Create and Attribute</h3>
        <p> Fortepan Iowa photos are free to use under the Creative Commons Attribution-ShareAlike license<a> (CC-BY-SA 4.0)</a>.
          You must always attribute every Fortepan Iowa photograph you use:  To ATTRIBUTE  a Fortepan Iowa photograph
          (e.g., FI_2348.jpg,” donated by Lissa Potter), please use the following model: </p>
        <blockquote> “FI_2348” by Lissa Potter/Fortepan Iowa, “<a href="http://fortepan.us/FI_2348.jpg">http://fortepan.us/FI_2348.jpg</a>,” <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>. </blockquote>
        <p>The ShareAlike mechanism is included in the version 4.0 licenses as follows:</p>
        <ul>
          <li>
              If You Share an Adapted Fortepan Iowa image You produce, the following conditions also apply.
              <ul>
                <li>
                  The Adapter’s License You apply must be a Creative Commons license with the same License Elements, this version or later, or a BY-NC-SA Compatible License.
                </li>
                <li>
                  You must include the text of, or the URI or hyperlink to, the Adapter's License You apply. You may satisfy this condition in any reasonable manner based on the medium, means, and context in which You Share Adapted Material.
                </li>
                <li>
                  You may not offer or impose any additional or different terms or conditions on, or apply any Effective Technological Measures to, Adapted Material that restrict exercise of the rights granted under the Adapter's License You apply.
                </li>
              </ul>
          </li>
        </ul>
        <h3>Sharealike Explained</h3>
        <p>
          All Fortepan images are ShareAlike to ensure that the images themselves always stay free, even if they are modified and adapted by others. The ShareAlike license has several intended effects:
        </p>
        <ul>
          <li>
            The original Fortepan image always remains freely available to use and remix. Anyone who has
            access to the photograph may use it, even if they encounter the work in a modified form.
          </li>
          <li>
            Adaptations of a Fortepan image are always freely available to use and remix. Anything made from
            the original photograph is just as free as the original image was, and you may use a Fortepan Iowa
            image remix as a starting point for your own work, just as easily as starting from the original
            Fortepan Iowa image.  For example, this looping video of this fun winter scene &nbsp;was adapted by Gabriella Cummings from
            “<a href="http://download.fortepan.hu/_photo/download/fortepan_7416.jpg">fortepan_XXXX</a>” by Fortepan,
            <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>. Anyone is free to download and build upon this animated adaptation: 
            <img src="{% static "assets/images/use-images/cummings.gif" %}" alt="winter fun">
          </li>
          <li>
            The ShareAlike licenses are designed to result in the creation of new works for the commons through
            their copyleft mechanism. Because new contributions to adaptations (when distributed) must be
            licensed under the same or a compatible license, people who wish to remix SA works also contribute
            back to the commons as a condition of using the SA work. 
          </li>
        </ul>
        <h3>Key Points About the Sharealike License</h3>
        <p>
          <b>The ShareAlike condition applies only for works considered adaptations under copyright law,
            not simply in collections with other works (also referred to as mere aggregations).</b>
            Therefore, publishing a series of Fortepan images, unaltered, in a book or in an online gallery,
            does not require a ShareAlike license. For example, take a look at this Fortepan image: 
        </p>
        <div class="key-points-figures">
          <figure>
            <img src="{% static "assets/images/use-images/fortepan_25246.jpg" %}" alt="A group of people posing for a photo">
            <figcaption>
              Original Fortepan image, "<a href="http://download.fortepan.hu/_photo/download/fortepan_25246.jpg">fortepan_25246</a>,"
              by Fortepan, <a href=https://creativecommons.org/licenses/by-sa/3.0/us/">CC-BY-SA 3.0</a>.
            </figcaption>
          </figure>
          <figure>
            <img src="{% static "assets/images/use-images/38c.png" %}" alt="A slightly edited version of a group of people posing for a photo">
            <figcaption>
              Here is a slightly modified version of the same “<a href="http://download.fortepan.hu/_photo/download/fortepan_25246.jpg">fortepan 25246</a>” image –
              a frame and a blue duotone have been added, and there is a little tear on the left side--do
              you see it? The modification is so marginable, though, that it does not count as an adaptation,
              and thus it does not require a ShareAlike license.
            </figcaption>
          </figure>
        </div>
        <p>
          This digital photomontage, “Fan,”  is altered so considerably that we can definitely call
          it an “adaptation” (or remix) of the original, wouldn’t you agree? 
        </p>
        <img src="{% static "assets/images/use-images/fan.jpg" %}" alt="The same image drastically modified with blotches of orange and the group of men removed from the background">
        <p>
          A license for this work should link back to the original photograph, and explain how that photograph was modified. The attribution should look like this:
        </p>
        <blockquote>
            “Fan” by Bettina Fabos. Based on the original image,
            “<a href="http://download.fortepan.hu/_photo/download/fortepan_25246.jpg">fortepan_25246</a>” by Fortepan,
            <a href="https://creativecommons.org/licenses/by-sa/3.0/us/">CC-BY-SA 3.0</a>, Removed background and applied
            colored layers. “Fan” is licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>.  
        </blockquote>
        <p> Accordingly, if you remix and share a Fortepan Iowa image, you must apply the <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a> license
          (or a later license version), or a <a href="https://creativecommons.org/share-your-work/licensing-considerations/compatible-licenses">BY-SA Compatible License</a>.
          That way we can always find a way back to the original work, so it always stays free. </p>
        <p>
          <b>The ShareAlike term applies to licensed uses of Fortepan images only, not other uses by the rightsholder of the original photograph.</b>
          Licensors that make their photographs available under an SA license in Fortepan are always free to share their works under other terms if they wish.
        </p>
        <p><b>Any Fortepan image used for the purposes of criticism or parody does not require a ShareAlike license.</b></p>
        <p><b>Any link to a Fortepan image does not require a ShareAlike designation.</b></p>
        <p><b>A ShareAlike license on an adapted Fortepan image cannot be modified through any additional explanations.</b></p>
        <p><b>Unless other restrictions are present, the work may be used for any purpose (even commercially)</b>, without the need to make distinctions about allowable types of uses. </p>
        <p>
          <b>The ShareAlike condition only applies to a Fortepan image when it is publicly shared.</b>
          You are not obligated to share things you make from Fortepan photos--you may create remixes and adaptations that you do not publish. If you are using Fortepan images privately and not sharing them with others, you do not have to comply with the license conditions. For example, if you download, print, and hang a Fortepan photo in your living room, you do not have to license your printed image under an SA or compatible license unless you plan to share it with others.
        </p>
        <p><b>Anyone who builds on the original photo should provide a URL or a link back to the original.</b></p>
        <h3>Possible Uses of Fortepan Photos</h3>
        <ul>
          <li>
            Use a Fortepan photo, unmodified, in a larger work (e.g., a curated collection of photographs,
            organized in a series). Unless the larger work would be considered an adaptation of it, using
            a ShareAlike photo as a separate element within it does not require original materials in the
            larger work to be ShareAlike or compatible. The larger work may be licensed under any terms.
          </li>
          <li>
              Publish a Fortepan photo in a book, newspaper article, or Facebook post.
              It depends if the image is modified or not. A modified Fortepan photo needs a ShareAlike license;
              an unmodified photo does not.
              <div class="possible-uses-figure">
                <figure>
                  <img src="{% static "assets/images/use-images/fb.png" %}" alt="A Facebook post utilizing a Fortepan photo">
                  <figcaption>
                    This photo, appearing on Facebook, is not modified, so
                    it does not require a ShareAlike license. 
                  </figcaption>
                </figure>
              </div>
          </li>
          <li>
            Wheat-paste a Fortepan  photo on the side of a building. If the wheat-pasted image is adapted
            (e.g., parts of the image are cut out from the background or altered, as below),
            the wheat-paste requires a ShareAlike license.
            <!-- 
              TODO: add wheatpasting in budapest image
             -->
          </li>
          <li>
            Fortepan photo(s) in a digital project. If the Fortepan image, or images, are altered,
            as in this photomontage, then the parts of the project derived from the Fortepan photos
            require a Share Alike license.
            <div class="possible-uses-figure">
              <figure>
                <img src="{% static "assets/images/use-images/p&t.jpg" %}" alt="A screen capture of the Proud & Torn project, a composite of several Fortepan images.">
                <figcaption>
                    In this example, two separate licenses are assigned to this section of the digital project,
                    <a href="https://proudandtorn.org/"><i>Proud and Torn, a Visual Memoir of Hungarian History</i></a>:
                    <ol>
                      <li>
                        “Shoes,” by Dana Potter. Based on the original image,
                        “<a href="http://download.fortepan.hu/_photo/download/fortepan_103911.jpg">fortepan_103911</a>,”
                        <a href="http://fortepan.hu/?view=owner&lang=hu&name=Budapest Főváros Levéltára">Budapest Főváros Levéltára</a> / Fortepan,
                        <a href="https://creativecommons.org/licenses/by-sa/3.0/us/">CC-BY-SA 3.0</a>. Selected shoes from background, applied a brown duotone.
                        <a href="https://proudandtorn.org/1956/"><i>Proud and Torn, a Visual Memoir of Hungarian History, “1956.”</i></a> <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>.
                      </li>
                      <li>
                        “Long lines,” by Dana Potter. Based on two original images,
                        “<a href="http://download.fortepan.hu/_photo/download/fortepan_31273.jpg">fortepan_31273</a>” by
                        <a href="http://fortepan.hu/?view=owner&lang=hu&name=Lechner Nonprofit Kft. Dokumentációs Központ">Lechner Nonprofit Kft. Dokumentációs Központ</a>/Fortepan,
                        <a href="https://creativecommons.org/licenses/by-sa/3.0/us/">CC-BY-SA 3.0</a>, and
                        “<a href="http://download.fortepan.hu/_photo/download/fortepan_17956.jpg,">fortepan_17956</a>” by
                        <a href="http://fortepan.hu/?view=owner&lang=hu&name=Magyar Rendőr">Magyar Rendőr</a>/Fortepan,
                        <a href="https://creativecommons.org/licenses/by-sa/3.0/us/">CC-BY-SA 3.0</a>. Applied photomontage and alternating brown and blue duotones.
                        <a href="https://proudandtorn.org/1956/"><i>Proud and Torn, a Visual Memoir of Hungarian History, “1956.”</i></a>
                        <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC-BY-SA 4.0</a>.
                      </li>
                    </ol>
                </figcaption>
              </figure>
            </div>
          </li>
        </ul>
        <h3>ChoosE SA for your Content</h3>
        <p>
          Before opting to use an SA license for your material, consider the following:
        </p>
        <ul>
          <li>
            SA may be incompatible with other material you want to use in your remix.
            SA does not mix well with CC-licensed images “NC” (non-commercial), or “ND”
            (no derivatives). For more information about compatibility, see the
            <a href="https://wiki.creativecommons.org/wiki/Wiki/cc_license_compatibility">CC license compatibility chart, here</a>.
            Because the ShareAlike licenses require that adapted material of a ShareAlike work be licensed
            under a ShareAlike or a compatible license, you should be aware of the licenses covering the
            other materials that you want to use in your remix.
          </li>
          <li>
            BY-SA allows your work to be used commercially. While the BY-SA license requires that
            commercial entities using the work comply with the terms of the license, they may sell
            or otherwise use your work or their adaptation of your work for commercial purposes.
          </li>
        </ul>
        <p>
          This  information in this section, “Using Fortepan Photos” was adapted from
          “<a href="https://wiki.creativecommons.org/wiki/ShareAlike_interpretation">ShareAlike Interpretation</a>,”
          by Creative Commons, <a href="https://creativecommons.org/licenses/by/4.0/">CC-BY 4.0</a>.
        </p>
      </section>
  <h6>
        This document was created by Bettina Fabos and is licensed under a <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
      </h6>
    </main>
{% endblock %}
