{% extends "archive/doc-base.html" %}
{% load static %}
{% block content %}
    <main>
      
   
      <section id="volunteer">
        <div class="img-grid">
          <div class="img-grid_item">
            <img src="{% static "assets/images/02.jpg" %}" alt="">
          </div>
          <div class="img-grid_item">
            <img src="{% static "assets/images/fortepan_7416.jpg" %}" alt="">
          </div>
          <div class="img-grid_item">
            <img src="{% static "assets/images/fortepan_25246.jpg" %}" alt="">
          </div>
        </div>
        <h1>Volunteer</h1>
        <p>
          We would love your help. Come join our community! We need help scanning, proofing metadata,
          editing tags and comments, and posting on Facebook. We have Fortepan Iowa scanning hubs at
          the University of Northern Iowa, Anamosa Library and Learning Center, Cedar Falls Public Library,
          Sumner Public Library, Ottumwa Public LIbrary, and Kendall Young Public Library in Webster City.
          Contact <a href="mailto:fortepan@uni.edu">fortepan@uni.edu</a>.
        </p>
      </section>
        <h6>
        This document was created by Bettina Fabos and is licensed under a <a href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
      </h6>
    </main>
{% endblock %}
