{% load static %}
{% load krono_urls %}


<div class="row">
    <div class="columns large-5">
        <div class="form">
            <h1 class="h1">Share</h1>
            <p id="share-name">{{ name }}</p>
            <div class="social-share-icons">
                <div class="sharethis-inline-share-buttons"></div>
            </div>
            <div class="row collapse">
                <div class="columns small-8">
                    <input type="text" id="share-input" rows="1" value="{{ this_photo }}{% if params %}?{{ params.urlencode }}{% endif %}" />
                </div>
                <div class="columns small-4">
                    <a class="button copy-button" data-clipboard-target="#share-input">Copy</a>
                </div>
            </div>
        </div>
    </div>
    <div class="columns large-7">
        <div class="form">
            <h1 class="h1">Embed</h1>
            <form class="form" id="web-component-form" hx-target="#embed-input" hx-swap="outerHTML" hx-select="#embed-input" hx-get="{% krono_url "kronofoto:popup-web-component" view.kwargs %}?{{ params.urlencode }}" hx-push-url="false" hx-trigger="change">
            <p>Embedding keeps the current filters such as a search or list.</p>

            {% for field in form %}
            <label for="{{ field.name }}">{{ field.label }}</label>
            <div class="small-10">
                {{ field }}
            </div>
            {% endfor %}

            </form>
            <div class="row collapse">
                <div class="columns small-8">
                    <input type="text" id="embed-input" value="{% filter force_escape %}<script src="{% static 'assets/js/kronofoto.js' %}"></script>
        <fortepan-viewer{% if expression %} constraint="{{ expression }}"{% endif %} src="{{ src }}"></fortepan-viewer>{% endfilter %}" />
                </div>
                <div class="columns small-2">
                    <a class="button copy-button" data-clipboard-target="#embed-input">Copy</a>
                </div>
            </div>
        </div>
    </div>
</div>

