{% load widgets %}
{% load krono_urls %}
{{ form.as_p }}
{% if form.fields.photo %}
{% for photo in form.fields.photo.queryset %}
    <img src="{% image_url id=photo.id path=photo.original.name height=75 width=75 %}" height="75" width="75">
{% endfor %}
{% endif %}
<input type="hidden" name="prefix" value="{{ form.prefix }}">
<button hx-get>Add Figure</button>
<input type="submit" name="up" value="Up">
<input type="submit" name="down" value="Down">
<input type="submit" name="delete" value="Delete">
