{% load widgets %}
    <div class="container container--full-width container--no-padding" style="z-index: {{zindex}}">
        <div class="full-image-area {{ image_area_classes | join:" " }}">
            <a class="full-image-area__info info-button info-button--top" href="#" target="_blank">
                <span class="info-button__icon"></span>
                <div class="info-button__text">{% include "archive/snippets/attribution.html" with object=photo %}</div>
            </a>
            <div class="full-image-area__text">
                {{ description }}
            </div>
            <div class="full-image-area__image" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">
                <img loading="lazy" src="{% image_url id=photo.id path=photo.original.name width=2000 %}">
            </div>
        </div>
    </div>
