{% load widgets %}
{% load krono_urls %}
    <div id="card-{{ card.id }}" class="container container--full-width container--no-padding" style="z-index: {{zindex}}">
        <div class="full-image-area {{ image_area_classes | join:" " }}">
            <a class="full-image-area__info info-button info-button--top" href="#" target="_blank">
                <span class="info-button__icon"></span>
                <div class="info-button__text">{% include "archive/snippets/attribution.html" with object=photo %}</div>
            </a>
            <div class="full-image-area__text">
                {% if card.title %}<h2>{{ card.title }}</h2>{% endif %}
                {{ card.description }}
            </div>
            <div class="full-image-area__image" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">
                <img loading="lazy" src="{% image_url id=card.photo.id path=card.photo.original.name width=2000 %}">
            </div>
        </div>
        {% if form %}
            {{ form }}
            <input type="hidden" name="prefix" value="{{ form.prefix }}">
            <input type="submit" name="save" value="Save">
            <input type="submit" name="up" value="Up">
            <input type="submit" name="down" value="Down">
            <input type="submit" name="delete" value="Delete">
        {% endif %}
    </div>
