{% load widgets %}
{% load krono_urls %}
    <div id="card-{{ card.id }}" class="card container container--full-width container--no-padding" style="z-index: {{zindex}}">
        <div class="full-image-area {{ image_area_classes | join:" " }}">
            {% if form %}
            <div class="add-image-button" data-images="{{ form.fields.photo.image_urls }}" data-target="{{ form.prefix }}-photo"></div>
            {% endif %}
            <a class="full-image-area__info info-button info-button--top" href="#" target="_blank">
                <span class="info-button__icon"></span>
                <div class="info-button__text">{% include "archive/snippets/attribution.html" with object=photo %}</div>
            </a>
            <div class="full-image-area__text">
                <h2 contenteditable="true" role="textbox" data-target="{{ form.prefix }}-title">{{ card.title }}</h2>
                <span contenteditable="true" role="textbox" data-target="{{ form.prefix }}-description">{{ card.description }}</span>
            </div>
            <div class="full-image-area__image" data-aos="fade-zoom-in" data-aos-easing="ease-in-back" data-aos-delay="300" data-aos-offset="0">
                <img loading="lazy" src="{% image_url id=card.photo.id path=card.photo.original.name width=2000 %}">
            </div>
            {% if form %}
                <div class="full-image-area__select-alignment" data-toggler=".expanded" id="{{ form.prefix }}_alignment" data-toggle="{{ form.prefix }}_alignment" data-toggle-focus="{{ form.prefix }}_alignment">
                    <div data-toggle="{{ form.prefix }}_alignment">
                        <input type="radio" name="{{ form.prefix }}_alignment" id="{{ form.prefix }}_alignment_1" value="1" checked="checked">
                        <label for="{{ form.prefix }}_alignment_1">fit to page</label>
                    </div>
                    <div data-toggle="{{ form.prefix }}_alignment">
                        <input type="radio" name="{{ form.prefix }}_alignment" id="{{ form.prefix }}_alignment_2" value="2">
                        <label for="{{ form.prefix }}_alignment_2">fill page</label>
                    </div>
                </div>
            {% endif %}
        </div>
        {% if form %}
            <div class="component-menu--off-canvas">
                <button type="button" class="up" aria-label="Move up">Move up</button>
                <button type="button" class="down" aria-label="Move down">Move down</button>
                <button type="button" class="delete" aria-label="Delete">Delete</button>
            </div>
            <div class="hide">
            {{ form }}
            {% for photo in form.fields.photo.queryset %}
                <img src="{% image_url id=photo.id path=photo.original.name height=75 width=75 %}" height="75" width="75">
            {% endfor %}
            <input type="hidden" name="prefix" value="{{ form.prefix }}">
{#          <input type="submit" name="save" value="Save"> #}
            </div>
        {% endif %}
    </div>
