{% load widgets %}
    <div class="container container--no-padding" style="z-index: {{ zindex }}">
        <div class="two-column {{ image_area_classes | join:" "}}">
            <div class="two-column__image">
                <img loading="lazy" src="{% image_url id=photo.id path=photo.original.name width=1000 %}">
                <a class="two-column__info-button info-button info-button--top" href="#" target="_blank">
                    <span class="info-button__icon"></span>
                    <div class="info-button__text">{% include "archive/snippets/attribution.html" with object=photo %}</div>
                </a>
            </div>
            <div class="two-column__content-wrapper">
                <div class="two-column__content">
                    {{ description | safe }}
                </div>
            </div>
        </div>
    </div>
