$primary-color: #3498db;
$white: #ffffff;
$clr-black: #000000;
$clr-gray: #333333;
$clr-light-gray: #727272;

@import './typography.scss';
@import './components/container.scss';
@import './components/content-area.scss';
@import './components/full-image-area.scss';
@import './components/header.scss';
@import './components/hero.scss';
@import './components/image-collection.scss';
@import './components/info-button.scss';
@import './components/two-column.scss';

body {
  margin: 0;
  font-family: "montserrat", sans-serif;
  font-weight: $font-weight-regular;
  font-style: normal;
}
