<!DOCTYPE html>
<html lang="en" prefix="og: https://ogp.me/ns#" template="gallery">
{% load static %}
{% load searchform %}
{% load header %}
{% load gtm_tags %}
<head>
  {% gtm_head %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link type="text/css" rel="stylesheet" href="{% static "kronofoto/css/index.css" %}?version={{ CSS_VERSION }}">
  {% block opengraph %}
  {% endblock %}
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "kronofoto/favicon/apple-touch-icon.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "kronofoto/favicon/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "kronofoto/favicon/favicon-16x16.png" %}">
  <link rel="manifest" href="{% static "kronofoto/favicon/site.webmanifest" %}">
  <link rel="mask-icon" href="{% static "kronofoto/favicon/safari-pinned-tab.svg" %}" color="#5bbad5">
  <link rel="shortcut icon" href="{% static "kronofoto/favicon/favicon.ico" %}">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="{% static "kronofoto/favicon/browserconfig.xml" %}">
  <meta name="theme-color" content="#ffffff">

    <title>Fortepan Iowa</title>
  <style>
:root {
  --fp-main-font: 'Montserrat', sans-serif;
  --fp-secondary-ticker-color: #9d9d9c;
  --fp-main-grey: #d6d6da;
  --fp-main-grey-translucent: rgba(214, 214, 218, 0.95);
  --fp-light-grey: #efeff1;
  --fp-light-grey-translucent: rgba(239, 239, 241, 0.9);
  --fp-main-blue: {{ theme.color }};
  --fp-main-color: {{ theme.color }};
  --fp-main-color-lighter: {{ theme.colorLighter }};
  --fp-main-color-darker: {{ theme.colorDarker }};
}
  </style>
</head>
<body hx-push-url="true" theme="{{ theme.name }}">
  {% gtm_body %}
  {% block header %}
  {% header %}
  {% endblock header %}
  <div id="app">
    {% block content %}
    {% endblock %}
  </div>
  <!-- <footer></footer> -->

  <script src="{% static "kronofoto/js/main.js" %}?{{ CSS_VERSION }}" ></script>
</body>
</html>
