{% load static %}

<div class="row">
    <div class="columns small-12 medium-12 large-3">
        <h1 class="h1">ID#: {{ object.accession_number }}</h1>
        <a class="button" href="{{ object.fullsizeurl }}" download="{{ object.accession_number }}.jpg">Download</a>
    </div>
    <div class="columns small-12 medium-12 large-4">
        <h4 class="h4">License</h4>
        {% with license=object.licensedef %}
        <a rel="license" href="{{ license.url }}">
            <img alt="{{ license.name }}" src="{% static license.staticfile %}" style="width: 190px; height: auto; border-width: 0px" />
        </a>
        <p>&nbsp;</p>
        <p><a href="{{ license.url }}"><strong>{{ license.name }} ({{ object.license }})</strong></a></p>
        {% endwith %}
    </div>
    <div class="columns small-12 medium-12 large-5">
        <div class="form">
            <h4 class="h4">Attribution</h4>
            <textarea rows="4" id="attribution-input">{% include "kronofoto/components/attribution.html" %}</textarea>
            <a class="button float-right copy-button" data-clipboard-target="#attribution-input">copy</a>
        </div>
    </div>

</div>


