@import "kronofoto.css";

*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fp-main-font);
}

img {
  width: 100%;
}

body {
  display: grid;
  height: 100vh;
  grid-template-rows: minmax(min-content, 0fr) auto;
  max-width: 2100px;
  margin: 0 auto;
  overflow-x: hidden;
}

a {
  color: var(--fp-main-blue);
  text-decoration: none;
}






/******************
 ** HEADER / NAV **
 ******************/

header {
  max-height: 200px;
  grid-row: 1 / span 1;
  padding: 15px;
}

nav {
  display: flex;
}

nav ul {
  display: flex;
  display: -webkit-flex;
  align-self: center;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  list-style: none;
  text-transform: uppercase;
}

header nav div img {
  width: 30px;
}

input[type="submit"] {
  background-color: var(--fp-main-blue);
  color: white;
}

input[type="email"], input[type="number"], input[type="search"], input[type="text"], input[type="tel"], input[type="url"], input[type="password"], textarea, select {
  -moz-appearance:none; /* Firefox */
  -webkit-appearance:none; /* Safari and Chrome */
  appearance:none;
  height: 34px;
  padding: 4px 8px;
  background-color: var(--fp-light-grey);
  color: #333;
  border: none;
  border-radius: 2px;
  box-shadow: none;
  box-sizing: border-box;
  width: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

select::-ms-expand {
  display: none;
}

select {
  background: url("http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png") var(--fp-light-grey) no-repeat 98.5% !important;
  /* !important used for overriding all other customisations */
}

main {
  grid-row: 2 / span 1;
  display: grid;
  grid-template-rows: 1fr auto auto;
  flex-direction: column;
}

main article {
  grid-row: 1 / span 1;
}

main nav {
  grid-row: 2 / span 1;
  height: 100%;
}
