
@keyframes from-100-to-200 {
    0% { left: -100%; }
    100% { left: -200%; }
}

@keyframes from-100-to0 {
    0% { left: -100%; }
    100% { left: 0%; }
}

@keyframes from-101-to-200 {
    0% { left: -101%; }
    100% { left: -200%; }
}

@keyframes from-99-to0 {
    0% { left: -99%; }
    100% { left: 0%; }
}

@keyframes from-102-to-200 {
    0% { left: -102%; }
    100% { left: -200%; }
}

@keyframes from-98-to0 {
    0% { left: -98%; }
    100% { left: 0%; }
}

@keyframes from-103-to-200 {
    0% { left: -103%; }
    100% { left: -200%; }
}

@keyframes from-97-to0 {
    0% { left: -97%; }
    100% { left: 0%; }
}

@keyframes from-104-to-200 {
    0% { left: -104%; }
    100% { left: -200%; }
}

@keyframes from-96-to0 {
    0% { left: -96%; }
    100% { left: 0%; }
}

@keyframes from-105-to-200 {
    0% { left: -105%; }
    100% { left: -200%; }
}

@keyframes from-95-to0 {
    0% { left: -95%; }
    100% { left: 0%; }
}

@keyframes from-106-to-200 {
    0% { left: -106%; }
    100% { left: -200%; }
}

@keyframes from-94-to0 {
    0% { left: -94%; }
    100% { left: 0%; }
}

@keyframes from-107-to-200 {
    0% { left: -107%; }
    100% { left: -200%; }
}

@keyframes from-93-to0 {
    0% { left: -93%; }
    100% { left: 0%; }
}

@keyframes from-108-to-200 {
    0% { left: -108%; }
    100% { left: -200%; }
}

@keyframes from-92-to0 {
    0% { left: -92%; }
    100% { left: 0%; }
}

@keyframes from-109-to-200 {
    0% { left: -109%; }
    100% { left: -200%; }
}

@keyframes from-91-to0 {
    0% { left: -91%; }
    100% { left: 0%; }
}

@keyframes from-110-to-200 {
    0% { left: -110%; }
    100% { left: -200%; }
}

@keyframes from-90-to0 {
    0% { left: -90%; }
    100% { left: 0%; }
}

@keyframes from-111-to-200 {
    0% { left: -111%; }
    100% { left: -200%; }
}

@keyframes from-89-to0 {
    0% { left: -89%; }
    100% { left: 0%; }
}

@keyframes from-112-to-200 {
    0% { left: -112%; }
    100% { left: -200%; }
}

@keyframes from-88-to0 {
    0% { left: -88%; }
    100% { left: 0%; }
}

@keyframes from-113-to-200 {
    0% { left: -113%; }
    100% { left: -200%; }
}

@keyframes from-87-to0 {
    0% { left: -87%; }
    100% { left: 0%; }
}

@keyframes from-114-to-200 {
    0% { left: -114%; }
    100% { left: -200%; }
}

@keyframes from-86-to0 {
    0% { left: -86%; }
    100% { left: 0%; }
}

@keyframes from-115-to-200 {
    0% { left: -115%; }
    100% { left: -200%; }
}

@keyframes from-85-to0 {
    0% { left: -85%; }
    100% { left: 0%; }
}

@keyframes from-116-to-200 {
    0% { left: -116%; }
    100% { left: -200%; }
}

@keyframes from-84-to0 {
    0% { left: -84%; }
    100% { left: 0%; }
}

@keyframes from-117-to-200 {
    0% { left: -117%; }
    100% { left: -200%; }
}

@keyframes from-83-to0 {
    0% { left: -83%; }
    100% { left: 0%; }
}

@keyframes from-118-to-200 {
    0% { left: -118%; }
    100% { left: -200%; }
}

@keyframes from-82-to0 {
    0% { left: -82%; }
    100% { left: 0%; }
}

@keyframes from-119-to-200 {
    0% { left: -119%; }
    100% { left: -200%; }
}

@keyframes from-81-to0 {
    0% { left: -81%; }
    100% { left: 0%; }
}

@keyframes from-120-to-200 {
    0% { left: -120%; }
    100% { left: -200%; }
}

@keyframes from-80-to0 {
    0% { left: -80%; }
    100% { left: 0%; }
}

@keyframes from-121-to-200 {
    0% { left: -121%; }
    100% { left: -200%; }
}

@keyframes from-79-to0 {
    0% { left: -79%; }
    100% { left: 0%; }
}

@keyframes from-122-to-200 {
    0% { left: -122%; }
    100% { left: -200%; }
}

@keyframes from-78-to0 {
    0% { left: -78%; }
    100% { left: 0%; }
}

@keyframes from-123-to-200 {
    0% { left: -123%; }
    100% { left: -200%; }
}

@keyframes from-77-to0 {
    0% { left: -77%; }
    100% { left: 0%; }
}

@keyframes from-124-to-200 {
    0% { left: -124%; }
    100% { left: -200%; }
}

@keyframes from-76-to0 {
    0% { left: -76%; }
    100% { left: 0%; }
}

@keyframes from-125-to-200 {
    0% { left: -125%; }
    100% { left: -200%; }
}

@keyframes from-75-to0 {
    0% { left: -75%; }
    100% { left: 0%; }
}

@keyframes from-126-to-200 {
    0% { left: -126%; }
    100% { left: -200%; }
}

@keyframes from-74-to0 {
    0% { left: -74%; }
    100% { left: 0%; }
}

@keyframes from-127-to-200 {
    0% { left: -127%; }
    100% { left: -200%; }
}

@keyframes from-73-to0 {
    0% { left: -73%; }
    100% { left: 0%; }
}

@keyframes from-128-to-200 {
    0% { left: -128%; }
    100% { left: -200%; }
}

@keyframes from-72-to0 {
    0% { left: -72%; }
    100% { left: 0%; }
}

@keyframes from-129-to-200 {
    0% { left: -129%; }
    100% { left: -200%; }
}

@keyframes from-71-to0 {
    0% { left: -71%; }
    100% { left: 0%; }
}

@keyframes from-130-to-200 {
    0% { left: -130%; }
    100% { left: -200%; }
}

@keyframes from-70-to0 {
    0% { left: -70%; }
    100% { left: 0%; }
}

@keyframes from-131-to-200 {
    0% { left: -131%; }
    100% { left: -200%; }
}

@keyframes from-69-to0 {
    0% { left: -69%; }
    100% { left: 0%; }
}

@keyframes from-132-to-200 {
    0% { left: -132%; }
    100% { left: -200%; }
}

@keyframes from-68-to0 {
    0% { left: -68%; }
    100% { left: 0%; }
}

@keyframes from-133-to-200 {
    0% { left: -133%; }
    100% { left: -200%; }
}

@keyframes from-67-to0 {
    0% { left: -67%; }
    100% { left: 0%; }
}

@keyframes from-134-to-200 {
    0% { left: -134%; }
    100% { left: -200%; }
}

@keyframes from-66-to0 {
    0% { left: -66%; }
    100% { left: 0%; }
}

@keyframes from-135-to-200 {
    0% { left: -135%; }
    100% { left: -200%; }
}

@keyframes from-65-to0 {
    0% { left: -65%; }
    100% { left: 0%; }
}

@keyframes from-136-to-200 {
    0% { left: -136%; }
    100% { left: -200%; }
}

@keyframes from-64-to0 {
    0% { left: -64%; }
    100% { left: 0%; }
}

@keyframes from-137-to-200 {
    0% { left: -137%; }
    100% { left: -200%; }
}

@keyframes from-63-to0 {
    0% { left: -63%; }
    100% { left: 0%; }
}

@keyframes from-138-to-200 {
    0% { left: -138%; }
    100% { left: -200%; }
}

@keyframes from-62-to0 {
    0% { left: -62%; }
    100% { left: 0%; }
}

@keyframes from-139-to-200 {
    0% { left: -139%; }
    100% { left: -200%; }
}

@keyframes from-61-to0 {
    0% { left: -61%; }
    100% { left: 0%; }
}

@keyframes from-140-to-200 {
    0% { left: -140%; }
    100% { left: -200%; }
}

@keyframes from-60-to0 {
    0% { left: -60%; }
    100% { left: 0%; }
}

@keyframes from-141-to-200 {
    0% { left: -141%; }
    100% { left: -200%; }
}

@keyframes from-59-to0 {
    0% { left: -59%; }
    100% { left: 0%; }
}

@keyframes from-142-to-200 {
    0% { left: -142%; }
    100% { left: -200%; }
}

@keyframes from-58-to0 {
    0% { left: -58%; }
    100% { left: 0%; }
}

@keyframes from-143-to-200 {
    0% { left: -143%; }
    100% { left: -200%; }
}

@keyframes from-57-to0 {
    0% { left: -57%; }
    100% { left: 0%; }
}

@keyframes from-144-to-200 {
    0% { left: -144%; }
    100% { left: -200%; }
}

@keyframes from-56-to0 {
    0% { left: -56%; }
    100% { left: 0%; }
}

@keyframes from-145-to-200 {
    0% { left: -145%; }
    100% { left: -200%; }
}

@keyframes from-55-to0 {
    0% { left: -55%; }
    100% { left: 0%; }
}

@keyframes from-146-to-200 {
    0% { left: -146%; }
    100% { left: -200%; }
}

@keyframes from-54-to0 {
    0% { left: -54%; }
    100% { left: 0%; }
}

@keyframes from-147-to-200 {
    0% { left: -147%; }
    100% { left: -200%; }
}

@keyframes from-53-to0 {
    0% { left: -53%; }
    100% { left: 0%; }
}

@keyframes from-148-to-200 {
    0% { left: -148%; }
    100% { left: -200%; }
}

@keyframes from-52-to0 {
    0% { left: -52%; }
    100% { left: 0%; }
}

@keyframes from-149-to-200 {
    0% { left: -149%; }
    100% { left: -200%; }
}

@keyframes from-51-to0 {
    0% { left: -51%; }
    100% { left: 0%; }
}

@keyframes from-150-to-200 {
    0% { left: -150%; }
    100% { left: -200%; }
}

@keyframes from-50-to0 {
    0% { left: -50%; }
    100% { left: 0%; }
}

@keyframes from-151-to-200 {
    0% { left: -151%; }
    100% { left: -200%; }
}

@keyframes from-49-to0 {
    0% { left: -49%; }
    100% { left: 0%; }
}

@keyframes from-152-to-200 {
    0% { left: -152%; }
    100% { left: -200%; }
}

@keyframes from-48-to0 {
    0% { left: -48%; }
    100% { left: 0%; }
}

@keyframes from-153-to-200 {
    0% { left: -153%; }
    100% { left: -200%; }
}

@keyframes from-47-to0 {
    0% { left: -47%; }
    100% { left: 0%; }
}

@keyframes from-154-to-200 {
    0% { left: -154%; }
    100% { left: -200%; }
}

@keyframes from-46-to0 {
    0% { left: -46%; }
    100% { left: 0%; }
}

@keyframes from-155-to-200 {
    0% { left: -155%; }
    100% { left: -200%; }
}

@keyframes from-45-to0 {
    0% { left: -45%; }
    100% { left: 0%; }
}

@keyframes from-156-to-200 {
    0% { left: -156%; }
    100% { left: -200%; }
}

@keyframes from-44-to0 {
    0% { left: -44%; }
    100% { left: 0%; }
}

@keyframes from-157-to-200 {
    0% { left: -157%; }
    100% { left: -200%; }
}

@keyframes from-43-to0 {
    0% { left: -43%; }
    100% { left: 0%; }
}

@keyframes from-158-to-200 {
    0% { left: -158%; }
    100% { left: -200%; }
}

@keyframes from-42-to0 {
    0% { left: -42%; }
    100% { left: 0%; }
}

@keyframes from-159-to-200 {
    0% { left: -159%; }
    100% { left: -200%; }
}

@keyframes from-41-to0 {
    0% { left: -41%; }
    100% { left: 0%; }
}

@keyframes from-160-to-200 {
    0% { left: -160%; }
    100% { left: -200%; }
}

@keyframes from-40-to0 {
    0% { left: -40%; }
    100% { left: 0%; }
}

@keyframes from-161-to-200 {
    0% { left: -161%; }
    100% { left: -200%; }
}

@keyframes from-39-to0 {
    0% { left: -39%; }
    100% { left: 0%; }
}

@keyframes from-162-to-200 {
    0% { left: -162%; }
    100% { left: -200%; }
}

@keyframes from-38-to0 {
    0% { left: -38%; }
    100% { left: 0%; }
}

@keyframes from-163-to-200 {
    0% { left: -163%; }
    100% { left: -200%; }
}

@keyframes from-37-to0 {
    0% { left: -37%; }
    100% { left: 0%; }
}

@keyframes from-164-to-200 {
    0% { left: -164%; }
    100% { left: -200%; }
}

@keyframes from-36-to0 {
    0% { left: -36%; }
    100% { left: 0%; }
}

@keyframes from-165-to-200 {
    0% { left: -165%; }
    100% { left: -200%; }
}

@keyframes from-35-to0 {
    0% { left: -35%; }
    100% { left: 0%; }
}

@keyframes from-166-to-200 {
    0% { left: -166%; }
    100% { left: -200%; }
}

@keyframes from-34-to0 {
    0% { left: -34%; }
    100% { left: 0%; }
}

@keyframes from-167-to-200 {
    0% { left: -167%; }
    100% { left: -200%; }
}

@keyframes from-33-to0 {
    0% { left: -33%; }
    100% { left: 0%; }
}

@keyframes from-168-to-200 {
    0% { left: -168%; }
    100% { left: -200%; }
}

@keyframes from-32-to0 {
    0% { left: -32%; }
    100% { left: 0%; }
}

@keyframes from-169-to-200 {
    0% { left: -169%; }
    100% { left: -200%; }
}

@keyframes from-31-to0 {
    0% { left: -31%; }
    100% { left: 0%; }
}

@keyframes from-170-to-200 {
    0% { left: -170%; }
    100% { left: -200%; }
}

@keyframes from-30-to0 {
    0% { left: -30%; }
    100% { left: 0%; }
}

@keyframes from-171-to-200 {
    0% { left: -171%; }
    100% { left: -200%; }
}

@keyframes from-29-to0 {
    0% { left: -29%; }
    100% { left: 0%; }
}

@keyframes from-172-to-200 {
    0% { left: -172%; }
    100% { left: -200%; }
}

@keyframes from-28-to0 {
    0% { left: -28%; }
    100% { left: 0%; }
}

@keyframes from-173-to-200 {
    0% { left: -173%; }
    100% { left: -200%; }
}

@keyframes from-27-to0 {
    0% { left: -27%; }
    100% { left: 0%; }
}

@keyframes from-174-to-200 {
    0% { left: -174%; }
    100% { left: -200%; }
}

@keyframes from-26-to0 {
    0% { left: -26%; }
    100% { left: 0%; }
}

@keyframes from-175-to-200 {
    0% { left: -175%; }
    100% { left: -200%; }
}

@keyframes from-25-to0 {
    0% { left: -25%; }
    100% { left: 0%; }
}

@keyframes from-176-to-200 {
    0% { left: -176%; }
    100% { left: -200%; }
}

@keyframes from-24-to0 {
    0% { left: -24%; }
    100% { left: 0%; }
}

@keyframes from-177-to-200 {
    0% { left: -177%; }
    100% { left: -200%; }
}

@keyframes from-23-to0 {
    0% { left: -23%; }
    100% { left: 0%; }
}

@keyframes from-178-to-200 {
    0% { left: -178%; }
    100% { left: -200%; }
}

@keyframes from-22-to0 {
    0% { left: -22%; }
    100% { left: 0%; }
}

@keyframes from-179-to-200 {
    0% { left: -179%; }
    100% { left: -200%; }
}

@keyframes from-21-to0 {
    0% { left: -21%; }
    100% { left: 0%; }
}

@keyframes from-180-to-200 {
    0% { left: -180%; }
    100% { left: -200%; }
}

@keyframes from-20-to0 {
    0% { left: -20%; }
    100% { left: 0%; }
}

@keyframes from-181-to-200 {
    0% { left: -181%; }
    100% { left: -200%; }
}

@keyframes from-19-to0 {
    0% { left: -19%; }
    100% { left: 0%; }
}

@keyframes from-182-to-200 {
    0% { left: -182%; }
    100% { left: -200%; }
}

@keyframes from-18-to0 {
    0% { left: -18%; }
    100% { left: 0%; }
}

@keyframes from-183-to-200 {
    0% { left: -183%; }
    100% { left: -200%; }
}

@keyframes from-17-to0 {
    0% { left: -17%; }
    100% { left: 0%; }
}

@keyframes from-184-to-200 {
    0% { left: -184%; }
    100% { left: -200%; }
}

@keyframes from-16-to0 {
    0% { left: -16%; }
    100% { left: 0%; }
}

@keyframes from-185-to-200 {
    0% { left: -185%; }
    100% { left: -200%; }
}

@keyframes from-15-to0 {
    0% { left: -15%; }
    100% { left: 0%; }
}

@keyframes from-186-to-200 {
    0% { left: -186%; }
    100% { left: -200%; }
}

@keyframes from-14-to0 {
    0% { left: -14%; }
    100% { left: 0%; }
}

@keyframes from-187-to-200 {
    0% { left: -187%; }
    100% { left: -200%; }
}

@keyframes from-13-to0 {
    0% { left: -13%; }
    100% { left: 0%; }
}

@keyframes from-188-to-200 {
    0% { left: -188%; }
    100% { left: -200%; }
}

@keyframes from-12-to0 {
    0% { left: -12%; }
    100% { left: 0%; }
}

@keyframes from-189-to-200 {
    0% { left: -189%; }
    100% { left: -200%; }
}

@keyframes from-11-to0 {
    0% { left: -11%; }
    100% { left: 0%; }
}

@keyframes from-190-to-200 {
    0% { left: -190%; }
    100% { left: -200%; }
}

@keyframes from-10-to0 {
    0% { left: -10%; }
    100% { left: 0%; }
}

@keyframes from-191-to-200 {
    0% { left: -191%; }
    100% { left: -200%; }
}

@keyframes from-9-to0 {
    0% { left: -9%; }
    100% { left: 0%; }
}

@keyframes from-192-to-200 {
    0% { left: -192%; }
    100% { left: -200%; }
}

@keyframes from-8-to0 {
    0% { left: -8%; }
    100% { left: 0%; }
}

@keyframes from-193-to-200 {
    0% { left: -193%; }
    100% { left: -200%; }
}

@keyframes from-7-to0 {
    0% { left: -7%; }
    100% { left: 0%; }
}

@keyframes from-194-to-200 {
    0% { left: -194%; }
    100% { left: -200%; }
}

@keyframes from-6-to0 {
    0% { left: -6%; }
    100% { left: 0%; }
}

@keyframes from-195-to-200 {
    0% { left: -195%; }
    100% { left: -200%; }
}

@keyframes from-5-to0 {
    0% { left: -5%; }
    100% { left: 0%; }
}

@keyframes from-196-to-200 {
    0% { left: -196%; }
    100% { left: -200%; }
}

@keyframes from-4-to0 {
    0% { left: -4%; }
    100% { left: 0%; }
}

@keyframes from-197-to-200 {
    0% { left: -197%; }
    100% { left: -200%; }
}

@keyframes from-3-to0 {
    0% { left: -3%; }
    100% { left: 0%; }
}

@keyframes from-198-to-200 {
    0% { left: -198%; }
    100% { left: -200%; }
}

@keyframes from-2-to0 {
    0% { left: -2%; }
    100% { left: 0%; }
}

@keyframes from-199-to-200 {
    0% { left: -199%; }
    100% { left: -200%; }
}

@keyframes from-1-to0 {
    0% { left: -1%; }
    100% { left: 0%; }
}

