@import "keyframes.css";

/********************
 ** FONT IMPORTING **
 ********************/

/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD3gTD_u50.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD3g3D_u50.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD3gbD_u50.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD3gfD_u50.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_cJD3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459WRhyzbi.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459W1hyzbi.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459WZhyzbi.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459Wdhyzbi.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTUSjIg1_i6t8kCHKm459Wlhyw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3gTD_u50.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3g3D_u50.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3gbD_u50.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3gfD_u50.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url(https://fonts.gstatic.com/s/montserrat/v18/JTURjIg1_i6t8kCHKm45_ZpC3gnD_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}




/******************
 ** HEADER / NAV **
 ******************/

.main-nav {
  display: flex;
  align-self: center;
  flex-grow: 1;
  justify-content: space-between;
  align-items: center;
}

.main-nav_left {
  width: 66%;
}

.main-nav_right {
  width: 16.5%;
}

.main-nav_left, .main-nav_right {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-nav_center {
  width: 16.5%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 35px;
}

.header-text {
  font-size: 14px;
  color: #777;
}

.logo-img {
  width: 97.4px;
  vertical-align: middle;
}

#search-box-container {
  flex-grow: 1;
  max-width: 650px;
  background-color: var(--fp-light-grey);
  z-index: 99;
}
#search-box-container img {
  margin: 7px;
  width: 20px;
}
#search-box-container label {
  display: flex;
}
input#search-box {
  width: 100%;
  border: none;
  height: 40px;
  background: none;
  color: #333;
  font-weight: 500;
  align-self: center;
  font-size: 13px;
}

input#search-box::placeholder {
  color: #999;
  opacity: 1;
}

.placeholder-light::placeholder {
  color: white !important;
  opacity: 1;
}


.search-form {
  display: none;
  position: absolute;
  max-width: 650px;
  width: 100%;
  background: white;
  margin: 0 -15px;
  padding: 60px 130px;
  z-index: 99;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.search-form th, .search-form td {
  padding: 10px 15px;
}

.search-form label {
  font-weight: initial;
  justify-content: left;
  color: #333;
  text-transform: uppercase;
}

.search-form-section {
  margin-bottom: 40px;
}

.search-form-section div {
  margin: 15px 0;
}

.daterange {
  display: flex;
  justify-content: space-between;
}

.daterange div {
  margin: 0 5px;
}

.daterange input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
  background: white;
  border-bottom: 2px solid var(--fp-main-grey);
}

.search-options {
  align-self: center;
}

.search-box-content {
  display: flex;
  justify-content: space-between;
  padding: 0 15px;
}


button#login-btn, .logout-btn, input[type="submit"] {
  padding: 11px 15px;
  text-transform: uppercase;
  font-size: 15px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
button#login-btn, .logout-btn {
  background-color: white;
  color: var(--fp-main-blue);
}
button#login-btn:hover, .logout-btn:hover, input[type="submit"]:hover {
  background-color: var(--fp-main-blue);
  color: white;
}
.logout-btn {
  background-color: var(--fp-main-grey);
  color: var(--fp-main-blue);
}
.logout-btn a {
  color: var(--fp-main-blue);
  text-decoration: none;
}
.logout-btn:hover a {
  color: white;
}
button#login-btn:hover {
  color: var(--fp-light-grey);
}
#login {
  position: absolute;
  z-index: 1000;
  background-color: var(--fp-light-grey);
  padding: 30px
}
#login form {
  display: flex;
  flex-direction: column;
}
#login form input {
  margin: 10px 0;
}
#login form input[type="text"], #login form input[type="password"] {
  background: var(--fp-main-grey);
}

#login p a {
  color: var(--fp-main-blue);
  text-decoration: none;
}

#login p {
  margin-bottom: 5px;
}

.new-label {
  width: 60px;
  vertical-align: middle;
}
.carrot {
  width: 15px !important;
  vertical-align: middle;
  cursor: pointer;
}
.grid-icon_reg, .timeline-icon {
  vertical-align: middle;
  width: 20px;
}
.new-label_container:hover, .grid-icon:hover, .timeline-container:hover {
  background-color: var(--fp-secondary-ticker-color);
}
.new-label_container:hover > a img, .grid-icon:hover > a img, .timeline-container:hover > a img {
  opacity: 1 !important;
  filter: brightness(0) invert(1);
}
.new-label_container, .grid-icon, .timeline-container {
  padding: 10px;
}
.current-view {
  background: var(--fp-main-blue);
}
.current-view a img{
  opacity: 1 !important;
  filter: brightness(0) invert(1);
}

.register-container, .collection_create-container, .login-page-container, .add_tag-container, .container-center {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-container form, .collection_create-container form, .login-page-container form, .add_tag-container form, .container-center form {
  width: 50%;
  max-width: 500px;
}

.register-container form p, .collection_create-container form p, .login-page-container form p, .add_tag-container form p, .container-center form p {
  margin-bottom: 6%;
}

.register-container input[type="submit"], .collection_create-container input[type="submit"] {
  margin-top: 25px;
}

.login-page-container input[type="submit"] {
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 25px;
}

.login-page-container p:first-child {
  margin-bottom: 40px;
}

.login-page-container table {
  width: 100%;
}

.add_tag-container img {
  margin-top: 40px;
  width: 50%;
    max-height: 100%;
}

.add_tag-container form p {
  margin-top: 50px;
}

.add_tag-container span.back-btn a {
  font-size: 13px;
  color: var(--fp-main-blue);
  padding: 11px 15px;
  text-transform: uppercase;
  font-weight: bold;
}

.add_tag-container span.back-btn a:hover {
  color: white !important;
  background: var(--fp-main-blue);
}

.collection_delete-container input[type="submit"] {
  margin-right: 20px;
}

.collection_delete-container form {
  text-align: center;
}

.hamburger {
  cursor: pointer;
  padding: 10px;
}

.hamburger img {
  height: 100%;
  width: 25px;
  vertical-align: bottom;
}

.hamburger-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.hamburger:hover {
  background-color: var(--fp-main-blue);
}

.hamburger:hover > img.hamburger-icon {
  filter: brightness(0) invert(1);
}

.hamburger-menu {
  padding: 35px 15px 15px 15px;
  background: var(--fp-light-grey);
  position: absolute;
  z-index: 1000;
  top: 15px;
  width: 250px;
}

.hamburger-menu ul {
  display: block;
}

.hamburger-menu li {
  list-style-type: none;
  padding: 12px;
}

.hamburger-menu li a {
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
}

.hamburger-menu li a:hover {
  color: var(--fp-main-blue);
}

.hamburger-menu li.active {
  background: var(--fp-main-blue);
}

.hamburger-menu li.active > a {
  color: white;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 27px !important;
  cursor: pointer;
  color: var(--fp-main-blue);
}

.close-btn:hover {
  color: #aaa;
}

.search-box-content_inner {
  width: 95%;
    padding: 0 7px 0 5px;
}






/******************
 ** MAIN CONTENT **
 ******************/


main article.fi-image {
  grid-area: current-image;

  display: grid;
  grid-template-rows: 30% auto 30%;
  grid-template-columns: 30px 3% 1fr 1fr 3% 30px;

  position: relative;
  margin: auto;
}

main .img-left-space{
  grid-area: img-left-space;
  background: #dcddde;
}

main .img-right-space{
  grid-area: img-right-space;
  background: #dcddde;
}

main .fi-image-background{
  grid-area: current-image;
  background: #c7c8ca;
}
.fi-image figure {
  grid-row-start: 1;
  grid-row-end: span 4;
  grid-column-start: 1;
  grid-column-end: span 6;
  display: flex;
  justify-content: center;
  margin-left: 50%;
  transform: translateX(-50%);
}

.fi-image figure img {
  margin: auto;
}

.fi-image .control {
  position: absolute;
  height: 100%;
  width: 100%;
}

.fi-image .control.previous {
  grid-column: 1 / 4;
  cursor: url('../images/arrow-cursor-back.png'), auto;
  width: 100vw;
  transform: translateX(-50%);
}

.fi-image .control.forward {
  grid-column-start: 4;
  cursor: url('../images/arrow-cursor.png'), auto;
  width: 100vw;
}

@media only screen and (max-width: 900px) {
  .fi-image .control.previous {
    transform: translateX(-20%);
  }
}

.fi-image #expand, .fi-image #dl {
  grid-row-start: 4;
  grid-column-start: 6;
  grid-column-end: span 1;
  justify-self: end;
  align-self: end;
  z-index:1000;

  height: 40px;
  width: 40px;
  background: rgb(255,255,255,0.9);
  border: none;
  color: var(--fp-main-blue);
  cursor: pointer;
  font-size: 30px;
}

.fi-image #dl {
  grid-column-start: 5;
  margin-right: 10px;
}

#expand img {
  width: 20px;
}

#dl img {
  width: 17px;
}

.add-tag {
  font-size: 20px;
  text-decoration: none;
  vertical-align: sub;
}

.arrow {
  border: solid #ddd;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.photo-grid {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 1.5rem;
  margin: 0 auto;
  list-style-type: none;
  margin-top: 1.5rem;
  padding-bottom: 50px;
}

.photo-grid li a img {
  object-fit: cover;
  max-height: 100%;
  width: 100%;
  display: block;
  height: 45vh;
}

.user-header {
  height: 250px;
  background: url('../images/user-bg.png');
  background-blend-mode: saturation;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-content {
  width: 50%;
  max-width: 800px;
  justify-self: center;
  margin-top: 60px;
}

.user-page-content {
  display: grid;
  grid-template-rows: inherit;
}

.user-page-content div:first-child {
  margin-bottom: 20px;
  text-align: center;
  line-height: 2em;
}

.overlay {
  opacity: 0.5;
  background: #333;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
}

.collection-grid ul li {
  list-style-type: none;
}

.collection-name {
  position: absolute;
  top: 100px;
  font-size: 12px;
  color: var(--fp-main-blue);
  background: var(--fp-light-grey);
  padding: 7px 17px;
  z-index: 998;
}


#follow-zoom {
    margin: 0px auto 150px auto;
}

#download-container {
    
    margin: 50px auto 10px auto;

    width: 80vw;
}

.download-text {
    font-size: 36px;

    
}



/*******************
 ** MAIN TIMELINE **
 *******************/

 main .car-left-space{
   grid-area: car-left-space;
   background: #f1f2f2;
 }

 main .car-right-space{
   grid-area: car-right-space;
   background: #f1f2f2;
 }

.fi-timeline {
    grid-area: timeline;
  flex-direction: column;
  /*max-width: 1140px;*/ß
  justify-self: center;
  /*width: 1140px;*/
  min-height: 150px;
  align-self: center;

  background: #e6e7e8;
}

.fi-thumbnail-carousel {
  height: 130px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

.back-arrows, .forward-arrows {
  width: 110px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 20px;
  box-shadow: 0 0 25px rgba(0,0,0,0.4);
  position: relative;
  z-index: 2;
}

.back-arrows {
  justify-content: flex-end;
  clip-path: inset(0px -25px 0px 1px);
}

.forward-arrows {
  clip-path: inset(0px 0px 0px -25px);
}

.forward-arrows img {
  transform: scaleX(-1);
}

.back-arrows img, .forward-arrows img {
  width: 25px;
}

.slide-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  width: 100%;
}

#fi-thumbnail-carousel-images {
  background-color: var(--fp-light-grey);
  position: absolute;
  left: -950px;
  height: 100%;
}

#fi-preload-zone {
    position: absolute;
    left: -9999999px;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

#fi-thumbnail-carousel-images li {
  --carousel-image-padding: 10px;
  padding: var(--carousel-image-padding);
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#fi-thumbnail-carousel-images li img {
    width: auto;
}

#fi-thumbnail-carousel-images li[data-active]:before {
  content: '';
  margin: 0 10px;
  position: absolute;
  top: 0;
  height: 5px;
  width: calc(100% - var(--carousel-image-padding));
  background-color: var(--fp-main-blue);
}

#fi-thumbnail-carousel-images li[data-active]:after {
  --active-image-arrow-size: 8px;
  content: '';
  position: absolute;
  top: calc(var(--active-image-arrow-size) * -1);
  width: 0;
  height: 0;
  border-left: var(--active-image-arrow-size) solid transparent;
  border-right: var(--active-image-arrow-size) solid transparent;
  border-bottom: var(--active-image-arrow-size) solid var(--fp-main-blue);
}

.year-ticker {
    grid-area: year-ticker;

  display: flex;
  flex-direction: row;
  background: white;
  position: relative;
  z-index: 3;
  margin-top: 20px;
  width: 100%;
  margin-bottom: 20px;
}

.year-ticker svg {
  width: 100%;
  margin-left: 40px;
  margin-right: 40px;
}


/*==============================*/
/*       DOWNLOAD PAGE          */
/*                              */
/*==============================*/

#download-container .back-btn a {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 11px 15px;
    
}

#download-container .back-btn a:hover {
    color: white;
    background: var(--fp-main-blue);
}







/* ======================================================================== */
/* These styles are very fragile and are meant to only address the specific */
/* scenario that the bookend years are getting cut off by the overflow */
/* and this was the only fix I could find at the time */
/* ======================================================================== */
.year-ticker a:first-of-type text {
  text-anchor: start;
}

.year-ticker a:last-of-type text {
  text-anchor: end;
}
/* ======================================================================== */

.year-min, .year-max {
  width: 110px;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 17px;
  background-color: var(--fp-light-grey);
}

.year-min {
  justify-content: right;
}

.year-min img, .year-max img {
  width: 8px;
  margin: 0px 5px;
}

.year-max img {
  transform: scaleX(-1);
}

.year-ticker-increments {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  height: 100%;
  background-color: var(--fp-main-grey);
  padding: 5px;
}

.year-ticker-increments > li:nth-of-type(2n) {
  color: var(--fp-secondary-ticker-color);
}

.grid-navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.tl a:hover > rect {
  fill: var(--fp-main-blue);
}






/******************
 ** MARKER STUFF **
 ******************/

.active-year-marker {
  position: absolute;
  display: none;
  transition: 0.2s cubic-bezier(0.33, 1, 0.68, 1);
  pointer-events: auto;
  bottom: 0;
}
.marker-image {
  width: 65px;
  height: 36px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.no-point {
  pointer-events: none;
}






/**********************
 ****** METADATA ******
 **********************/

#metadata {
  grid-row: 3 / span 2;
  grid-column: 1 / span 6;
  background-color: rgb(230,231,232);
  padding: 20px;
  position: relative;
  z-index: 10;
  bottom: 0;
}

#metadata ul {
  list-style-type: none;
}

#metadata ul li {
  padding: 5px 0;
  font-size: 12px;
}

#metadata ul .field-name {
  color: var(--fp-main-blue);
  text-transform: uppercase;
  padding-right: 4px;
  font-weight: bold;
}

#metadata .metadata-1a ul > li:first-child {
  font-weight: 500;
  font-size: 16px;
}

.metadata-2a {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  align-self: end;
}

.metadata-3a {
  border-left: 1px solid var(--fp-main-blue);
  padding-left: 20px;
  font-size: 10px;
  grid-row: 1 / span 1;
  grid-column: 2 / span 1;
  margin-left: 20px;
}

.gridden {
    display: grid;
}

.hidden {
    display: none !important;
}

.download-icon {
  width: 18px;
  vertical-align: sub;
}
